[2020-01-08 19:13] #2232 closed

[2020-01-09 15:42] #1677 closed

[2020-01-09 15:42] #2265 closed

[2020-01-09 19:14] hutchic commented on #2267
I haven't examined the specific go code but is it possible this could be related to https://github.com/Kong/kong/issues/5309 ?

[2020-01-09 21:45] andresrinivasan commented on #1950
Redis 6 supports mutual auth TLS and RBAC. While I'm open to trying to upgrade for Geneva, I strongly recommend sticking with Redis 5.x for Geneva and switch to Redis 6 for Hanoi.

[Redis 6 RC1 is out today](http://antirez.com/news/131)

[2020-01-09 23:29] andresrinivasan opened #2270 "Switch default db provider to Redis (Tracking Issue)"
# 🚀 Feature Request

### Relevant Package

Digging into details now

### Description

As agreed at the October 2019 F2F, Redis is to become the default DB provider for EdgeX. It was also agreed that the Redis integration would be updated to support authentication as provided by EdgeX Secrets.

Tracked issues:

- ~~https://github.com/edgexfoundry/developer-scripts/issues/207~~
- ~~https://github.co

[2020-01-09 23:34] andresrinivasan commented on #1490
To clear Redis, send the [FLUSHALL](https://redis.io/commands/flushall) command.

[code]

[2020-01-09 23:52] bnevis-i opened #2271 "Switch edgex-proxy to use service token instead of root token"
# 🚀 Feature Request

### Relevant Package
edgex-proxy

### Description
Security team is deprecating the use of the root token in resp-init.json.  The edgex-proxy service currently configures the Kong proxy certificate and accesses the secret store to retrieve it using the root token.

### Describe the solution you'd like
Switch to using the service specific token for edgex-proxy.

[2020-01-10 05:35] FelixTing commented on #2267
btw, this function works fine in the Edinburgh release.

[2020-01-10 06:04] FelixTing opened #2272 "Response of issueDeviceCommand is not providing CBOR Content-Type header"
# 🐞 Bug Report

### Affected Services

 The issue is located in: command

### Is this a regression?

 No

### Description and Minimal Reproduction
Function [issueDeviceCommand](https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/command/restDevice.go#L54) and [issueDeviceCommandByNames](https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/command/restDevice.go#L126) is

[2020-01-10 13:48] michaelestrin opened #2273 "Update to support Golang-based acceptance testing"
As proposed in December QA/Testing WG call and demonstrated in edgexfoundry/edgex-go@master...michaelestrin:testing-poc

Update services to use new Run() method signature.  Shift main.go functionality into individual service-specific packages.  Create skeleton for memory-based persistence implementation.  ~~Implement simple example acceptance test.~~

[2020-01-10 13:48] michaelestrin commented on #2273
Dependent upon completion of https://github.com/edgexfoundry/go-mod-bootstrap/issues/27

[2020-01-10 14:33] michaelestrin commented on #2270
@andresrinivasan reach out to @lenny-intel or @rsdmike to create issues related to migrating from Mongo to Redis in the AppFunc space.

[2020-01-10 20:25] bnevis-i commented on #2271
Duplicate of https://github.com/edgexfoundry/edgex-go/issues/1930

[2020-01-10 20:25] #2271 closed

[2020-01-13 06:42] Nitu-coder opened #2275 "Run error of duplicate key in database"
Hello,

I have taken the latest code and build it. When i execute make run command, my services fail with the following error logs

level=ERROR ts=2020-01-13T06:38:03.244007168Z app=edgex-support-scheduler source=init.go:63 msg="**Failed to load schedules and events E11000 duplicate key error collection: scheduler.intervalAction index: slug_1 dup key: { : null** }"**
level=INFO ts=2020-01-13T06:38

[2020-01-13 14:10] michaelestrin commented on #2273
Omitted example simple acceptance test.  Based on community discussion, expect this type of Golang-based acceptance testing to start being implemented on V2 API endpoints (and not the existing V1).

[2020-01-13 14:24] michaelestrin opened #2277 "Add Skeletal Support for API V2 Implementation"
Dependent on https://github.com/edgexfoundry/edgex-go/issues/2273

[2020-01-13 16:20] #2273 closed

[2020-01-13 16:21] jpwhitemn commented on #2275
Nitu - are you starting with a clean database volume?  Also, it looks like an issue with setting up a schedule.  Did you create a new schedule via some service?

    On Sunday, January 12, 2020, 11:42:09 PM MST, Nitu <notifications@github.com> wrote:

Hello,

I have taken the latest code and build it. When i execute make run command, my services fail with the following error logs

level=ERROR ts=2

[2020-01-13 20:07] andresrinivasan opened #2278 "Security related markdown cleanup and correct Fuji Docker Compose file reference"
# 🐞 Bug Report

### Affected Services

No services are affected.

### Is this a regression?

No.

### Description and Minimal Reproduction

* Lots of Markdown lint warnings.
* Incorrect reference to `...developer-scripts/master/releases/fuji/compose-files/docker-compose-fuji.yml`

## 🔥 Exception or Error

N/A

## 🌍  Your Environment
**Deployment Environment:**

**EdgeX Version:** Master branch

**

[2020-01-14 05:46] hahattan opened #2280 "Remove UpdateLastConnected logic in coredata"
Following through the discussion in [#429](https://github.com/edgexfoundry/device-sdk-go/pull/429), now the `LastConnected` timestamp will only be updated by Device SDK.
We should remove the related logic in edgex-go

[2020-01-14 06:55] Nitu-coder commented on #2275
Yes its working now after clearing the entire database volume. Thanks

[2020-01-14 09:29] Nitu-coder commented on #2275
http://localhost:8500/ is gives me unable to connect. Any security thing missing ??

Services have started successfully.

[2020-01-14 12:50] michaelestrin commented on #2275
GitHub issues are for reporting issues and tracking work.  This issue is requesting support.  Please connect with the community for support via EdgeXFoundry's Slack channels or mailing lists.  See https://wiki.edgexfoundry.org/display/FA/Getting+Help for more information.

[2020-01-14 12:50] #2275 closed

[2020-01-14 14:02] #1930 closed

[2020-01-14 16:13] #1927 closed

[2020-01-14 16:13] #1928 closed

[2020-01-15 10:08] hahattan opened #2281 "Database transaction mechanism on updating device's properties"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Metadata

### Is this a regression?

 No

### Description and Minimal Reproduction
This issue was found during resolving #2280, basically we need to do is move the [UpdateLastConnected logic](https://github.com/edgexfoundry/edgex-go/blob/dc418d78119841c12533dc76385ae689c1b3f3d2/internal/core/data/device.go#L53-L57) to Device SDK (whi

[2020-01-15 13:19] michaelestrin commented on #2281
It sounds like you're executing two separate requests simultaneously that update different fields on the same object.  This is a classic problem -- thread A reads object, thread B reads object, thread A updates field Y, thread B updates field Z, thread A saves object, thread B saves object.  Result is thread A's update is lost.

This is expected behavior given our current implementation.

[2020-01-15 13:19] #2281 closed

[2020-01-15 15:27] tingyuz commented on #2267
This is due to recent change of the docker-compose file in Fuji. I had discussion with @anonymouse64 and we agreed to improve this part in both user guide and dock-composer file in the following steps. I will work on it.
Short version of the answer - we can't use the same docker-compose file to create token. It needs some update.

A bit details in length:
As part of the service dependence check in

[2020-01-15 16:12] bnevis-i commented on #2267
How about this workaround instead?

[code]

I do agree, however, that the current functionality of `security-proxy-setup` is overloaded.

[2020-01-15 16:33] michaelestrin commented on #2277
Dependent on https://github.com/edgexfoundry/go-mod-bootstrap/issues/29

[2020-01-15 22:31] andresrinivasan opened #2283 "Make Redis default for unsecured deployment of EdgeX"
# 🚀 Feature Request

As part of #2270

### Relevant Package

Top level Makefile, scripts, and microservice configuration

### Description

Update the unsecured EdgeX deployment to default to Redis.

[2020-01-16 11:35] michaelestrin opened #2286 "Implement db/memory/addressables.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:35] michaelestrin opened #2287 "Implement db/memory/commands.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:35] michaelestrin opened #2288 "Implement db/memory/deviceprofiles.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:35] michaelestrin opened #2289 "Implement db/memory/devicereports.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2290 "Implement db/memory/devices.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2291 "Implement db/memory/deviceservices.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2292 "Implement db/memory/events.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2293 "Implement db/memory/intervals.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2294 "Implement db/memory/notifications.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:36] michaelestrin opened #2295 "Implement db/memory/provisionwatchers.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:37] michaelestrin opened #2296 "Implement db/memory/readings.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:37] michaelestrin opened #2297 "Implement db/memory/scrub.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:37] michaelestrin opened #2298 "Implement db/memory/subscriptions.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:37] michaelestrin opened #2299 "Implement db/memory/transmissions.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 11:37] michaelestrin opened #2300 "Implement db/memory/valuedescriptors.go behavior"
Write an in-memory implementation of the `DBClient` interface for the file mentioned in this issue's title.  Include unit tests that cover the implementation.

This in-memory persistence implementation will be used for Golang-based acceptance tests.

Related to https://github.com/edgexfoundry/edgex-go/issues/2277 and https://github.com/edgexfoundry/edgex-go/issues/2273.

[2020-01-16 12:36] michaelestrin opened #2301 "Update to latest (v.0.0.10) go-mod-bootstrap"
Dependent upon https://github.com/edgexfoundry/go-mod-bootstrap/issues/31

[2020-01-16 15:15] #2301 closed

[2020-01-16 15:19] brandonforster commented on #2237
Fixed by https://github.com/edgexfoundry/go-mod-core-contracts/pull/195

[2020-01-16 17:08] michaelestrin commented on #2236
Discussed in today's Core WG meeting.  There seemed to be consensus around removing config-seed but not necessarily around what the alternate implementation would be.  @jpwhitemn had hoped to do a related ADR and attempt to drive consensus but unfortunately hasn't had time to complete it.

As I stated during the call, I will hold off on any activity to remove config-seed until we have consensus on

[2020-01-16 17:09] lenny-intel commented on #2236
As discussed in Core WG on 1/16/202, we'll assume Java Rule Engine will be removed in Geneva, so config-seed can be removed. An ADR (author TBD) will be created for this.

[2020-01-16 17:13] #2235 closed

[2020-01-16 17:26] iain-anderson commented on #2236
Also the device-virtual is no longer relevant - has been replaced by device-virtual-go

[2020-01-16 17:41] lenny-intel commented on #2236
Rules engine will be removed in Geneva so is no longer relevant.

[2020-01-16 17:43] michaelestrin commented on #2236
Yes.  It's a question of timing.  If we do have a suitable substitute for the other services that enables us to remove config-seed, and we subsequently remove config-seed before the existing rules engine has been removed, we will effectively break the existing rules engine.

If the community is certain rules engine will be remove, I'd suggest we move forward and remove it before we proceed with th

[2020-01-16 18:54] AnthonyMBonafide opened #2304 "Add Websocket Support for Support-notifications"
# 🚀 Feature Request

### Relevant Package

support-notifications

### Description
Support-notifications supports REST and email as delivery mechanisms. Both options require the subscriber to manage a server(SMTP or HTTP) in order to receive notifications. This adds additional overhead and can become complex when working across networks with limited access.

An example of this is https://github.com

[2020-01-17 16:29] tingyuz commented on #2267
I think the method from @bnevis-i of overwriting the entrypoint is the most the elegant approach among these three options. If there is no objection I will adopt it into our README for both project and wiki update.

[2020-01-17 20:24] #2267 closed

[2020-01-18 20:13] tsconn23 opened #2308 "Add OpenAPI Docs for V2 API Specification"
As discussed during the Core Working Group meeting 16-Jan-2020 the OpenAPI specification documents which have so far been developing in my [personal repo](https://github.com/tsconn23/edgex-geneva-api) need to be added to the edgex-go repository under an api/openapi directory.

[2020-01-19 08:00] kaisawind opened #2310 "Mongo core reading's created is not work very well (fuji, master)"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Data service

### Is this a regression?

 NO!!

### Description and Minimal Reproduction
redis version's `Created` time is created from `e.Created`, so all Readings have the same Created Time.
But, the mongo version's Created time is created every Reading, so some time(millisecond) the created time is not the same.
I use created time

[2020-01-20 13:24] michaelestrin opened #2312 "Implement v2 of metadata's addressable API"
Dependent upon #2277.

[2020-01-20 13:24] Nitu-coder commented on #2275
ok, thanks alot. Raised the issue in slack channel #help section

[2020-01-20 21:57] akramtexas commented on #2272
@FelixTing
- As part of recreating (more on that in a minute) the bug that you've reported, I get to the point of issuing the following REST call, using my device name of "countcamera1":
`http://localhost:48082/api/v1/device/name/countcamera1`
- And here is the response I get:
`http://:0/api/v1/device/name/%7B%7BgetDeviceByName%7D%7D: dial tcp :0: connect: can't assign requested address`
- Can you

[2020-01-20 22:18] akramtexas commented on #2272
@FelixTing As I referred to in the previous comment, the steps I have following in my attempt to recreate the reported issue are these:
- I start with creating reference information in EdgeX, making two calls to Core Metadata, to create the addressables for the Device Service.
- I then define Value Descriptors by calls to Core Data.
- Create a Device Profile via Core Metadata.
- Use Core Metadata

[2020-01-21 07:22] cloudxxx8 commented on #2237
@brandonforster @michaelestrin please reopen this issue the failed test case is still on the latest black box test report.
This issue is fixed in go-mod-core-contracts **v0.1.41**, but the current edgex-go is still using **v0.1.37**
github.com/edgexfoundry/go-mod-core-contracts v0.1.37

[2020-01-21 11:20] michaelestrin commented on #2272
@akramtexas: this smacks of an uninitialized go-mod-core-contracts client (something @brandonforster  is currently working on in https://github.com/edgexfoundry/go-mod-core-contracts/issues/196).  Unrelated to the underlying issue but something you'll need to understand (and overcome) to be able to reproduce the underlying issue.

[2020-01-21 12:59] akramtexas commented on #2272
@michaelestrin The input (in your comment above) is deeply appreciated 👍

[2020-01-21 14:25] akramtexas commented on #2272
`Current status and learnings thus far:`
- First (and referring to the comment immediately above, which @michaelestrin kindly volunteered, and is much appreciated), I need to understand (unrelated to the underlying issue) the aspect of an uninitialized `go-mod-core-contracts` client.
- As part of recreating the reported issue, I had started with creating reference information in EdgeX, making two

[2020-01-21 16:05] michaelestrin commented on #2286
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:05] michaelestrin commented on #2287
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:05] michaelestrin commented on #2288
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:05] michaelestrin commented on #2289
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:05] michaelestrin commented on #2290
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2291
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2292
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2293
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2294
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2295
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2296
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:06] michaelestrin commented on #2297
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:07] michaelestrin commented on #2298
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:07] michaelestrin commented on #2299
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:07] michaelestrin commented on #2300
Added hold.  This issue was created to facilitate Golang-based acceptance testing of APIv2 endpoints.
 Unsure at this point if APIv2 will reuse the DBClient abstraction or create its own.

[2020-01-21 16:35] akramtexas commented on #2272
- I am now able to get past the (unrelated-but-impacting-the-recreation-of-this-issue) aspect tied in with the uninitialized `go-mod-core-contracts` client by (_locally_) building per [PR-2313](https://github.com/edgexfoundry/edgex-go/pull/2313), which is a PR by @brandonforster that's currently _under review_.
- Thus, the previously-failing step (i.e. the call issued to core-command regarding dev

[2020-01-21 22:00] #2308 closed

[2020-01-21 22:58] akramtexas commented on #2272
- I have a tweaked version of `device-virtual-go` that should be able to use a binary payload. With that (virtual) device service running, along with the core services, I can, for example, call the following `core-metadata` API: `http://localhost:48081/api/v1/device` - Response to the `GET` operation is as in following screenshot:
![Random-Binary-Device-Virtual](https://user-images.githubuserconte

[2020-01-22 12:57] michaelestrin opened #2314 "Update OpenAPI docs for V2 API specification"
As a follow-on to https://github.com/edgexfoundry/edgex-go/pull/2309, address:

(See specifically https://github.com/edgexfoundry/edgex-go/pull/2309#event-2967934285.)

[2020-01-22 13:00] michaelestrin opened #2315 "Create OpenAPI Doc for V2 API Specification (System Management API)"
Follow pattern and conventions established by https://github.com/edgexfoundry/edgex-go/issues/2308 to create an OpenAPI-based specification for system management's V2 API.

Add me as sole reviewer to your PR.

[2020-01-22 15:13] akramtexas commented on #2272
- Squared away running the `core-command` service in debug-mode (Goland) without any issue.
- Working forward from the test-data set up earlier, focus now is on creating a binary payload with which to test and recreate the reported scenario (regarding how the functions `issueDeviceCommand` and `issueDeviceCommandByNames` are still applying the `application/json` Content-Type header when the respon

[2020-01-22 15:53] bnevis-i commented on #2268
Does the resolution for #2267 work for Fuji release as well?

[2020-01-22 16:24] lenny-intel opened #2316 "Integrate latest bootstrap for new Configuration & Registry clients and common command line parsing"
# 🚀 Feature Request

### Relevant Package

 This feature request is for integrating the latest `go-mod-bootstrap` containing new Configuration & Registry clients and common command line parsing

### Description
 A clear and concise description of the problem or missing capability...
The Registry Abstraction has been refactored into separate configuration and service registration abstractions which

[2020-01-22 16:32] michaelestrin commented on #2316
Dependent upon completion of https://github.com/edgexfoundry/go-mod-bootstrap/issues/18

[2020-01-22 21:55] #1929 closed

[2020-01-22 22:23] tingyuz commented on #2268
@bnevis-i it should but needs verification. I will pull the Fuji release and get it done.

[2020-01-23 14:04] akramtexas commented on #2272
- Tweaked the `device.virtual.binary.yaml` for the device service (device-virtual-go) with the goal of obtaining a binary payload to use for testing with this issue.
- I confirmed that the device is registered and is among the devices known to Core Metadata.
- By asking Core Command for the list of commands associated with the device (`Random-Binary-Device`), via a call to http://localhost:48082/a

[2020-01-23 15:44] bnevis-i opened #2318 "Address fallout from root token revokation (docker only)"
# 🐞 Bug Report

### Description and Minimal Reproduction
Blackbox testing is failing due to inability to find Vault token in resp-init.json following root token revokation.

[code]

Affected services list:
- [x] edgex-core-command
- [x] edgex-core-data
- [x] edgex-core-metadata
- [x] edgex-mongo
- [x] edgex-support-logging
- [x] edgex-support-notifications
- [x] edgex-support-scheduler

Specific e

[2020-01-23 18:57] akramtexas commented on #2272
- I have succeeded in creating a binary payload, starting with a CBOR representation of an event.
- Thus, in response to getting supported commands, via a call to Core Command at `http://localhost:48082/api/v1/device/name/Random-Binary-Device`), I found the needed path (in the `"commands"` element in the response for aforesaid API call. That path is: `"path":"/api/v1/device/{deviceId}/Binary"`.
-

[2020-01-24 13:08] michaelestrin opened #2321 "Update OpenAPI Docs for V2 API -- Ping, Metrics, Version, Configuration"
Support for `/ping`, `/metrics`, `/version`, and `/config` endpoints is currently specified for the HTTP `GET` method.  That method is cachable.  These are not resource retrievals that should be cached; they are commands.  Update to specify support via the HTTP `POST` method.

Add a corresponding request DTO for each of these endpoints.

[2020-01-24 14:53] akramtexas commented on #2272
Gents @tsconn23 @michaelestrin, in sharing here an outline of the design choice(s) we have in order to address the reported behavior, I invite your thoughts in terms of preference on how to proceed:
- At the level of `edgex-go`, we are currently hard-wired to use `ContentTypeJSON`, most pertinently to the behavior at hand in:
[1] func restGetCommandsByDeviceID(), as in `w.Header().Set(clients.Cont

[2020-01-24 15:32] akramtexas commented on #2272
- Adding some concrete details (screenshot below of stepping thru code) to what I had in mind when referring to making those `core-command` calls contextual so as to pick up the direction in which to respond, with the appropriate Content-Type header (JSON, CBOR, etc.):
![command-context](https://user-images.githubusercontent.com/40174952/73080921-3b552200-3e8c-11ea-9250-ca5cf9bfbe97.png)

[2020-01-24 20:16] tingyuz commented on #2318
Tested and verified that the PRs fixed the error. Here is the log from one of the core services.

level=INFO ts=2020-01-24T20:05:24.1477188Z app=edgex-core-data source=registry.go:149 msg="Writeable configuration has been updated from the Registry"
level=INFO ts=2020-01-24T20:05:24.3869021Z app=edgex-core-data source=database.go:152 msg="Database connected"
level=INFO ts=2020-01-24T20:05:24.404458

[2020-01-24 21:11] michaelestrin opened #2323 "Update OpenAPI Docs for V2 API -- Generic Errors"
Remove ErrorEnvelope (batch endpoint DTO -- wraps use-case DTO).

Add ErrorResponse (use-case DTO).

Add ErrorResponse to all relevant use-case-request paths.

Related conversation:
![image](https://user-images.githubusercontent.com/464327/73100384-0f00cc00-3eb3-11ea-9f4b-0cb1238875a0.png)

[2020-01-24 21:19] michaelestrin commented on #2315
Take into account the patterns and changes in https://github.com/edgexfoundry/edgex-go/pull/2322 and https://github.com/edgexfoundry/edgex-go/pull/2324.

[2020-01-24 21:25] michaelestrin commented on #2272
I'm not sure if this is an actual bug.  It may be an enhancement request in disguise.

I'm not sure if the community agreed to implement CBOR for device commands.

I'm also not sure of the use case (though there must be one because this issue was opened).

We support CBOR for telemetry -- pushing binary events with readings from a device service through core, support, and appfunc services northwar

[2020-01-24 22:41] tsconn23 commented on #2272
@FelixTing  I have walked through this with Akram. There is a line in the Device SDK that calls this functionality out as a gap

https://github.com/edgexfoundry/device-sdk-go/blob/be9f41a4af74d5425ebf4b1f099130d6e4242ce6/internal/controller/restfuncs.go#L127

From this I understand your use case to be you are expecting a CBOR response to the REST client invoking a command via core-command that wil

[2020-01-27 22:46] akramtexas commented on #2272
- These are the results of stepping through and confirming that CBOR response is indeed being returned. Similarly, confirmed that core-command is handling CBOR.
- Starting with the following GET command: `http://localhost:48082/api/v1/device/48da70c2-8fc9-4b14-90ba-74640f92d48b/command/f24da50c-12d2-47df-a0f6-0919aaa4ba4a`
I get CBOR-encode event back:
![CBOR-encoded Event](https://user-images.git

[2020-01-27 23:00] akramtexas commented on #2272
- Adding that, as far as the `PUT` core-command is concerned, the [func parseParams(){...}](https://github.com/edgexfoundry/device-sdk-go/blob/5245bcb1aa583dff863c27fe7fe23e4dad602196/internal/handler/command.go#L409)
`func parseParams(params string) (paramMap map[string]string, err error) {
	err = json.Unmarshal([]byte(params), &paramMap)
...
...
`
currently unmarshals JSON only, with reference t

[2020-01-28 15:53] #2323 closed

[2020-01-28 16:55] akramtexas commented on #2272
- This is regarding the scope of investigating what it would take for Device SDK to have core-command process a CBOR-encoded event, treating it (properly) as data of `application/cbor` format. By tracing all the way through the Device SDK code, the Content-Type header is properly set to `application/cbor` and remains that way all the way to the MUX.
- To compensate for that, one possibility is for

[2020-01-28 19:50] #2318 closed

[2020-01-28 20:43] tsconn23 commented on #2272
@akramtexas
Regarding

We discussed on Friday 24-Jan that if the CBOR Content-Type header value is correctly coming back from the device service, which I understand that it is based on what you've written above, that it would be possible to modify core-command to
- Check the header value on the response
- If the value is CBOR then always converting the [response body to a string](https://github.co

[2020-01-28 23:05] akramtexas commented on #2272
@tsconn23 This is a great summary 👍 (I also really appreciate your pointing out in particular how the execution of a `core-command` function call is effectively a pass-through, with the allied implications.)

[2020-01-29 13:17] #2321 closed

[2020-01-29 21:06] tingyuz commented on #1546
As I reviewed the code base and document from KONG, I believe we already cover this case.
Here is what we are doing in the code:
[code]
So we allow multiple SNIs embedded with cert when uploading the cert to KONG in the code base. In the config file we have this below:
[code]
If multiple SNIs are needed we just need to update the configuration file to append more SNIs.

=== proof/testing ====

 I

[2020-01-29 21:20] #1546 closed

[2020-01-29 21:22] tingyuz commented on #1931
close the issue at the PR-2325 to address it was merged.

[2020-01-29 21:22] #1931 closed

[2020-01-30 19:36] akramtexas commented on #1737
@michaelestrin  Having picked up this task today, I've done some digging and identified the scope of this issue:
- Given the extensive bootstrapping-related work done, the re-architecting so as to eliminate global variables which you have led and shepherded, the scope of this issue now stands significantly changed.
- There no longer exists the need to follow the "Operator" design pattern (aka GoF

[2020-01-30 21:22] michaelestrin commented on #1737
There are existing tests for metadata rest endpoints.  Follow the existing patterns.  No need for a new issue; retitle and/or revise the issue description and continue to use this one for continuity's sake.

[2020-01-30 21:25] akramtexas commented on #1737
Sounds good. I'll make it so 👍

[2020-01-31 06:25] FelixTing commented on #2272
@akramtexas @tsconn23
My apologies for the belated reply. (I was on the Lunar new year vacation last few days.)

@akramtexas has reproduced [what I encountered](https://github.com/edgexfoundry/edgex-go/issues/2272#issuecomment-578992187) when trying to support read operation of binary resource in device-virtual-go:
1. Issue a GET command to retrieve a binary value
2. Get a CBOR encoded event
3. Th

[2020-01-31 13:04] akramtexas commented on #2272
@FelixTing Welcome back from your Lunar calendar vacation. Thanks for confirming (using [the link](https://github.com/edgexfoundry/edgex-go/issues/2272#issuecomment-578992187) in your comment above) the specifics of the steps that lead to reported behavior. Is there anything else you would like to add in this connection, to elaborate what use case you are implementing, and where you find that retu

[2020-01-31 14:44] #2278 closed

[2020-01-31 15:42] tsconn23 commented on #2272
@FelixTing We need to know the use case for the steps you've outlined above. How is this flow utilized in a customer oriented solution? What purpose does it solve? As described above this flow is not implemented and will be an enhancement. Understanding the customer use-case will help us to prioritize.

@iain-anderson @jpwhitemn for visibility

[2020-01-31 17:42] michaelestrin commented on #2155
@cloudxxx8 Discussed this with @tsconn23 @jpwhitemn earlier today during the system managment working group meeting.  It's our understanding this is work you're doing across all of the repositories; converting the APIv1 RAML to OpenAPI Swagger documents.  Is this correct?

[2020-02-02 13:31] cloudxxx8 opened #2328 "Notifications service doesn't distribute the notifications with Normal severity"
# 🐞 Bug Report

### Affected Services
The issue is located in:  Notifications

### Is this a regression?
 No, it happens in fuji and master

### Description and Minimal Reproduction
Create a Notification with Normal severity, and it won't be sent out.
Only the Critical Notifications will be sent out immediately.
According to the document https://docs.edgexfoundry.org/Ch-AlertsNotifications.html ,

[2020-02-02 13:34] cloudxxx8 commented on #2328
add @jinlinGuan for awareness

[2020-02-02 13:38] cloudxxx8 commented on #2155
Yes, @michaelestrin
@cherrycl will create a PR for this on Monday.  The conversion work has been done.

[2020-02-02 14:10] cloudxxx8 commented on #2272
@tsconn23 We don't have use cases so far.  The purpose here is to implement the binary support in Virtual Device Service for user test, and we found out this limitation.  We can tweak the Virtual Device Service to work only with the current supported behaviors on binary data.

[2020-02-02 14:37] michaelestrin commented on #2155
Thank you @cloudxxx8.  I'll update all of the relevant issues.

[2020-02-02 14:44] #2310 closed

[2020-02-03 02:20] cherrycl opened #2330 "Export API documents to SwaggerHub automatically"
# 🚀 Feature Request

### Relevant Package

 This feature request is for...
This feature request is for exporting openapi files to SwaggerHub automatically.

### Description
 A clear and concise description of the problem or missing capability...
Making the consistency between the GitHub and SwaggerHub.

### Describe the solution you'd like
 If you have a solution in mind, please describe it.
Becau

[2020-02-03 05:22] michaelestrin commented on #2272
Reclassifying as unscoped enhancement, unassigning Akram, and dropping into icebox.

[2020-02-03 06:17] cloudxxx8 commented on #2272
@tobiasmo1 and @lenny-intel do you have any requirement from you side to access binary data through Core Command?  It can work well only with AutoEvent or async reading now.

[2020-02-03 10:03] tobiasmo1 commented on #2272
I will defer to @lenny-intel on the priority for resolving requirements and just provide a couple thoughts below.

A device service that uses AutoEvent to send/push binary data can be paired with a listening application service to store/cache a recent snapshot of binary payloads. This would resolve many use cases; where the snapshot data can be reasonably stale.

The value of direct Core Command s

[2020-02-03 13:03] michaelestrin commented on #2272
I've always viewed the command channel as a mechanism to actuate a device or provide an asynchronous prompt to a device service for it to take an action and return the relevant data via the normal manner (i.e. via core-data).

I may be misinterpreting; it sounds like you want to obtain data from a device service as a direct reply to a command request sent via core-command.  If this is the case, th

[2020-02-03 15:46] cloudxxx8 commented on #2272
A simple use case in my mind is that when a motion sensor detects something, Get commands would be invoked to retrieve videos or snapshots from the cameras in a specific area.

[2020-02-03 16:07] michaelestrin commented on #2272
Why wouldn't the video/snapshot data be forwarded into core-data by the device service as usual?

[2020-02-03 21:55] akramtexas commented on #2328
- @cloudxxx8 Agree that only critical notifications are sent out immediately. Also agree that, according to the document https://docs.edgexfoundry.org/Ch-AlertsNotifications.html, `For normal notifications (severity = "NORMAL"), they wait for the Message Scheduler to process in batch.` The preceding is mentioned (in that document) right after the note that `The Notifications Handler persists the r

[2020-02-03 22:58] tsconn23 commented on #2328
@akramtexas Referring to the [docs ](https://docs.edgexfoundry.org/Ch-AlertsNotifications.html)you link to above, it also says the following
[code]
Can you point me to where this is implemented because I can't seem to locate it. Right now the code reads to me like we're never sending any NORMAL or MINOR notifications until a CRITICAL is received, at which time all the pending notifications are flu

[2020-02-04 07:43] cloudxxx8 commented on #2272
Since the binary data is large, users might not want to collect it constantly.  Through rules engine and get command, users could retrieve the binary data when it is necessary.
@SteveOss @andyf1967 @iain-anderson could you please share your opinions or use cases you know?
Thanks for the effort, @michaelestrin @akramtexas @tsconn23 , we will implement the binary support in virtual device service wi

[2020-02-04 12:48] michaelestrin commented on #2272
I don't think I'm communicating clearly.

In your scenario, it could be the data is sent only when the rules engine triggers the command to instruct the device service to gather and send it.  There's nothing about the existing data path that requires data to be sent constantly.

Assuming the rules engine -- based on a trigger -- initiated a specific command to a specific device service to obtain s

[2020-02-04 13:18] akramtexas commented on #2328
@tsconn23
- This is to confirm the existence of the gap you refer to: The scheduling described in the docs is currently _not_ implemented (I, too, had searched for it, and not found it while doing the investigation yesterday.)
- I agree with your recommendation: Simply sending notifications of _any_ severity as they're received makes the most sense: I, too, don't know what efficiency is gained by

[2020-02-04 14:23] cloudxxx8 commented on #2328
I agree with sending every notification immediately for now, and see whether there is any further requirement in the future.

[2020-02-04 14:32] cloudxxx8 commented on #2272
I got your point now.
My understanding was that the usual way to send binary data to core-data is to use AutoEvent, and it will constantly send data to core-data.
It can work by ignoring the response received by the trigger.

[2020-02-04 15:07] tingyuz commented on #1913
For future reference, the current implementation of API gateway is based on KONG. From the document it seems KONG has limited support to enable CORS/cross-origin resource sharing.

https://docs.konghq.com/hub/kong-inc/cors/

[2020-02-04 15:52] tsconn23 commented on #2328
@akramtexas Please go ahead and make the change to send notifications of any severity when they are received rather than batching. In addition, please revise the docs content accordingly.

We can then create a follow-up issue as a proposed enhancement to configure the service to not send notifications unless they were at or above a given severity.

[2020-02-04 16:21] brandonforster opened #2334 "Refactor correlation middleware so that it does not use Context"
# 🚀 Feature Request

### Relevant Package
This feature request is for `edgex-go` and `go-mod-core-contracts` in the `correlation` package.

### Description
Currently, the `correlation` package uses the Context as a simple data store. This requires that consuming services (such as `logging`) make use of the Context simply to retrieve a string. This is implementation detail that should not be expose

[2020-02-04 16:31] iain-anderson commented on #2272
One suggestion that has been floated before is to allow control of the destinations for event data on a per-request basis by use of query parameters.
So the normal operation of the device service is to generate an event and post it to core-data, and to return the same event as the result of the http request (the latter then being passed-through by core-command). But either of these paths could be

[2020-02-04 16:41] michaelestrin commented on #2272
I concur -- orthogonal.

With this additional clarity, it seems as if the initial CBOR implementation missed the real possibility of binary data being included in a command response.  It sounds like this needs to be addressed.  In your opinion (@jpwhitemn @iain-anderson ), is this a forward-facing change (i.e. in master only) or something we should fix in prior releases?

[2020-02-04 16:49] akramtexas commented on #2328
@tsconn23 Sounds good. I will make it so.

[2020-02-04 19:26] tobiasmo1 commented on #2272
“Why wouldn't the video/snapshot data be forwarded into core-data by the device service as usual?

If there is no application subscribed to receive the data. I suspect most workflows will AutoEvent or manually trigger an event using a command. But this leaves the third flow we discussed and implemented; legacy command/response behavior that conforms to usual device service behavior for non-binary

[2020-02-05 09:08] cherrycl commented on #2330
Move this feature to ci-management [issue #564](https://github.com/edgexfoundry/ci-management/issues/564).

[2020-02-05 09:08] #2330 closed

[2020-02-05 15:14] #1737 closed

[2020-02-05 22:08] tingyuz commented on #2268
PR-2236 that addresses the issue has been merged, hence close this issue.

[2020-02-05 22:08] #2268 closed

[2020-02-06 12:31] tingyuz opened #2338 "Adjust configuration file entries for snap"
For Geneva release the configuration entries of all the security components ( under each project and named configurations.toml) need to be verified and adjusted to accommodate snap environment.

[2020-02-06 12:32] #1762 closed

[2020-02-06 13:11] michaelestrin commented on #2300
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:11] #2300 closed

[2020-02-06 13:11] michaelestrin commented on #2299
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:11] #2299 closed

[2020-02-06 13:11] michaelestrin commented on #2298
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:11] #2298 closed

[2020-02-06 13:11] michaelestrin commented on #2297
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:11] #2297 closed

[2020-02-06 13:11] michaelestrin commented on #2296
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:11] #2296 closed

[2020-02-06 13:12] michaelestrin commented on #2295
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2295 closed

[2020-02-06 13:12] michaelestrin commented on #2294
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2294 closed

[2020-02-06 13:12] michaelestrin commented on #2293
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2293 closed

[2020-02-06 13:12] michaelestrin commented on #2292
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2292 closed

[2020-02-06 13:12] michaelestrin commented on #2291
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2291 closed

[2020-02-06 13:12] michaelestrin commented on #2290
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2290 closed

[2020-02-06 13:12] michaelestrin commented on #2289
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2289 closed

[2020-02-06 13:12] michaelestrin commented on #2288
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2288 closed

[2020-02-06 13:12] michaelestrin commented on #2287
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2287 closed

[2020-02-06 13:12] michaelestrin commented on #2286
Decision made for v2 to have its own persistence implementation.  Closing this issue; it is no longer relevant.

[2020-02-06 13:12] #2286 closed

[2020-02-06 13:17] michaelestrin opened #2339 "Update go-mod-messaging dependency; Integrate new MQTT implementation"
From https://github.com/edgexfoundry/go-mod-messaging/issues/36#issuecomment-581957508

[2020-02-06 15:26] lenny-intel commented on #2339
Added related issue for App Functions SDK
https://github.com/edgexfoundry/edgex-go/issues/2339

[2020-02-06 15:28] michaelestrin opened #2340 "Revert skeleton for memory-based persistence implementation"
Originally implemented as part of https://github.com/edgexfoundry/edgex-go/pull/2276.

Decision was made to only support golang-based acceptance tests for v2.  Further, the decision was made to completely separate v2's persistence implementation from v1's persistence implementation.

As a result, there is no need to have a DBClient in-memory implementation; please remove it.

[2020-02-06 19:22] tsconn23 opened #2341 "Update Core/Support/SMA Service Dockerfiles for Go 1.13"
A Geneva release goal is to update our dependency on Go to utilize v1.13 of the compiler. For this issue, please modify all core/support Dockerfiles to use Go 1.13.

Example of current reference in core-command service:
https://github.com/edgexfoundry/edgex-go/blob/f0ecddb33a38178a7f9f83b66f655389afed08a7/cmd/core-command/Dockerfile#L9

Change the reference from `1.12` to `1.13` for all core, supp

[2020-02-06 21:47] #2340 closed

[2020-02-07 09:12] weichou1229 opened #2344 "Fail to query readings from RedisDB by value descriptor name and device name"
# 🐞 Bug Report

### Affected Services

 The issue is located in: core-data

### Is this a regression?

 No

### Description and Minimal Reproduction
1.  Run core-data to use Redis
2. Add readings:
[code]

3. Query reading by value descriptor name and device name and the error occur at second http request:
[code]

## 🔥 Exception or Error
<pre><code>
curl http://localhost:48080/api/v1/reading/name/v

[2020-02-07 09:13] weichou1229 commented on #2344
* Error code snippet:
https://github.com/edgexfoundry/edgex-go/blob/master/internal/pkg/db/redis/data.go#L392
https://github.com/edgexfoundry/edgex-go/blob/master/internal/pkg/db/redis/queries.go#L157
[code]

*  In the Redis DB, it always return the first record when we **set limit as 1**:
[code]

Actually, the result should include the second record when we query the **val2**:
[code]

* I recomme

[2020-02-07 13:01] michaelestrin opened #2345 "getHealth() always returns a nil error"
internal/system/agent/services.go; remove error from return parameter list (and update caller accordingly).

Originated from https://github.com/edgexfoundry/edgex-go/pull/2317#discussion_r376373155

[2020-02-07 13:05] #2339 closed

[2020-02-07 13:12] michaelestrin opened #2346 "Add ToC to APIv2 README.md documents"
Add table of contents (similar to what is generated by Typora) to:

- internal/pkg/v2/README.md
- internal/pkg/v2/infrastructure/test/README.md

Use #2277 branch as a starting point.  Create PR as DRAFT.  Add me as sole reviewer.

[2020-02-07 14:59] michaelestrin commented on #1822
@anonymouse64

Is this issue addressed by https://github.com/edgexfoundry/go-mod-registry/issues/37, https://github.com/edgexfoundry/go-mod-bootstrap/issues/18, and https://github.com/edgexfoundry/edgex-go/pull/2317?

If so, please signify so and close the issue.

If not, please clarify what additional/different behavior is requested.

[2020-02-07 15:43] anonymouse64 commented on #1822
@michaelestrin that PR is not merged, as such I would recommend waiting to close this issue until the feature is completed and merged

[2020-02-07 15:53] michaelestrin commented on #1822
@anonymouse64 For clarity's sake, does the outstanding PR address this issue?

[2020-02-07 16:44] anonymouse64 commented on #1822
Does the app-functions-sdk-go, the device-sdk-go and device-sdk-c use the same pattern as what's implemented in that PR?

[2020-02-07 17:03] akramtexas commented on #2328
- Since this issue affects the `Fuji` release as well (in addition to the `master` branch), the changeset per https://github.com/edgexfoundry/edgex-go/pull/2347 needs to be applied to the `Fuji` tagged release as well (It seems efficient to wait for approval of this changeset before applying the same changeset to the `Fuji` tagged release).

[2020-02-07 17:58] lenny-intel commented on #1822
Note yet, but we are moving that direction.

[2020-02-07 18:04] akramtexas commented on #2341
@tsconn23 The (two) Dockerfiles `edgexfoundry/edgex-go/cmd/security-secrets-setup/Dockerfile` and `edgexfoundry/edgex-go/cmd/security-secretstore-setup/Dockerfile` are not explicitly mentioned in the list of Dockerfiles to update. Would like a confirmation please if this is intentional, thanks.

[2020-02-07 19:58] akramtexas commented on #2341
- Please never mind the above. In chatting with @tingyuz, I have come to understand that the security components have actually _already_ been verified with Go 1.13 (Plus I couldn't think of any reason why the two Dockerfiles for `core-security` should _not_ be updated along with the rest at this time.)

[2020-02-07 20:05] AnthonyMBonafide commented on #2344
@tingyuz , @mkbhanda , @michaelestrin

I want to bring this up as a security issue. As mentioned in this bug report, `edgex-go` is leaking sensitive information(Redis commands and database errors):
[code]

How should we proceed with this since this probably is present in more places that this and should be handled more generically than just here?

[2020-02-07 20:46] michaelestrin commented on #2344
Good call out.  Security issue is orthogonal to addressing this issue.  Will ask this be added to the next Security Working Group meeting; perhaps it will be resolved by community discussion before then.

@AnthonyMBonafide

[2020-02-08 15:11] #2316 closed

[2020-02-10 15:57] tingyuz commented on #1913
A quick verification/band aid style fix is to run Curl command against KONG.  Here is the command that may work:
[code]

[2020-02-11 03:19] michaelestrin opened #2350 "Update go-mod-bootstrap to v0.0.18"

[2020-02-11 11:55] Nitu-coder opened #2352 "Error in installing device-sdk-go"
go get -v github.com/edgexfoundry/device-sdk-go
github.com/edgexfoundry/go-mod-core-contracts/clients/interfaces
github.com/OneOfOne/xxhash
github.com/google/uuid
github.com/ugorji/go/codec
github.com/go-logfmt/logfmt
github.com/pkg/errors
github.com/go-kit/kit/log
github.com/edgexfoundry/go-mod-registry/pkg/types
github.com/edgexfoundry/go-mod-core-contracts/clients
github.com/hashicorp/consul/ap

[2020-02-11 13:34] akramtexas commented on #910
My DEV environment for EdgeX has been on a Mac, but I can set up a similar environment on my Windows machine and proceed from there.

[2020-02-11 14:33] brandonforster opened #2354 "Integrate go-mod-contracts changes to service clients"
# 🚀 Feature Request

### Description
EdgeX Go needs to be updated to integrate with the latest version of go-mod-core-contracts (0.1.47 as of writing this issue) that contains breaking changes to the signatures of the service client methods. This will also include the removal of the Endpointer structure and contract as it currently exists and replacing it with the URLStream and URLClient construct

[2020-02-11 15:03] michaelestrin opened #2355 "Implement System Management Agent APIv2"
Dependent on #2277.

[2020-02-11 19:26] #2350 closed

[2020-02-11 21:33] #2315 closed

[2020-02-11 22:12] tonyespy opened #2356 "Use of gosu command to run postgresql prevents fuji snap install on Ubuntu Core"
# 🐞 Bug Report

The fuji snap updated kong to use postgresql instead of cassandra. As postgresql won't run as root (which is normal for all services in a snap), the snap includes a binary called gosu, which is a script-friendly replacement for sudo, and is used to run postgres and its commands as the 'snap_daemon' user. Unfortunately, the gosu command doesn't understand the extrausers passwd db (s

[2020-02-12 09:38] hahattan opened #2358 "Assign id back to provisionwatcher after adding to database"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Metadata

### Is this a regression?

 No

### Description and Minimal Reproduction
After we post provisionwatcher onto metadata, it will then use callback path to update back to device service.
https://github.com/edgexfoundry/edgex-go/blob/0c2784e56b6ef2dced463a7975227a56906f5104/internal/core/metadata/rest_provisionwatcher.go#L404
b

[2020-02-12 13:36] #2155 closed

[2020-02-12 17:12] tsconn23 opened #2359 "Review V1 Swagger for Completeness -- Core-Command"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:13] tsconn23 commented on #2156
Closing, see PR #2329

[2020-02-12 17:13] #2156 closed

[2020-02-12 17:15] tsconn23 opened #2360 "Review V1 Swagger for Completeness -- Core-Data"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:15] tsconn23 commented on #2157
Closing, see PR #2329

[2020-02-12 17:15] #2157 closed

[2020-02-12 17:17] tsconn23 opened #2361 "Review V1 Swagger for Completeness -- Core-Metadata"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:17] tsconn23 commented on #2158
Closing, see PR #2329

[2020-02-12 17:17] #2158 closed

[2020-02-12 17:19] tsconn23 opened #2362 "Review V1 Swagger for Completeness -- Support-Logging"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:19] tsconn23 commented on #2159
Closing, see PR #2329

[2020-02-12 17:19] #2159 closed

[2020-02-12 17:20] tsconn23 opened #2363 "Review V1 Swagger for Completeness -- Support-Notifications"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:21] tsconn23 commented on #2160
Closing, see PR #2329

[2020-02-12 17:21] #2160 closed

[2020-02-12 17:22] tsconn23 opened #2364 "Review V1 Swagger for Completeness -- Support-Scheduler"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 17:22] tsconn23 commented on #2161
Closing, see PR #2329

[2020-02-12 17:22] #2161 closed

[2020-02-12 17:24] tsconn23 opened #2365 "Review V1 Swagger for Completeness -- System-Agent"
All of the old RAML documents for the API endpoints in Core/Supporting services were converted to Swagger by the QA/Test team. As part of this conversion, we identified the need to review the resulting Swagger for completeness. If the original RAML document did not include comprehensive description of a service's API behavior, then obviously the converted Swagger won't either.

This issue is for r

[2020-02-12 21:39] tonyespy opened #2366 "device-random and device-virtual breakage in fuji snap"
A recent change to device-sdk-go introduced new command-line changes which break the device services (-random, and -virtual) included by default in the snap. Both of these device service were being built from the fuji branch instead of from a source tag in the snap, which also contributed to this breakage. This commit updates the command-line arguments for both, and also sets git-tag: v1.1.1 to be

[2020-02-12 21:53] akramtexas commented on #910
I have installed the various needed software components (`GoLand`, `golang`, `edgex-go`, `Cygwin`, etc.) on my Windows machine and got past some log-in issues as well. Once I am able to recreate this issue, I will work on a fix.

[2020-02-13 14:15] tonyespy opened #2368 "SMA service operations broken in the snap"
# 🐞 Bug Report

The default value of the SMA's ExecutorPath changed in configuration.toml between Edinburgh and Fuji, which caused the sed command used to update this value to the executor required in the snap to fail, leaving the default value unchanged.  This results in a failure when issuing start/stop/restart commands to the SMA when running the Fuji snap.

### Affected Services
SMA (sys-mgmt-

[2020-02-13 16:14] michaelestrin commented on #2272
Discussed in February 13th Core WG meeting; community decided to move ahead with correcting this in Geneva release.  Re-categorized and assigned @akramtexas.

[2020-02-13 17:23] michaelestrin commented on #1903
Discussed in Feb 13th Core WG meeting.  Hold off on adding Redis or removing Mongo.  To be discussed at Hanoi pre-wire meeting in March.

[2020-02-13 20:19] brandonforster opened #2372 "Remove mocks from all client services"
# 🚀 Feature Request

### Description
Currently, EdgeX contains at least one mock for a service defined in `go-mod-core-contracts`. A PR was started in that repo to update it (https://github.com/edgexfoundry/go-mod-core-contracts/pull/215) before deciding that it actually made more sense here (see #2370 for context.)

This is a better bad solution. The best solution would be to remove mocks entirel

[2020-02-14 02:43] andresrinivasan opened #2374 "redis.getObjectsByValuesSorted uses a temporary key that could introduce a race condition"
# 🐞 Bug Report

### Affected Services

Notification Service

### Is this a regression?

No

### Description and Minimal Reproduction

`redis.getObjectsByValuesSorted` uses `desset` as a temporary key for the results of set intersection. If there are overlapping invocations of this function, desset will be corrupted

## 🌍  Your Environment

**EdgeX Version:**

Master branch

[2020-02-14 10:39] jinlinGuan opened #2375 "Unable to GET Core-Command Device Resources"
# 🐞 Bug Report

### Affected Services

 The issue is located in: core-command

### Is this a regression?

 No

### Description and Minimal Reproduction
1. Running services with nightly-build docker-compose-nexus-no-secty.yml
2. Open browser to **GET http://localhost:48082/api/v1/device**

## 🔥 Exception or Error

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/55377716

[2020-02-14 12:25] Nitu-coder opened #2376 "Error in metadata when using redis db instead of mongodb"
Hello,

I m trying to use redis db for metadata,coredata and core command for the storing the data instead of mongodb.

Steps to reproduce:
edited the configuration.toml files to use the database type as redis, port 6379 and host as my machine ip 107.108.87.226.
Build the code clean and then run the code

The issue is located in:  Metadata , when used redis server for database

I have made the cha

[2020-02-14 12:39] michaelestrin commented on #2368
@tonyespy did https://github.com/edgexfoundry/edgex-go/pull/2369 address this issue?

[2020-02-14 12:40] michaelestrin commented on #2366
@tonyespy did https://github.com/edgexfoundry/edgex-go/pull/2367 address this issue?

[2020-02-14 12:43] michaelestrin commented on #2338
@tingyuz did https://github.com/edgexfoundry/edgex-go/pull/2337 address this issue?

[2020-02-14 12:45] michaelestrin commented on #2334
Correlation package is APIv1-specific and will disappear with APIv2 implementation/rollout.  I've reviewed and concluded this is not worth the effort.  Closing.

[2020-02-14 12:45] #2334 closed

[2020-02-14 14:12] #2344 closed

[2020-02-17 05:05] Nitu-coder commented on #2376
@brandonforster Can you please help me in solving this issue. What cld be the reason?? my redis-server is running at my ip 107.108.87.226 and i have made changes to all the configuration toml files with the same host and type as redisdb

[2020-02-17 13:35] akramtexas commented on #2272
@michaelestrin @tsconn23 I will work this for the `Geneva` release 👍

[2020-02-17 14:35] tingyuz commented on #2338
This is the follow up of #2337. In the past releases we adjust the snap after the master is stable. I will keep tracking the progress of snap related issues.

[2020-02-17 15:08] akramtexas commented on #910
Set up is nearly complete (the set up of `ZeroMQ` remains). Having returned after being out sick, I have resumed this work and am currently resolving the following build error, related to `ZeroMQ`, which I expect to get resolved once `ZeroMQ` has been successfully installed:
[code]

[2020-02-17 15:32] brandonforster commented on #2376
@Nitu-coder I'll take a look when this comes up on my queue. If you need faster support, you should check out the Slack workspace.

[2020-02-17 15:46] akramtexas opened #2378 "Snap build fails when using go compiler version 1.13."
# 🐞 Bug Report

### Affected Services
Jenkins `snap` builds for `edgex-go`

### Is this a regression?
No: Issue not present with go compiler version 1.12.

Yes: Issue is present on upgrading to go compiler version 1.13.

### Description and Minimal Reproduction
This issue was discovered during the (`snap`) Jenkins builds, `edgex-go-snap-master-verify`, etc. Details here: [PR-2348 (Update Core/Secu

[2020-02-17 22:37] akramtexas commented on #910
- Having followed the instructions for [Setting up ZMQ to build on Windows](https://github.com/edgexfoundry/edgex-go/blob/master/ZMQWindows.md), the setup of `ZMQ` is failing consistently during Step-6 (with the error `fatal error: zmq.h: No such file or directory, compilation terminated`), when running the command `go get -v -x github.com/pebbe/zmq4` from a bash shell. The full output accompanyin

[2020-02-17 22:51] akramtexas commented on #910
- Found the `ZMQ` 4.3.2 artifacts (not available at https://ci.appveyor.com/project/zeromq/libzmq), over at https://zeromq.org/download/#windows.
- So for the related step (`Step-4`) to clone the source of ZMQ, and to ensure that it matches the version/commit I have downloaded, I will look in the source tree for a 4.3.2 tag.

[2020-02-18 15:44] bnevis-i opened #2379 "Spurious git diff caused by unit testing (security services)"
Forward from bforster over Slack:

Is this something that belongs in the repo or is it an artifact that shouldn’t have been committed? Every time I do a make test make deletes it and then git marks it as a deleted file
https://github.com/edgexfoundry/edgex-go/blob/master/internal/security/secrets/helper/validDirectory/test.file

[2020-02-19 10:42] difince opened #2380 "All microservices should authenticate themselves when using mongo database"
# 🐞 Bug Report
All microservices should authenticate themselves when using mongo database no matter if they are started up via docker or via snap. Once issue  https://github.com/edgexfoundry/docker-edgex-mongo/issues/77 is fixed (mongo is started with enabled access control), services started up using configuration.toml files that are directly under **/res** directory will got authentication excep

[2020-02-19 13:43] difince opened #2382 "Do not generate mongo db password for exportclient"
# 🐞 Bug Report
No need to generate databse password in vault for `exportclient`. It has been removed. This place is a leftover.
### Affected Services

 The issue is located in: security-secretstore-setup

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description and Minimal Reproduction

## 🔥 Exception or Error
<pre><code>

</code></pre>

##

[2020-02-19 15:08] difince opened #2383 "Time issue in the starting services sequence could make edgex-mongo to fail"
# 🐞 Bug Report
It happens edgex-mongo to read `/tmp/edgex/secrets/edgex-mongo/secrets-token.json`
before this file to be created or the content of this file to be updated with the new `token`  by `vault-worker`.
Because of this, `docker-edgex-mongo` could fails with:
 - open /tmp/edgex/secrets/edgex-mongo/secrets-token.json:` no such file or directory exception` if this file does not exists at all

[2020-02-19 15:52] akramtexas commented on #910
- @rsdmike by the end of yesterday afternoon, having compared our notes (regarding the issue getting `ZMQ` to work on `Windows`), looks like we're both running into the same issue that is explained by the needed artifacts (referring to those mentioned in Setting up [ZMQ to build on Windows](https://github.com/edgexfoundry/edgex-go/blob/master/ZMQWindows.md)) no longer being available:
[code]
- I a

[2020-02-19 17:20] difince opened #2385 "Remove export_client, export_distro from DOCKERS list within the Make file"
# 🐞 Bug Report

### Affected Services
None

 The issue is located in:
[Makefile](https://github.com/edgexfoundry/edgex-go/blob/master/Makefile) in `edgex-go` repo

`docker_export_client` and `docker_export_distro` should be excluded from `DOCKERS` list

### Description and Minimal Reproduction
Try to create` docker_export_client `docker image image:
[code]

## 🔥 Exception or Error
<pre><code>

mak

[2020-02-19 19:45] #2341 closed

[2020-02-19 20:37] #2237 closed

[2020-02-19 20:37] #2354 closed

[2020-02-19 23:39] brandonforster opened #2388 "Update provision watcher cannot correctly identify duplicate IDs"
# 🐞 Bug Report

### Affected Services
the issue is located in: core-metadata

### Is this a regression?
no

[The provision watcher update code will never check for duplicate IDs. The code that checks for duplicate IDs is inside the error guard, which in most implementations of the interface would be expected to not return an ID.](https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/m

[2020-02-20 01:55] #2379 closed

[2020-02-20 08:50] jinlinGuan opened #2391 "[Redis] Unable to run microservices with nightly-build redis docker-compose"
# 🐞 Bug Report

### Affected Services

The following services exited:
* edgex-core-data
* edgex-core-command
* edgex-core-metadata
* edgex-support-logging
* edgex-sys-mgmt-agent
* edgex-support-scheduler
* edgex-support-notifications
* portainer

### Is this a regression?

 -

### Description and Minimal Reproduction
run `docker-compose -f docker-compose-nexus-redis-no-secty.yml up -d`

## 🔥 Excep

[2020-02-20 10:10] jinlinGuan commented on #2391
Closing this issue.
duplicated to [edgexfoundry/developer-scripts/#224](https://github.com/edgexfoundry/developer-scripts/224).

[2020-02-20 10:10] #2391 closed

[2020-02-20 17:21] akramtexas commented on #910
- Got `ZMQ` running (inferring that from the following output from running `core-data.exe`:

level=INFO ts=2020-02-20T17:14:41.9400168Z app=edgex-core-data source=file.go:53 msg="Loaded configuration from ./res/configuration.toml"
level=ERROR ts=2020-02-20T17:14:41.9410148Z app=edgex-core-data source=secret.go:58 msg="unable to parse secret store configuration: open /vault/config/assets/resp-init.

[2020-02-20 18:04] rsdmike commented on #910
You need to disable security with the ENV var to get rid of that error -- can look at the compose file in nightly non secty to see what it is

[2020-02-20 18:24] akramtexas commented on #910
Thanks very much for your help, @rsdmike 👍

[2020-02-20 21:18] brandonforster commented on #2375
I've investigated this and I believe this was handled by #2370.

[2020-02-20 21:18] #2375 closed

[2020-02-21 00:28] bnevis-i commented on #1937
Have approval from my organization to introduce this in a future commit for hardware storage linkage to vault.

[2020-02-21 00:28] #1937 closed

[2020-02-21 09:05] weichou1229 opened #2394 "Incorrect result order when query readings from RedisDB"
# 🐞 Bug Report

### Affected Services
The issue is located in: core-data

### Is this a regression?

No.

### Description and Minimal Reproduction
Run core-data to use Redis
Add readings:
[code]

Query readings by device and value descriptor:
[code]

The **expected reading result should order by create date** as follows:
[code]

## 🌍  Your Environment
**Deployment Environment:**
macOS
**EdgeX Vers

[2020-02-21 14:32] #2312 closed

[2020-02-21 14:33] #2277 closed

[2020-02-21 14:43] akramtexas commented on #2359
@tsconn23 As I begin work to address this issue, I've made a note of your point above (`Please see the review @AnthonyMBonafide has already done on PR #2329 and let that inform the audit.`) 👍

[2020-02-21 18:23] brandonforster commented on #2163
Verified this is no longer an issue.

[2020-02-21 18:23] #2163 closed

[2020-02-21 18:33] brandonforster commented on #2376
I'm unable to reproduce. The blackbox tests run and pass for device-service using metadata, after running those tests making this request `curl --location --request GET 'http://localhost:48081/api/v1/deviceservice` provides a list of device services, as expected. Taking one of those names returned by that request and making the request `curl --location --request GET 'http://localhost:48081/api/v1/

[2020-02-21 18:33] #2376 closed

[2020-02-21 18:34] brandonforster commented on #2376
Oh, I see the problem. You're trying to make the request at your WAN IP, not your LAN IP. Instead of using that IP address, try doing `localhost:48081`, as I am. Hopefully that takes care of your issue!

[2020-02-21 18:40] brandonforster commented on #2394
No promises, but maybe I can knock out this and #2374 at the same time.

[2020-02-21 21:18] #2283 closed

[2020-02-21 22:53] bnevis-i commented on #2383
Related issue: #2383 (existing health check doesn't really detect when security-secretstore-setup is done-done)

[2020-02-22 00:16] bnevis-i commented on #2383
## Testing instructions

Check out related fix branches in edgex-go, docker-edgex-consul, and developer-scripts and build the containers locally.  Make the following change to  the docker-compose file and test for the race condition:

[code]

[2020-02-22 00:17] bnevis-i commented on #2383
@difince I am having trouble testing this due to the race condition.  However, I have made a set of changes that I believe resolves the issue.  Could you please validate?

[2020-02-22 07:53] weichou1229 commented on #2394
Thanks, I raise this issue because the behavior is different to MongoDB.

[2020-02-22 08:26] difince commented on #2383
Wednesday I am getting back .. and I will validate it

[2020-02-24 08:36] jinlinGuan opened #2399 "Command service API is stuck at first run"
# 🐞 Bug Report

### Affected Services

 The issue is located in: core-command

### Is this a regression?

 yes, only happen in master branch

### Description and Minimal Reproduction
When the command service starts, the first time of executing http://localhost:48082/api/v1/device will be stuck.
1. download the nightly-build docker-compose file
https://github.com/edgexfoundry/developer-scripts/blob

[2020-02-24 13:21] #2346 closed

[2020-02-24 13:48] #2345 closed

[2020-02-24 14:12] difince commented on #2383
It figured out that I will be back Thursday, not Wednesday

[2020-02-24 14:43] #2355 closed

[2020-02-24 17:11] michaelestrin opened #2402 "Leverage service config for health endpoint"
See https://github.com/edgexfoundry/edgex-go/pull/2401

[2020-02-24 18:16] tsconn23 opened #2403 "Tracking Error Handling Improvement Suggestions"
I'm using this issue to track a discussion around how to improve error handling the EdgeX platform. This discussion was initiated in the Security WG (19-Feb-2020) due to the following comment

https://github.com/edgexfoundry/edgex-go/issues/2344#issuecomment-583589139

There were four things, according to my notes from the meeting, that we wanted to unpack later in more detail. I'll list them belo

[2020-02-24 18:35] michaelestrin commented on #2403
There's also the question around whether application-level errors should be implemented as Golang Error implementations.  Things like "unable to unmarshal" or "item not found" are exceptional but known acceptable states to return in results.  The proposed APIv2 implementation (#2285, #2371) intentionally returned these as status codes (and not Golang errors); [example here](https://github.com/mich

[2020-02-24 19:36] #2364 closed

[2020-02-24 20:25] #2365 closed

[2020-02-24 21:50] akramtexas commented on #910
- On my Windows machine, `TestFileRemove` passes, as do all the other tests in `internal/support/logging/logger/file/file_test.go`.
![logging_file_test](https://user-images.githubusercontent.com/40174952/75194242-5f22b680-571d-11ea-9fb9-446131c026b2.JPG)

[2020-02-25 02:56] jinlinGuan commented on #2399
This issue currently causes failure in blackbox-testing.

[2020-02-25 07:22] anubhavs9 opened #2404 "Race condition when starting containers"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Vault / other services

### Is this a regression?

 No

### Description and Minimal Reproduction
Using Fuji docker-compose file.
**wget -O docker-compose.yml \
https://raw.githubusercontent.com/edgexfoundry/developer-scripts/master/releases/fuji/compose-files/docker-compose-fuji.yml**

Starting the services-
**docker-compose up -d**

[2020-02-25 13:02] michaelestrin commented on #910
Runs green for me.  Closing issue.

[2020-02-25 13:02] #910 closed

[2020-02-25 13:08] akramtexas commented on #910
Awesome ✅ Thanks for confirming 👍

[2020-02-25 14:04] kurokobo opened #2405 "Add /etc/nsswitch.conf to run EdgeX Foundry on Kubernetes."
# 🚀 Feature Request

### Relevant Package

This feature request is for containerized microservices which contain web server using `github.com/edgexfoundry/go-mod-bootstrap/bootstrap/handlers/httpserver`.

### Description

I tried to run EdgeX Foundry on Kubernetes but there was an issue.
My repository is [here](https://github.com/kurokobo/edgex-on-kubernetes), I was using Fuji release on Kubernete

[2020-02-25 14:59] michaelestrin commented on #2405
This is a known issue.  EdgeX does not currently explicitly support HA environments.  Environment variable override support was implemented to help address this.  See examples in https://github.com/edgexfoundry-holding/edgex-kubernetes-support; specifically around https://github.com/edgexfoundry-holding/edgex-kubernetes-support/blob/b2e44effe5ce247f70abf9833e922108345ccb28/releases/nightly-build/h

[2020-02-25 14:59] #2405 closed

[2020-02-25 15:09] tingyuz commented on #2200
@bnevis-i I just checked the file internal/security/proxy/certs.go and noticed that the Load() is using fileioperformer and autotokenloader from go-mod-secret already. Is it safe to say this is fixed  and can be closed?

[2020-02-25 17:01] jim-wang-intel opened #2406 "Update go-mod-bootstrap to version 0.0.21 to resolve the token-lookup issue"
# 🐞 Bug Report

### Affected Services

 The issue is located in:

The core services' internal package code using version `0.0.20` of go-mod-bootstrap when running with the security environment flag on with BootstrapHandler on `secret.NewSecret().BootstrapHandler` in which has old version `v0.0.15` of go-mod-secrets reference and thus having issue of https://github.com/edgexfoundry/go-mod-secrets/i

[2020-02-25 19:20] michaelestrin commented on #2402
No health endpoints exists at individual service level; health status is available solely via go-mod-registry.  Closing without further action.

[2020-02-25 19:20] #2402 closed

[2020-02-25 21:17] #2406 closed

[2020-02-25 21:34] brandonforster commented on #2399
This might be a regression introduced by #2370 somewhere in the URLClient code. I don't have any insight or theories beyond that.

[2020-02-25 21:42] brandonforster opened #2409 "Provision Watcher REST API Audit: Creation Endpoints"
This issue tracks auditing the functionality of all the data creation endpoints in the provision watcher service in metadata. As part of this work, ensure that the API returns the expected data in the correct format. For any small bugs, create a PR against this issue and close them out. For large bugs requiring major refactor, create an issue and justify it.

This includes:

- [ ] restAddProvision

[2020-02-25 21:42] brandonforster opened #2410 "Provision Watcher REST API Audit: Read Endpoints"
This issue tracks auditing the functionality of all the data retrieval endpoints in the provision watcher service in metadata. As part of this work, ensure that the API returns the expected data in the correct format. For any small bugs, create a PR against this issue and close them out. For large bugs requiring major refactor, create an issue and justify it.

This includes:

- [ ] restGetProvisio

[2020-02-25 21:42] brandonforster opened #2411 "Provision Watcher REST API Audit: Update Endpoints"
This issue tracks auditing the functionality of all the data update endpoints in the provision watcher service in metadata. As part of this work, ensure that the API returns the expected data in the correct format. For any small bugs, create a PR against this issue and close them out. For large bugs requiring major refactor, create an issue and justify it.

This issue supersedes #2388 and any work

[2020-02-25 21:42] brandonforster opened #2412 "Provision Watcher REST API Audit: Delete Endpoints"
This issue tracks auditing the functionality of all the data deletion endpoints in the provision watcher service in metadata. As part of this work, ensure that the API returns the expected data in the correct format. For any small bugs, create a PR against this issue and close them out. For large bugs requiring major refactor, create an issue and justify it.

This includes:

- [ ] restDeleteProvis

[2020-02-25 21:43] brandonforster commented on #2388
Superseded by #2411.

[2020-02-25 21:43] #2388 closed

[2020-02-26 01:06] bnevis-i commented on #2403
| What information should get put into an error versus being logged? Should the error always be written to the log or should it just be returned to the caller?

What I have done in the past, and believe to be a good practice is.  (a) External interfaces (like HTTP APIs) return only HTTP error codes and generic errors when something goes wrong.  They should definitely NOT propagate error messages f

[2020-02-26 10:45] jinlinGuan opened #2414 "Deleting notification by inexistent id returns wrong status code"
# 🐞 Bug Report

### Affected Services

 The issue is located in: support-notifications

### Is this a regression?

 -

### Description and Minimal Reproduction
1. use nightly-build redis no-secuity [docker-compose](https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-redis-no-secty.yml)
`docker-compose -f docker-compose-nexus-redis

[2020-02-26 13:03] #2374 closed

[2020-02-26 13:03] #2394 closed

[2020-02-26 13:18] michaelestrin commented on #2399
This looks to me like a variation of the original [issue](https://github.com/edgexfoundry/edgex-go/issues/2237) that led us down the [refactoring](https://github.com/edgexfoundry/edgex-go/pull/2370) path.

Possibly newly introduced retry is not working as expected?

Assigned to @brandonforster for investigation/solution.

[2020-02-26 13:54] #1761 closed

[2020-02-26 14:30] tingyuz opened #2415 "Device Provisioning in metadata needs security mechanism to verify if the request is legit when adding/updating devices"
In device provisioning in metadata, anyone can send request to add or update a device without verification. A mechanism is needed to verify such request.
There are two parts required when developing such mechanism:
1. The request needs to be legit, e,g, coming from a trusted source or can be verified if it is from a trusted source
2. The request needs to include information if the device is truste

[2020-02-26 15:19] #2358 closed

[2020-02-26 20:35] brandonforster commented on #2399
It looks like logging is throwing an error retrieving its configuration from Consul. I'd say there's two issues here:

1. Why is logging not able to retrieve its configuration?
2. Why is logging not starting making command stop, shutdown, and then restart over and over and over?

[2020-02-27 00:12] tonyespy commented on #2368
I should have a PR for master shortly. That said, not sure why #2369 didn't auto-close this when it was merged in fuji? Also I *thought* we were taking the approach of opening a new bug for the development release vs. re-using an issue across releases. Maybe that's being handled slightly differently in each WG? Anyways for now I'll go ahead reference this issue in my PR for master.

[2020-02-27 16:46] difince commented on #2383
The Issue was validated against the three PRs @bnevis-i have been created.

[2020-02-27 17:17] #2383 closed

[2020-02-28 15:18] bnevis-i commented on #2404
See https://github.com/edgexfoundry/developer-scripts/issues/230 for related issue expected to be fixed in Geneva (in this issue, not only is the above true, but the dependent services are starting even before the secrets token has been written).  In the above cause, services are using the root token, but the DB passwords have not yet been provisioned.

[2020-02-28 15:56] bnevis-i commented on #2380
@difince What is left to do here?

[2020-02-28 16:25] bnevis-i commented on #2200
Clarification: this request is asking that security-proxy-setup use

`SecretClient:GetSecrets(subPath string, keys ...string) (map[string]string, error)`

instead of forming the HTTP request to Vault itself.

[2020-02-28 16:29] #2382 closed

[2020-02-28 16:44] tonyespy commented on #2356
I just self-assigned, I have a PR I'm working on right now which forward ports all the snap changes that I landed in fuji to master. I expect to push the PR later today, or Monday at the latest.

[2020-02-28 19:14] #2362 closed

[2020-02-28 21:15] #2359 closed

[2020-02-28 21:17] akramtexas commented on #2328
- The `PR` to update the `fuji` tagged release has been closed, [based on a detailed discussion](https://github.com/edgexfoundry/edgex-go/pull/2397#issuecomment-592727101). Closing this issue as such ✅

[2020-02-28 21:17] #2328 closed

[2020-02-28 21:34] brandonforster commented on #2399
I believe I have identified the issue in contracts. Submitting a PR now, I'll use this issue number to update the core-contracts version.

[2020-03-01 05:12] kurokobo commented on #2405
@michaelestrin
Thank you for your comment.

Of course, I know that EdgeX does not currently explicitly support HA environments. I tried this just for my home lab.
So it's OK to close this issue, but I'm writing some additional information for future investigation.

I'm sorry I couldn't convey it well, but I think this issue could not resolved by environment variable overriding.
The same issue has

[2020-03-02 08:15] difince commented on #2385
The issue have been fixed by PR #2395

[2020-03-02 08:15] #2385 closed

[2020-03-02 08:17] difince commented on #2380
The issue was fixed by PR https://github.com/edgexfoundry/edgex-go/pull/2381

[2020-03-02 08:17] #2380 closed

[2020-03-02 13:45] michaelestrin commented on #2405
Manifest support is contrived; see https://github.com/edgexfoundry-holding/edgex-kubernetes-support/tree/master/releases/nightly-build/kubernetes.  This is explicitly called out in the repository's /README.md:

Further, specific host names are assumed (e.g. consul.k8s, command.k8s, data.k8s, etc.).  /releases/nightly-build/kubernetes/README.md includes a step to configure your local naming service

[2020-03-02 14:40] michaelestrin commented on #2399
Closed by https://github.com/edgexfoundry/go-mod-core-contracts/issues/220

[2020-03-02 15:27] tsconn23 commented on #1811
@michaelestrin It looks like the only thing pending on this is removal of config-seed, is that correct? Per Core WG 27-Feb-2020 there are some action items in the core/support services before that can happen.

[2020-03-02 15:33] michaelestrin commented on #1811
Yes.  config-seed removal precedes this.

[2020-03-02 17:05] brandonforster commented on #2399
Reopening, adding a PR to incorporate those changes into the codebase and fix the BB tests.

[2020-03-02 18:11] #2399 closed

[2020-03-02 20:34] bnevis-i opened #2420 "EdgeX microservices are too tightly coupled to configuration"
### Background

The EdgeX middleware strives to be flexible with regard to deployment scenarios, such as:

- Deployment as standard OS processes
- Deployment into snaps
- Deployment into OCI container infrastructures (such as Docker, Docker Swarm, K3S, microK8S)
- Deployment using only static configuration (Consul-less)
- Deployment with dynamic configuration / registry support (Consul)
- Deployme

[2020-03-02 20:37] bnevis-i commented on #2420
@andresrinivasan I would like to get your feedback as to whether you think I am going after the right problem here in context of the Redis integration.

[2020-03-02 20:48] michaelestrin commented on #2420
Kudos for this work @bnevis-i!

Once refined, this is a topic that should be raised and discussed in a Core WG meeting.

@tsconn23, @tingyuz  for visibility.

[2020-03-02 21:56] andresrinivasan commented on #2420
Yes, this is the right problem to go after and written very nicely. This immediately bumps into current implementation challenges with the blackbox testing scripts. In other words solving this high level problem will require a rethink of the test scripts.

[2020-03-03 00:03] tsconn23 commented on #2420
@cloudxxx8 For visibility from Test/QA

[2020-03-03 07:44] jinlinGuan opened #2421 "Empty reply from server when getting Core-Command device"
# 🐞 Bug Report

### Affected Services

 The issue is located in: core-command

### Is this a regression?

 -

### Description and Minimal Reproduction
1. download the [nightly-build docker-compose file](https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-redis-no-secty.yml) and use docker-compose up
`docker-compose -f docker-compo

[2020-03-04 13:00] michaelestrin opened #2424 "Update config.Clients usage for new naming scheme"
Clients in configuration were renamed in https://github.com/edgexfoundry/edgex-go/pull/2401.  References to usage with hardcoded service names (e.g. `configuration.Clients["Logging"]`, etc.) were not updated.

Suggest implementation replace string literal with centrally defined constant.

[2020-03-04 18:31] tsconn23 opened #2425 "Persist ValueType, MediaType, FloatEncoding Properties on Readings"
This issue is dependent on completion of https://github.com/edgexfoundry/go-mod-core-contracts/issues/193

Once that issue is complete, consume go-mod-core-contracts in edgex-go and then update persistence to store the new properties on the Reading model. Account for both Redis and Mongo.

[2020-03-05 12:58] #2414 closed

[2020-03-05 17:07] michaelestrin commented on #2424
Placed on hold pending resolution of path forward per March 5, 2020 Core WG call.

[2020-03-05 21:20] tingyuz commented on #2200
To utilize the existing SecretClient:GetSecrets, we need to make the configuration file consistent between security-proxy-setup and core microservices such as metadata etc through using the existing SecretStoreInfo in go-mod-bootstrap. Here is what we have in the go-mod-bootstrap:
[code]
and the configuration file we have for security-proxy-setup is like this below:
[code]
So my proposal would be

[2020-03-05 21:28] jim-wang-intel commented on #2200
@tingyuz Can we still use the old schema but somehow converts it in the wrapper code to preserve the compability?

[2020-03-05 21:30] michaelestrin commented on #2424
Closed per conversation with Trevor and decision to revert https://github.com/edgexfoundry/edgex-go/pull/2401 and defer root issue for post-Geneva implementation.

[2020-03-05 21:34] tingyuz commented on #2200
@jim-wang-intel  yes it is another option we have - we can build SecretStoreInfo internally and pass it into go-mod-boostrap, however that may leave us inconsistent among the configuration files across the project which may still need to be addressed later. If we are OK to ignore the compatibility from FUJI then we will  be in better shape from now on.

[2020-03-05 21:34] bnevis-i commented on #2200
Fuji isn't LTS so I don't care about changing the configuration.toml between releases.

Diana did a similar change for edgex-mongo that can probably be used here as well:

https://github.com/edgexfoundry/docker-edgex-mongo/pull/74

[2020-03-05 21:39] jim-wang-intel commented on #2200
Sure, if the compatibility  is not a concerned at all, I am all for the consistence

[2020-03-05 21:39] tingyuz commented on #2200
@bnevis-i yes you nailed it - that PR is exactly what we are trying to do here.
If backward compatibility is not a concern I will go ahead and make the changes.

[2020-03-05 21:41] michaelestrin commented on #1662
Reverted #2401 (with #2427).  Reopened and reclassified as post-Geneva issue.

[2020-03-05 21:41] jim-wang-intel commented on #2200
Also, I think we should leverage bootstrap if we can to reduce the duplication of codes

[2020-03-05 22:04] michaelestrin commented on #2200
Backward compatibility of configuration files was a topic in today's Core WG call.  Suggest you delay this change until the community decides whether or not configuration files must be backward-compatible across minor releases.  Geneva is a minor release.  The lack of backward-compatibility was the dominant reason given for reversing #2401.

@tsconn23 @tonyespy @jpwhitemn @lenny-intel

[2020-03-05 22:45] bnevis-i commented on #2200
I suggest it would be better to ahead with the change and unify the configuration, and write code for backward compatibility that we can throw away if we decide it isn't needed, rather than duplicating code and bugs for the purpose of not changing the config syntax.

[2020-03-06 16:32] #2356 closed

[2020-03-06 16:32] #2368 closed

[2020-03-09 07:32] weichou1229 opened #2429 "Metadata doesn't create the valuedescriptor by uploading the profile"
# 🐞 Bug Report

### Affected Services
The issue is located in:  core metadata

### Is this a regression?
No

### Description and Minimal Reproduction
**Core metadata service** doesn’t create the value descriptor by uploading device profile when **EnableValueDescriptorManagement=true** and it only works by post the profile in JSON format

- (O) add or update the profile in JSON format /api/v1/devic

[2020-03-09 14:30] #2363 closed

[2020-03-09 18:42] akramtexas opened #2430 "Processing large (CBOR) payload results in the golang runtime stack getting blown."
# 🐞 Bug Report

### Affected Services
Metadata

### Is this a regression?
No

### Description and Minimal Reproduction
- Launch `device-virtual-go` (`./device-virtual`) where we are using a device with the following configuration: `edgexfoundry/device-virtual-go/cmd/res/device.virtual.binary.yaml`
- After the device has been registered, run the following command to get the commands (GET and PUT) t

[2020-03-09 18:44] akramtexas commented on #2272
- Following updates to `restDevice.go` (i.e. `edgex-go/internal/core/command/restDevice.go`) on a feature branch (WIP and for which a `PR` will be prepared and submitted), and for which unit testing has been created, a CBOR result is now handed back as bytes, and the appropriate content-type is sent to the caller as well. This complements the already-existing capability for handling a JSON result.

[2020-03-09 19:07] x448 commented on #2430
@akramtexas a large CBOR payload isn't required to exhaust system resources.  Just 1 decode attempt of a 9-byte malformed CBOR payload can exhaust system resources.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://

[2020-03-09 19:32] tobiasmo1 commented on #2430
Might want to expand scope or create issue to evaluate whether switching to [fxamacker](https://github.com/fxamacker/cbor) would function well and is warranted.

[2020-03-10 10:15] iain-anderson commented on #2272
Should we split out handling CBOR for write commands (enhancement) from this issue of missing content-type in result of read command (bug)

[2020-03-10 15:14] #2425 closed

[2020-03-10 19:30] #2409 closed

[2020-03-10 22:17] tsconn23 commented on #2280
Reassigned project and label from core services to device services since remaining PR pending approval is against Device SDK Go.

[2020-03-11 05:50] zhanglt commented on #225
Me too

[2020-03-11 14:26] weichou1229 commented on #2429
@AnthonyMBonafide Could you help review this issue and PR?

[2020-03-11 16:13] #2410 closed

[2020-03-12 08:29] jinlinGuan opened #2433 "Scheduler container failed to find requires authentication"
# 🐞 Bug Report

### Affected Services

 The issue is located in:  support-scheduler

### Is this a regression?

 -

### Description and Minimal Reproduction
Refer to [developer-scripts#233](https://github.com/edgexfoundry/developer-scripts/issues/233)

## 🔥 Exception or Error
[code]

## 🌍  Your Environment
**Deployment Environment:**

**EdgeX Version:**
Master

**Anything else relevant?**
This iss

[2020-03-12 13:51] tingyuz commented on #2200
Per the discussion result of security WG meeting on March 11th,  it is decided we will keep the original format of configuration same as Fuji but add internal structure to utilize the go-mod-secrets and go-mod-bootstrap. The format of configuration will be changed to be consistent with the [secretstore] section of other core-services in the next major release ( Hanoi as of now).

[2020-03-12 16:12] akramtexas opened #2434 "Enhance support-notifications with configurable delivery of notifications."
- This proposed enhancement is to configure the `support-notifications` service to not send notifications unless the notifications were at (or above) a given severity level.
- This is a follow up to the work already done in #2328, specifically as referenced [in this comment](https://github.com/edgexfoundry/edgex-go/issues/2328#issuecomment-581975741).

[2020-03-14 03:46] bnevis-i commented on #1943
Fixed by https://github.com/edgexfoundry/developer-scripts/pull/219 and https://github.com/edgexfoundry/developer-scripts/pull/221 for docker scripts.

[2020-03-14 13:48] cloudxxx8 opened #2436 "Update the version number of V1 Swagger files"
# 🚀 Feature Request

### Relevant Package
This feature request is for API documents

### Description
We should keep v1.1.0 for Fuji release and set the version to v1.2.0 for Geneva in the Swagger files.

### Describe the solution you'd like
Update all the V1 Swagger files to v1.2.0

[2020-03-16 20:29] #2360 closed

[2020-03-16 20:53] bnevis-i commented on #1943
@anonymouse64  Has this issue been fixed in the snap packaging?

[2020-03-16 21:04] anonymouse64 commented on #1943
No, I'll assign to Tony

[2020-03-17 09:32] weichou1229 commented on #2433
It seems didn't retrieve the username and password from the consul.

The steps to reproduce:
1. Deploy EdgeX
[code]
https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-mongo-no-secty.yml

2. Navigate to http://localhost:48080/api/v1/reading
[code]
3. I can find Username and password on the Consul
http://localhost:8500/ui/dc1/kv/ed

[2020-03-17 16:57] x448 opened #2439 "One attempt to decode 9 bytes of malformed CBOR data can exhaust memory"
# 🐞 Bug Report

### Affected Services

 The issue is located in:

<p>

edgex-go/internal/core/data/io.go

[code]

There are two potential problems related to memory exhaustion:
1.  Small data -- the CBOR library used by edgex-go can exhaust memory in 1 decode attempt of 9 bytes of malformed data.
2.  Large data -- use of ioutil.ReadAll(reader) into memory is risky and not necessary with most CBOR

[2020-03-17 19:47] tingyuz commented on #1990
Had a brief discussion with @bnevis-i @mkbhanda in security group and we feel it is not in the top priority list currently. There are more important issues to be handled. As Bryon mentioned here is the list (not complete) we may be focusing on in the future:
- Lots of containers running around running as root or with r/w file systems
- RedisDB doesn't have a password, Postgres uses a fixed passwor

[2020-03-17 20:52] bnevis-i commented on #2433
Wondering out lout if this has something to do with what is present in types.go in go-mod-bootstrap.  Note that the credentials are referenced via a nested struct instead of being included literally.  This may be throwing off whatever kind of type introspection the code is doing to fill this struct up.

[code]

[2020-03-18 03:22] weichou1229 commented on #2433
@bnevis-i
You are right, I change the Database struct
[code]

Then It can fetch the username password from Consul
[code]
https://github.com/edgexfoundry/go-mod-configuration/blob/master/internal/pkg/consul/client.go#L175

[2020-03-18 03:28] bnevis-i commented on #2433
@weichou1229  Great news!  I tried to fork the module, but then had to update all the edgexfoundry/go-mod-bootstrap references to my fork everywhere.  Been trying to get this going for hours.  I will abandon my futile attempt to validate this given your result and yet you push the necessary fixes.

[2020-03-18 03:43] weichou1229 commented on #2433
But I 'm not sure that is the correct way to fix the issue.
@tsconn23 Could you help review this issue?

[2020-03-18 04:10] bnevis-i commented on #2433
When I send this the old data structure through fmt.Printf %v, the generic structure outputs as a nested data structure `{  { username, password } type, timeout, host, port name }` whereas flattening it should remove the artificial nesting.  Since before the mongo --auth fix, the database didn't require any password at all, I would guess that this implementation never worked, and that in the secur

[2020-03-18 11:54] michaelestrin commented on #2433
Based on what I've read, the proposed correction -- flattening the data structure -- is the correct one.  Raise a PR.  @weichou1229

@bnevis-i go.mod's [replace](https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive) should help you avoid making mass import name changes for testing in the future.

[2020-03-18 12:27] weichou1229 commented on #2433
PR opened https://github.com/edgexfoundry/go-mod-bootstrap/pull/57

[2020-03-18 18:21] bnevis-i commented on #2433
[code]

Configuration is now passing through after local testing with new go-mod-bootstrap, however, edgex-mongo appears to still not be provisioning passwords.

[2020-03-19 01:34] bnevis-i commented on #2236
It appears as if the build for config-seed is broken and has been broken for about a week now.

From here: https://nexus3.edgexfoundry.org/#browse/search/docker=format%3Ddocker%20AND%20attributes.docker.imageName%3Ddocker-core-config-seed-go%20AND%20attributes.docker.imageTag%3Dmaster:7f6379d32f8dd78f5e6145df5681f2ea:cf606f82560ea906f46771320b76579c
the container was last built on Wed Mar 11 2020

[2020-03-19 03:47] hahattan opened #2442 "Updating device profile cannot callback to device service"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Metadata

### Is this a regression?
No

### Description and Minimal Reproduction
the update device profile API cannot trigger the DS callback correctly. First you need to delete all associated devices and provisionwatchers otherwise it'll return below error. After this you can successfully update the device profile on metadata, howev

[2020-03-19 15:41] lenny-intel commented on #2236
@bnevis-i,  Looks like a failure to install Python. This will all go away soon as config-seed will be removed and env overrides will take care of the config changes that are being done in the Dockerfile.

[2020-03-19 15:42] lenny-intel commented on #2236
@tsconn23 , can you post this list of todo's you recorded for when config-seed is remove?

[2020-03-19 15:59] bnevis-i commented on #2236
I have submitted PR #2444 to disable build of config seed if this is what we want to do in the short term to enable us to make forward progress.

[2020-03-19 16:13] lenny-intel commented on #2236
@tsconn23 , I think @bnevis-i 's temp solution should suffice. You agree?

[2020-03-20 16:03] lenny-intel commented on #2236
PR for this ADR edgexfoundry/edgex-docs#115 has consensus and in process of TSC approval, so moving forward with a PR for this which covers all the edgex-go related portions from the ADR.

[2020-03-23 14:14] #2433 closed

[2020-03-23 15:06] AnthonyMBonafide commented on #2236
@lenny-intel, Now that we can move forward with this issue, what issues need to be created to track this work?

As I see it we have the following items to do with associated issues:

1. Update `go-mod-bootstrap` to include the functionality that `config-seed` is now doing: https://github.com/edgexfoundry/go-mod-bootstrap/issues/14

1. Update `edgex-go` to use the changes in `go-mod-bootstrap` and

[2020-03-23 15:26] lenny-intel commented on #2236
@AnthonyMBonafide , 3 above needs to include the addition of env overrides, which I plan to discuss in this week's Core WG and have changes WIP for it.  I have PRs for 1 & 2 above.   So the outstanding is an issue for 4 on edgex-docs. Config documentation is a large gap in our current documentation so it is bigger that documenting these changes. I'll ping @tsconn23 to add another topic for Core WG

[2020-03-24 05:57] jinlinGuan opened #2448 "[Mongo] support-notifications error: resource already exists"
# 🐞 Bug Report

### Affected Services

 The issue is located in: support-notifications

### Is this a regression?

 -

### Description and Minimal Reproduction
1. run [docker compose file](https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-mongo-no-secty.yml)
`docker-compose -f docker-compose-nexus-mongo-no-secty.yml up -d`
2. `d

[2020-03-24 10:09] hahattan commented on #2442
We received many requirement to want to be able to update device profile at runtime.
Currently just remove the device and provisionwatcher checking code world work
https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/metadata/operators/device_profile/update.go#L44-L46

@brandonforster is this solution acceptable ?

[2020-03-24 14:39] brandonforster commented on #2442
@hahattan I'm not sure, I don't have the context to make an informed answer. I'll take a look at this today or tomorrow and take a look at the implications of that change and let you know, but at first glance this doesn't seem unreasonable.

[2020-03-24 16:05] #2411 closed

[2020-03-24 16:31] bnevis-i commented on #2430
Issue #2439 duplicates this issue.

[2020-03-24 16:31] bnevis-i commented on #2439
Duplicate of #2430

[2020-03-24 17:11] x448 commented on #2439
@bnevis-i

Issue #2430 is titled "Processing **large (CBOR) payload** results in the golang runtime stack getting blown." and reports a morestack error:

By comparison, this issue reports these memory allocation errors caused by only **9-10 bytes** of payload:

If the #2430 and #2439 are combined, the surviving issue should mention all three errors and have a suitable title to prevent confusion/co

[2020-03-24 17:25] bnevis-i commented on #2439
@x448 Thanks.  I unduplicated.

[2020-03-24 20:51] tingyuz commented on #2200
The 1st part of 2 to update on go-mod-bootstrap side is merged and working on 2nd part which is on edgex-go currently.

[2020-03-24 20:57] tingyuz commented on #2200
Will need PR https://github.com/edgexfoundry/go-mod-bootstrap/pull/60 to into place to avoid the race condition in edgex-go.

[2020-03-24 21:32] andresrinivasan opened #2449 "Make Redis default for secured deployment of EdgeX"
# 🚀 Feature Request

### Relevant Package

 Redis

This is part of #2270

### Description

Add hooks to support secure EdgeX deployment with Redis

### Describe the solution you'd like
 If you have a solution in mind, please describe it.

### Describe alternatives you've considered
 Have you considered any alternative solutions or workarounds?

[2020-03-24 21:35] andresrinivasan commented on #2449
Please assign to @andresrinivasan

[2020-03-25 13:36] x448 opened #2452 "Security Policy features of GitHub broken by current content of SECURITY.md"
# 📚 Docs or Wiki Bug Report

### Description

Two GitHub features related to Security Policy are broken by the current content of SECURITY.md:

* __Security -> Policy__ is broken because it displays features rather than security policy

* __New Issue -> View Policy__ is broken because it displays features rather than security policy

## 🔬 Minimal Reproduction

Problem 1: Click on Security tab and

[2020-03-25 13:51] AnthonyMBonafide commented on #2430
This issue might have the same root problem as #2439

@akramtexas, if I recall correctly you were experiencing this when you were using a large `JPEG` CBOR payload. You obtained that payload from somewhere else and cannot be completely sure if the contents were valid CBOR. Could you look into this and verify? If that is the case then we can close this issue since it is essentially a duplicate.

[2020-03-25 14:45] AnthonyMBonafide commented on #2436
Closed via PR #2437

[2020-03-25 14:45] #2436 closed

[2020-03-25 15:37] #2361 closed

[2020-03-25 16:55] akramtexas commented on #2430
- @AnthonyMBonafide Your recollection is exactly right. I had created that payload using the following snippet, which is a (significantly-modified) variant of the snippet available at [Sending and Consuming Binary Data From EdgeX Device Services](https://github.com/edgexfoundry/edgex-docs/blob/fe0844a2e04430791e9c84b6e924abdeb623eb00/examples/Ch-ExamplesSendingAndConsumingBinary.rst). Given the gr

[2020-03-25 19:26] AnthonyMBonafide commented on #2430
@akramtexas, can we do a quick verification to see if size is the issue. Can you create a valid CBOR payload which matches the size of the `JPEG` payload you previously used and see if that causes the same error. If there is no error then I think we can close this issue, as it was probably invalid CBOR which caused the issue. However, if the problem still exists can you do a half-interval search(b

[2020-03-25 19:56] akramtexas commented on #2430
@AnthonyMBonafide Excellent suggestion. I'm on it, and will update here with results.

[2020-03-25 20:37] #2200 closed

[2020-03-25 20:41] bnevis-i opened #2453 "Deploy consul in secure configuration"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.

When microservices are operating in registry mode, they get service location information from the EdgeX registry.   Consul installation should comply with the hardening guidelines at https://www.consul.io/docs/internals/security.html.

This includes:
- Enabling consul PKI (provided by

[2020-03-25 20:57] akramtexas commented on #2430
- Here are the results of using (for the same `PUT` command I had used earlier) a newly-created, valid `CBOR` payload of large size that matches (in fact, _exceeds_ by a couple of `MB`) the size of the `JPEG` payload I had previously used: No issues this time. Status is `200 OK` each of the several times I ran the `PUT` command with the new `CBOR` payload.
- Evidently, the issue I ran into earlier

[2020-03-25 21:07] bnevis-i opened #2454 "Vault should manage on-device CA and self-seed its own leaf TLS certificate"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.

EdgeX PKI is currently created by a standalone utility (secrets-setup), but this approach is not scalable to dozens of services.  This is done because Vault by default requires TLS for its REST API.

What should be done instead is that Vault should be started in non-TLS mode listening

[2020-03-25 21:12] bnevis-i opened #2455 "Enable Vault PKI secrets engine and add TLS secrets to go-mod-secrets"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.

In order to enable microservices to authenticate the server side of a connection and provide confidentiality and integrity protection of microservice communications, we should enable the Vault PKI secrets engine for issuing of leaf TLS certificates and add hooks to go-mod-secrets to r

[2020-03-25 21:16] bnevis-i opened #2456 "Enable Vault identity secrets engine"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.

In order to enable microservices to authenticate the client side of a microservice connection, we should enable the Vault Identity secrets engine for issuing of OIDC-compliant Oauth tokens and add hooks to go-mod-secrets to request token at runtime in order to be able to authenticate

[2020-03-25 21:21] bnevis-i opened #2457 "Require TLS on REST APIs when security is enabled"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.
Depends on #2455

In order to enable microservices confidentiality and integrity protection, it is necessary to modify the EdgeX middleware to create TLS-enabled REST API servers when security is enabled.  This means requesting a TLS certificate from the secret store and using it when

[2020-03-25 21:26] bnevis-i opened #2458 "Microservices to supply authentication token to other EdgeX microservices when security is enabled"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.
Depends on #2456

In order to enable authentication of microservice callers, EdgeX microservices, when calling other EdgeX microservices when security is enabled, should query the EdgeX secret store for their authentication token and embed it in the outgoing request.  The client micros

[2020-03-25 22:40] bnevis-i opened #2460 "Authorize authenticated microservice requests when security is enabled"
# 🚀 Feature Request

### Description
This is a sub-story of https://github.com/edgexfoundry/edgex-go/issues/1950.
Depends on #2458

When security is enabled, REST API must reject unauthenticated requests.  REST APIs must validate the authentication token provided by the client microservice to ensure:

- That it was issued by Vault (typically this will be done by obtaining a public key from a well-

[2020-03-26 14:16] tonyespy commented on #2338
@tingyuz As mentioned in yesterday's security meeting, I've already made most of the required security configuration changes in the snap in the following pull request:

https://github.com/edgexfoundry/edgex-go/pull/2426

Also as explained in my email to you last night, the vast majority of changes we make to service configuration in the snap have to do with pathnames of directories and/or files.

[2020-03-26 14:20] #2412 closed

[2020-03-27 16:56] jdharms commented on #2439
@x448 do you have repro bytes for the 9 byte malformed data? I looked in the RFC and couldn't find it, or sufficiently detailed instructions to reproduce myself.

I would like to add a test case against this along with the transition to fxamacker/cbor.

[2020-03-27 17:54] x448 commented on #2439
@jdharms I can provide malformed CBOR data that causes two of the three errors.

I haven't seen the 3rd error ("morestack") with ugorji/go mentioned in #2430.  Maybe someone from edgex-go can provide malformed CBOR data that causes "morestack" error -- it would be useful to add to fxamacker/cbor unit tests.

[7049bis (draft of editorial update to RFC 7049)](https://datatracker.ietf.org/doc/draft-i

[2020-03-27 18:12] jdharms commented on #2439
@x448 Here's my attempt at reproducing with ugorji/go:

[code]

The result of running this code is:

[code]

It appears to me the library is properly catching both of these errors.  Please let me know if I'm making a mistake with my repro code--interested in getting this resolved.

[2020-03-27 18:38] x448 commented on #2439
@jdharms can you provide more info about the system and versions used for testing?

@fxamacker used the following to reproduce the errors using the same data:
* ugorji/go (both 1.1.7 and also latest commit on GitHub)
* Go 1.12
* linux_amd64 with 4 GB RAM on Xeon Haswell

Here's 3rd-party description of ugorji/go fatal out of memory errors using the same data I provided:
* https://github.com/oasisl

[2020-03-27 19:11] jdharms commented on #2439
* github.com/ugorji/go v1.1.4
* go 1.13
* darwin/amd64

I just tried to update to ugorji/go v1.1.7 and was able to successfully reproduce.

Thanks for your help.  Wanted to do my due diligence before making a swap like this one.

[2020-03-27 19:46] x448 commented on #2439
@jdharms nice catch!  Thanks for looking into this, I'd have done the same due dilly in your shoes.

I'm a bit worried about not having a reproducer for the "morestack" error mentioned in #2430.  It could come back to haunt us if left unsolved.

BTW, I opened https://github.com/edgexfoundry/app-functions-sdk-go/issues/305 a couple days ago in case they didn't know.

[2020-03-30 13:56] AnthonyMBonafide commented on #2430
@akramtexas , awesome. Thank you for the additional effort in solving this issue. I am closing this issue since it has been verified that the root cause is due to invalid `CBOR`, which is a problem covered by #2439 . Also, you can follow the PR https://github.com/edgexfoundry/edgex-docs/pull/118 for information regarding the creation of the test `CBOR` payload.

[2020-03-30 13:56] #2430 closed

[2020-03-30 14:04] akramtexas commented on #2430
@AnthonyMBonafide ✅ Always happy to help. Definitely, I'll be following up on creating documentation that captures the steps for the creation of the testing involving `CBOR` payloads ✅

[2020-03-30 14:45] #2404 closed

[2020-03-30 15:40] tingyuz commented on #2338
As it is decided we keep the configuration file unchanged for Geneva and will make breaking change for Hanoi release, I agree with @tonyespy  that this is not an issue anymore. Close the issue.

[2020-03-30 15:40] #2338 closed

[2020-03-30 15:55] lenny-intel commented on #1539
@AnthonyMBonafide , good catch on this. The problem is that Arrays are not supported by the Consul API we use to pull the configuration from Consul. We need avoid use of arrays and use CSV strings in these cases.

[2020-03-30 16:01] bnevis-i commented on #2455
Merged with #1925

[2020-03-30 16:01] #2455 closed

[2020-03-30 16:10] brandonforster opened #2462 "REST endpoints do not gracefully handle request timeout configured by bootstrap"
# 🐞 Bug Report

### Affected Services
This issue was noticed by working #2421. The underlying problem in that issue is that work behind the scenes is taking longer than the configured timeout in bootstrap, and this timeout is not handled in any way. Currently, this manifests as all the business logic "work" returning their proper values, coming down to the JSON encoder, and the JSON encoding faili

[2020-03-30 16:16] tingyuz commented on #1539
Since it is decided that no configuration changes for Geneva and we will be introducing break change for the next major release, I would propose an option as below:

1. Leave the code and configuration as it for Geneva,
2. For the next major release, we need to change the SNIS from array to CSV string so that the SNIS will be like this
[code]
3.  Before calling SNIS directly, we may need a functio

[2020-03-30 16:55] #2266 closed

[2020-03-30 17:35] lenny-intel commented on #1539
@tingyuz , this was like this in Fuji? Doesn't it cause a panic when reading it back from Consul? I.e. this is a bug that needs to be addressed.

[2020-03-30 18:14] lenny-intel commented on #1539
@tingyuz , never-mind, I didn't look at the topic for this issue. So it currently ins't using consul.... so no bug.

[2020-03-30 18:15] brandonforster commented on #2442
@hahattan Sorry for the delay. I don't think what you've proposed is the right way to go; this will mean that we allow updating a device profile while it still has devices associated to it.

I think what we should do is investigate why the callback is not being triggered on update.

[2020-03-30 20:05] bnevis-i commented on #2404
@anubhavs9

Please validate with a docker-compose pull   and a docker-compose up -d  to verify the race has been elimianted.

[2020-03-31 02:44] hahattan commented on #2442
I think the reason is that it doesn't know which device service it need to notify/callback to:
https://github.com/edgexfoundry/edgex-go/blob/acc4df9fb78c0d0906fa2020a3cf6a0055e98e35/internal/core/metadata/rest_deviceprofile.go#L602
the first parameter would be an empty slice if we delete all the associated devices.
So I was wondering whether we can ignore the checking part, or is there any other w

[2020-03-31 09:53] jinlinGuan opened #2463 "API authority error: 401 Unauthorized"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
core services
support-notifications
support-scheduler
device-virtual

### Is this a regression?

 The error happens since March 26

### Description and Minimal Reproduction

## 🔥 Exception or Error
For example,
[code]

## 🌍  Your Environment
**Deployment Environment:**
X86 and ARM
**EdgeX Version:**
Master

**Anything else relevant?*

[2020-03-31 14:15] cloudxxx8 commented on #2463
This issue happens only if the security is enabled.

[2020-03-31 15:05] cloudxxx8 commented on #2442
@brandonforster we opened this issue because we have multiple customers really need to update profile at runtime when the device is running.
Some protocol allow the device resource dynamically change at run time.

[2020-03-31 15:08] cloudxxx8 commented on #2442
I thought it would be the responsibility of the individual Device Service to make sure Devices run smoothly when the profile is updated.  Core Metadata should not block the update.

[2020-03-31 15:25] x448 commented on #2439
@jdharms :fire: new malformed CBOR data was found that can exhaust memory in every version of ugorji/go tested so far.

Unfortunately, new data causes "fatal error: out of memory" error (instead of the "morestack" error reported by @akramtexas in #2430 presumably with ugorji/go 1.1.4).  So a "morestack" reproducer is still missing.

Please share a reproducer for "morestack" error so the malformed

[2020-03-31 15:36] jdharms commented on #2439
@x448

Are you able to share these inputs?  If preferred you can email them to me, but I would love to verify them on my end.  If I get my hands on a reproducer for "morestack" I will share it as well.

[2020-03-31 21:32] brandonforster opened #2464 "Provision Watcher Update blackbox test failures in Mongo"
# 🐞 Bug Report

### Affected Services
The issue is located in: core metadata provision watcher update endpoint using Mongo driver

### Is this a regression?

Yes, the previous version in which this bug was not present was:  prior to https://github.com/edgexfoundry/edgex-go/commit/42aa357818f7845ac1db35d24861146831d3085c

### Description and Minimal Reproduction

## 🔥 Exception or Error
[code]

[2020-04-01 14:06] AnthonyMBonafide commented on #2442
@cloudxxx8 , @hahattan , @brandonforster

This seems like a reasonable request, and I think this has come up in the past. I wonder if this is something we should bring up at the next Core WG Call(April 2nd) and discuss. The reason I would like a little discussion around this is that this may affect other parts of the system and may break backwards comparability for reasons that are not immediately

[2020-04-01 15:19] #2421 closed

[2020-04-01 15:21] cloudxxx8 commented on #2463
@tingyuz @bnevis-i do you have any idea about this issue?  thanks.

[2020-04-01 15:22] AnthonyMBonafide commented on #2463
@tingyuz @mhall119 @bnevis-i This looks like an issue within Kong since `401 Unauthorized` responses are not returned from any of the core-services. Is my assumption correct?

[2020-04-01 16:06] bnevis-i commented on #2463
@AnthonyMBonafide since there is no security for any microservice other than Vault, my starting assumptuion would be that Kong is returning the 401.  The most likely cause is that the kong token being passed to Kong is invalid somehow.

[2020-04-01 17:08] bnevis-i opened #2465 "Design defect in EdgeX secret store paths"
# 🐞 Bug Report

### Affected Services
All services that use the EdgeX secret store

### Is this a regression?
No.

### Description and Minimal Reproduction
The EdgeX secret store is often accessed via a path of the form

[code]

However, this is a design defect
- `/v1` is the API version of the Vault server
- `/secret/` is a configuration value what relates to where the KV secret store was mounted

[2020-04-02 01:21] bnevis-i commented on #2463
`setupSecurityserviceTest.sh` was broken by the recent conversion of proxy-setup to use go-mod-bootstrap.  Working on a fix.

[2020-04-02 01:34] bnevis-i commented on #2463
Token parsing fixed in  https://github.com/edgexfoundry/blackbox-testing/pull/419

[2020-04-02 06:59] cloudxxx8 commented on #2463
verified this issue is fixed by edgexfoundry/blackbox-testing#419
@jinlinGuan please help close

[2020-04-02 10:02] cloudxxx8 commented on #2442
It should not break the backward compatibility, because it still allows the original behavior- "removing all associated device before updating profile".

[2020-04-02 13:54] AnthonyMBonafide commented on #2442
@cloudxxx8 , agreed. However, the logic was explicitly put in place. Which to me means that at some point someone made a architectural decision to not allow this feature. While I agree that it seems like a good feature to have, and the changes seem to be pretty straight forward. I want to ensure this was not originally done for some reason that is not immediately clear.

[2020-04-02 14:45] tsconn23 commented on #2442
To my knowledge this is an explicit design choice. There is no mechanism in the Device Service to reconcile devices to an updated device profile and I personally am not signing up to support this as an extra requirement three weeks before freeze on the Geneva release.

[2020-04-02 15:06] cloudxxx8 commented on #2442
It seems this restriction doesn't exist in Edinburgh.
https://github.com/edgexfoundry/edgex-go/blob/edinburgh/internal/core/metadata/rest_deviceprofile.go#L114-L123

We would try to get the user to use Edinburgh release to work around this issue for now.

[2020-04-02 15:49] cloudxxx8 commented on #2463
@bnevis-i sorry, I verified on the wrong job.  The issues still exists.
https://jenkins.edgexfoundry.org/view/blackbox-testing/job/blackbox-testing-security-centos7-blackbox-4c-2g-master/DATABASE=mongo,node=centos7-blackbox-4c-2g/29/consoleFull

[2020-04-02 16:08] bnevis-i commented on #2463
Reopened.  Will wait longer.  Jenkins is showing the test ran 11 hours ago... not sure if the fix was commited by the time the test ran.

[2020-04-02 16:11] cloudxxx8 commented on #2463
thanks, @bnevis-i , I can confirm the Jenkins was run after fix merged
@jinlinGuan remind me /bin/security/setupSecurityAccount.sh should also be modified

[2020-04-02 16:20] bnevis-i commented on #2463
ok.  I'm on it.  Nothing like code duplication to ruin your day.

[2020-04-02 16:36] bnevis-i commented on #2463
@cloudxxx8 @jinlinGuan Please validate/merge https://github.com/edgexfoundry/blackbox-testing/pull/422.

[2020-04-02 17:16] cloudxxx8 commented on #2463
thanks, @bnevis-i , we eliminated most of the 401 error, but some of them are remained
https://jenkins.edgexfoundry.org/view/blackbox-testing/job/blackbox-testing-security-centos7-blackbox-4c-2g-master/DATABASE=mongo,node=centos7-blackbox-4c-2g/30/consoleFull

[2020-04-03 00:37] bnevis-i commented on #2463
I'm going to sit on this a day.  I have not been able to reproduce the 401 failures locally.  Let's see what happens tomorrow.

[2020-04-03 02:18] cloudxxx8 commented on #2463
@bnevis-i I just trigger another run, and the remaining error is another issue.  We will investigate them.  Thanks for all the effort you made.  Please feel free to close this issue.
https://jenkins.edgexfoundry.org/view/blackbox-testing/job/blackbox-testing-security-centos7-blackbox-4c-2g-master/DATABASE=mongo,node=centos7-blackbox-4c-2g/31/consoleFull

[2020-04-03 20:01] jdharms commented on #2439
I have a local branch of edgex-go that swaps the dependency on ugorji/go for fxamacker/cbor.  edgex-go depends on go-mod-core-contracts, which also depends on ugorji/go, so I have introduced an issue: https://github.com/edgexfoundry/go-mod-core-contracts/issues/232 and associated pull request: https://github.com/edgexfoundry/go-mod-core-contracts/pull/233 for go-mod-core-contracts.

When that PR l

[2020-04-03 20:53] lenny-intel opened #2466 "MQTT Message Bus not functional."
# 🐞 Bug Report

### Affected Services

 The issue is located in: core-data

### Is this a regression?
No, never worked

 Yes, the previous version in which this bug was not present was: ....

### Description and Minimal Reproduction

Configure MessageQueue to use mqtt
[code]
Run a MQTT Broker and use Device Virtual to generate data.

## 🔥 Exception or Error
<pre><code>

 msg="Unable to send messag

[2020-04-04 16:21] dthomastx opened #2468 "Slack link is invalid in README.md"
# 📚 Docs or Wiki Bug Report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://docs.edgexfoundry.org/...

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

Is there an active slack workspace?

[2020-04-06 16:30] bnevis-i opened #2469 "Investigate integration LGTM into PR review process"
There are tools now that can automate security reviews as part of our PR review process.

https://semmle.com/lgtm

https://blog.semmle.com/golang-lgtm-support-beta/

"LGTM automatically analyses every commit to identify vulnerabilities early and enable developers to prevent zero-days from reaching production."

"LGTM.com is free for all Open Source projects."

[2020-04-06 19:19] bnevis-i commented on #1948
Closed by submitter (me) to remove it from backlog consideration as other improvements have priority.

[2020-04-06 19:19] #1948 closed

[2020-04-06 19:46] bnevis-i commented on #1889
Believe we should drop this ticket permanently in order to enable #2453 to move forward.

Since this ticket was filed I have learned that we are using consul for service location.  Using an insecure configuration service to bootstrap security seems like a bad idea.

@mkbhanda  do you agree?

[2020-04-06 20:10] bnevis-i opened #2470 "Sign published docker images [ossf silver]"
# 🚀 Feature Request

### Description
Enable image signing for image published to Docker Hub.

Use case is that this enables end-users to pull images where DOCKER_CONTENT_TRUST=1.

OpenSSF silver badge requirement:
_The project MUST cryptographically sign releases of the project results intended for widespread use, and there MUST be a documented process explaining to users how they can obtain the p

[2020-04-07 05:42] mkbhanda commented on #1889
Agree 100%, hardly a secure foundation!

[2020-04-07 14:13] #2464 closed

[2020-04-07 15:03] AnthonyMBonafide commented on #2468
@dave93cab , can you provide a specific link where the documentation is incorrect?

[2020-04-07 15:20] bnevis-i commented on #1889
Closing w/consent of WG chair.

[2020-04-07 15:20] #1889 closed

[2020-04-07 19:07] jim-wang-intel opened #2473 "Ability to create additional Kong routes for application services"
# 🚀 Feature Request

### Relevant Package

### Description

The current Kong routes can only be created and initialized for fixed and statically configured through configuration TOML file specified in `security-proxy-setup` service.  This is not sufficient for application services.  The app services thus need a capability to create or add proxy Kong routes in addition to the existing configuration

[2020-04-07 19:15] anonymouse64 commented on #1301
A good reference for how to do this from Go with the coreos/systemd library is here: https://vincent.bernat.ch/en/blog/2018-systemd-golang-socket-activation

See also the examples at https://github.com/coreos/go-systemd/tree/master/examples/activation

[2020-04-07 19:41] #2463 closed

[2020-04-08 08:09] lindseysimple opened #2475 "Create core data DTOs and data models for V2 API"
# 🚀 Feature Request

### Relevant Package

 Core data service

### Description
 Definitions of core data DTOs and models are designed based on the V2 API swagger definition
[core-data.yaml](https://github.com/edgexfoundry/edgex-go/blob/master/api/openapi/v2/core-data.yaml)

Change includes:
- `Event` object
- `Reading` object

### Describe the solution you'd like

#### The DTOs and data models cha

[2020-04-08 14:29] #2466 closed

[2020-04-08 15:58] bnevis-i opened #2477 "edgex-proxy requires valid secret store token to add Kong users"
# 🐞 Bug Report

### Affected Services
edgex-proxy

### Is this a regression?
Yes

### Description and Minimal Reproduction
[code]

The above command will fail if it is issued an hour after docker-compose up is specified.  This is because edgex-proxy requires the secretstore token to initialize Kong.  However, the token is not needed to add a new Kong user.

The useradd/userdel functionality should

[2020-04-08 16:02] AnthonyMBonafide opened #2478 "Mark Mongo Related Functionality as Deprecated"
# Updated Documentation Request

### Relevant Package

 All core and supporting services.

### Description
As we are moving to Redis as the default data persistence and away from Mongo with hopes to remove support in the Hanoi release. We need to mark the the proper code entities and configurations as deprecated so that both users and developers are aware of the deprecation and plan for removal.

[2020-04-08 16:12] AnthonyMBonafide opened #2479 "Update Services to Disable Remote Logging"
# 🚀 Feature Request

### Relevant Package

 All core and supporting services

### Description
Update the core and supporting services to avoid using remote logging and only support standard out by default.

### Describe the solution you'd like
Service's configuration to not use remote logging. This can be done by updating the service's configuration `logging` section to something like:
[code]

We

[2020-04-08 17:39] lenny-intel commented on #2479
@AnthonyMBonafide , I suggest leaving the Logging section in and adding this comment
[code]

[2020-04-08 20:03] jdharms opened #2480 "Integrate changes to system management agent client in go-mod-core-contracts"
# 🚀 Feature Request

### Description
 A clear and concise description of the problem or missing capability...
After this work is complete: https://github.com/edgexfoundry/go-mod-core-contracts/issues/222 update edgex-go to consume the new agent/client.

[2020-04-08 23:49] #2473 closed

[2020-04-09 11:13] cloudxxx8 opened #2482 "deleteRenamedEvents in Redis db client misses the unlink reading in event collection"
# 🐞 Bug Report

### Affected Services
The issue is located in: core-data

### Is this a regression?
No

### Description and Minimal Reproduction
In deleteRenamedEvents func
https://github.com/edgexfoundry/edgex-go/blob/aba511d176a7b0d4e248dd0805fbf2c94da1ccc5/internal/pkg/db/redis/data.go#L306-L313
It misses a line comparing to deleteEvent func
https://github.com/edgexfoundry/edgex-go/blob/aba511d

[2020-04-09 15:41] #1835 closed

[2020-04-09 17:56] tonyespy commented on #2051
I'm working on this now, and will include it as a part of my PR which removes most, if not all of the snap configuration edits applied to services sourced from edgex-go, in favor of environment variable overrides as used in our docker-compose files.

[2020-04-09 18:56] x448 commented on #2439
My comment 9 days ago was missing the text "runtime:" in the March 2020 fatal error message:
`fatal error: runtime: out of memory`

[2020-04-09 23:16] tonyespy commented on #2051
I'm working on this now, and will include it as a part of my PR which removes most, if not all of the snap configuration edits applied to services sourced from edgex-go, in favor of environment variable overrides as used in our docker-compose files.

Just pushed a branch with all the changes made. Needs a bit more testing before I submit the PR.

https://github.com/tonyespy/edgex-go/tree/snap-issu

[2020-04-10 09:55] lindseysimple commented on #2475
Closing the issue as the DTOs and models should be defined in the `go-mod-core-contracts` module based on the discussion in April 9th Core Working Group Meeting, and the issue is now tracked by https://github.com/edgexfoundry/go-mod-core-contracts/issues/235.

[2020-04-10 09:55] #2475 closed

[2020-04-10 14:40] brandonforster opened #2484 "Child objects with empty IDs have incorrect IDs generated on updates in Mongo"
# 🐞 Bug Report

### Affected Services
This issue exists in several services in the Mongo driver.

### Description and Minimal Reproduction
For any complex object (an object with another object as a field) if the update request JSON contains an update by name, without an ID in the JSON, the Mongo driver will create a new ID for that child object because it cannot find an ID on the update object. Th

[2020-04-10 15:20] AnthonyMBonafide commented on #1811
Since we have completed the work to add config-seed functionality into `go-mod-bootstrap` and updated edgex-go to use a version which has that functionality(`v.0.0.26`) we can now remove the `config-seed` packages and functionality from this repo

[2020-04-10 16:18] #2479 closed

[2020-04-10 17:46] brandonforster commented on #1811
@AnthonyMBonafide is there any work here that wasn't handled by #2445?

[2020-04-10 18:13] AnthonyMBonafide commented on #1811
@brandonforster , I forgot to add a comment explaining this further. The `config-seed` packages have been removed. However there is some lingering functionality that can be removed. It looks like we can remove the Retry struct:
https://github.com/edgexfoundry/edgex-go/blob/f758cd6862d8e6cc426c71a8990c23b386da041b/internal/pkg/startup/bootstrap.go#L19

Also, we can probably remove the `loader.go`,

[2020-04-10 19:24] tonyespy commented on #2378
This was fixed as part of [PR #2426](https://github.com/edgexfoundry/edgex-go/pull/2426).

[2020-04-10 19:24] #2378 closed

[2020-04-10 19:48] tonyespy opened #2486 "SMA continually generates logs errors if support-* services are not running"
# 🐞 Bug Report

### Affected Services
The issue is located in: sys-mgmt-agent

### Is this a regression?
Not sure...

### Description and Minimal Reproduction
**docker**: edit one the nightly-built docker-compose and comment out one of the support services (e.g. support-logging; which will actually be commented out in the release docker-compose* files for Geneva). Start up EdgeX with a docker-comp

[2020-04-10 21:15] tsconn23 commented on #2486
This isn't a bug. It's working as designed up to the current point. The message you're seeing is coming from the endpoint monitor which is bootstrapped at service start time. The monitor attempts to reconnect with the service it's been instructed to contact at a configurable interval (15 seconds by default). The monitor in the SMA is being instructed to include the support services by the followin

[2020-04-10 23:51] tonyespy commented on #1943
I'll make sure this gets addressed in my forthcoming PR to update kong in the snap.

[2020-04-13 01:54] DaveZLB opened #2488 "Edgex support scheduler crashed after removeing a interval from ui and restarting edgex docker"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
edgex-support-scheduler

### Is this a regression?

I found this bug in nightly-build version, it  has existed since fuji version

### Description and Minimal Reproduction
The issue is located in support scheduler part, the snapshot is my opertaion,
<img width="1439" alt="operation1" src="https://user-images.githubusercontent.com/299

[2020-04-13 03:21] DaveZLB opened #2489 "Interval start time and end time cannot work correctly due to time zone issue"
# 🐞 Bug Report

### Affected Services

 The issue is located in: edgex-support-scheduler

### Is this a regression?
not sure

 Yes, the previous version in which this bug was not present was: ....

### Description and Minimal Reproduction
if ui user inputs startTime or endTime for interval config, due to ui user client time is inconsistent with edgex docker time,it can not work correctly.

![image

[2020-04-13 06:37] DaveZLB commented on #2489
Maybe this issue should be time zone conversion on the front end

[2020-04-13 06:37] #2489 closed

[2020-04-13 14:33] jdharms commented on #2480
Obsolete after the closure of #2481

[2020-04-13 14:33] #2480 closed

[2020-04-14 04:39] bnevis-i opened #2492 "CRASH: device-virtual: fatal error: concurrent map read and map write"
# 🐞 Bug Report

### Affected Services
device-virtual

### Is this a regression?
Unknown

### Description and Minimal Reproduction
Random failure observed while bringing up the framework for blackbox testing.

## 🔥 Exception or Error
[code]

</code></pre>

## 🌍  Your Environment
**Deployment Environment:**
Ubuntu 18.04

**EdgeX Version:**
Tip

**Anything else relevant?**

[2020-04-14 06:23] middddd opened #2493 "The default value in deviceProfile is not available"
你好,请问deviceService如何返回deviceResource某个为空的字段值?当我尝试不返回这个空值时,deviceProfile的默认值未生效, coreData的Readings不会显示这个字段的空值, 而是不会出现这个字段.
Hello, how does deviceService return an empty field value of deviceResource? When I try not to return this empty value, the default value of deviceProfile does not take effect, and the reading of coreData will not display the empty value of this  #field,  the field will not be

[2020-04-14 08:53] jinlinGuan opened #2494 "[Security] device-virtual: 502 Bad Gateway"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
device-virtual

### Is this a regression?

 -

### Description and Minimal Reproduction
1. run nightly-build security enabled docker-compose
https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-mongo.yml
2. get TOKEN
[code]
3. GET virtual device service
[code]

## 🔥 E

[2020-04-14 09:02] jinlinGuan commented on #2448
This issue is fixed.

[2020-04-14 09:02] #2448 closed

[2020-04-14 13:34] michaelestrin commented on #2236
Can this issue be closed @lenny-intel @AnthonyMBonafide?

[2020-04-14 13:56] tonyespy opened #2495 "Configuration of root CA file is inconsistent across services..."
While working on a recent update to the snap packaging (issue #2051), I noticed a few inconsistencies involving the configuration keys, and and sometimes the value of the root CA path across the various configuration files used by core-*, security-*, and support-* services.

One inconsistency is that some services use the top-level configuration key **SecretStore** (core-*, and support-* services)

[2020-04-14 17:31] bnevis-i commented on #2495
I've always wondered why we are compiling the configurations files into the containers, instead of injecting the configuration at runtime.  IMO the configuration.toml files don't even belong in the codebase.

[2020-04-14 17:38] mkbhanda commented on #2495
There is value to having a configuration.toml in the code base as a sample (all the knobs one can set) and default. Through injection or environment variable settings some of the settings may be modified.

[2020-04-14 18:09] bnevis-i commented on #2495
@mkbhanda I agree that documentation of what each service needs for configuration is important, but  we are also overly dependent on what the actual values for these settings are, such that inconsistencies among the reference values are causing confusion.

[2020-04-14 18:18] bnevis-i commented on #2495
For future documentation `[SecretStore]`  is the configuration used by go-mod-secrets to find the secretstore.  '[SecretService]' is supposed to be the private configuration used by security-secretstore-setup to do its initialization thing with Vault.  Ideally, SecretService should inherit the same configuration keys as SecretStore so that is less confusing.

[2020-04-14 18:21] bnevis-i commented on #2495
Related issue: #2200, where it was decided in this release to keep using `[SecretService]` keys in this release for proxy-setup.

[2020-04-14 20:56] mkbhanda commented on #2495
Would it make sense to use Viper https://blog.gopheracademy.com/advent-2014/configuration-with-fangs/ to bring together all our ways of configuration, use a standard precedence order, facilitate 12 factor apps etc? Viper supports aliases, so different projects could continue to use old names without breaking things.

[2020-04-14 23:45] bnevis-i commented on #2495
Viper looks very promising.

[2020-04-15 01:10] lenny-intel commented on #2236
Yes, doc issue was created by Trevor

[2020-04-15 01:10] #2236 closed

[2020-04-15 13:45] tonyespy commented on #1971
Just pushed a branch for this, PR coming soon:

https://github.com/tonyespy/edgex-go/tree/snap-readme-docs-update

[2020-04-15 14:02] tonyespy commented on #826
@jpwhitemn Can this be considered done, as the ProvisionWatcher work has already been finished, and the blacklist (see ProvisionWatcher.BlockingIdentifiers) is already part of the model?

That said, wondering if we'll have time to address go-mode-core-contracts issue [#226](https://github.com/edgexfoundry/go-mod-core-contracts/issues/226) (embedded device profile and service).

[2020-04-15 15:54] tonyespy commented on #2486
I think it's worth more discussion. What you're saying is that we effectively have two parallel health check mechanisms, one implemented by the Consul, and one by the SMA. It just seems to me that if our support services are considered optional, continually trying to ping them every 15s, when in fact they may have been disabled on purpose, means we're just burning CPU and IO for no reason...

[2020-04-15 16:39] michaelestrin commented on #2486
Reviewed the code.

When you deploy with Consul, there are two health checks.  The SMA check works regardless of whether or not you deploy Consul.  I believe it also predates the Consul check.

Regarding support services, the SMA's architecture and implementation is polling-oriented.  Further, the [issue](https://github.com/edgexfoundry/edgex-go/issues/1662) to remove the default service list in f

[2020-04-15 17:09] jpwhitemn commented on #826
I am ok with closing.  As for #226, I defer to the WG's working it as to whether we address this in Geneva or push.  Let's pick up the conversation on that issue.

[2020-04-15 17:09] #826 closed

[2020-04-15 17:43] tonyespy commented on #2051
Fix was merged, but typo in my commit message prevented this issue from being automatically closed.

https://github.com/edgexfoundry/edgex-go/pull/2487

[2020-04-15 17:43] #2051 closed

[2020-04-15 18:42] #1971 closed

[2020-04-15 22:07] tonyespy commented on #2486
Thanks for taking a look @michaelestrin. It's unfortunate that the config based service list was axed for Geneva. I guess we'll re-raise this once more for Hanoi planning and maybe we can fix it then...

[2020-04-15 23:22] tonyespy commented on #1943
I could do the same thing in the snap as is done in docker-compose (ie. set an env override), but then we're basically just hard-coding a password at build time, as there's no way to pass an environment variable to the snap at install time. Just wondering why we didn't use the gokey password generator, or builtin vault generator for this?

The other approach I'm considering for this is to use a pa

[2020-04-16 00:17] bnevis-i commented on #1943
The only processes that need the password that you set here is kong and kong-migrations.  The approach of generating a random password at snap install time and configuring postgres, kong, and kong-migrations with it sounds like a good idea.

[2020-04-16 14:40] tonyespy commented on #2486
@jpwhitemn I want to make sure this is on your radar as a potential topic for the next architects' meeting.

[2020-04-16 15:38] tsconn23 commented on #2486
Discussed Core WG 16-Apr-2020 -- Agreement that we should revise this mechanism in Hanoi. We should avoid polling services that are known ahead of time to not be running. Increased emphasis on support services as optional.

[2020-04-16 16:57] jpwhitemn commented on #2486
This really stems from the fact that the SMA does not have a dynamic list of services it tracks based on what is registered and/or what is running.  It is hard coded into the SMA.  This is the real issue that needs to be fixed.  Thanks @tonyespy and @michaelestrin for raising the awareness.

[2020-04-16 17:57] tonyespy commented on #2477
@bnevis-i So after the hour has expired game over or is there someway to trigger a reset so that a kong user can be still be added? Does it require bringing things down, and starting over again from scratch?

[2020-04-16 18:08] bnevis-i commented on #2477
Workaround is

[code]

The system may survive without having to stop and start the rest of the microservices, but it is somewhat traumatic as it will revoke all the old secret store tokens and issue new ones.

[2020-04-16 18:16] anonymouse64 commented on #1943
This would be my preference

[2020-04-16 19:13] #2439 closed

[2020-04-16 22:07] tonyespy commented on #959
This was already handled in this PR:

https://github.com/edgexfoundry/edgex-go/pull/2426

However it's not yet possible to switch back and forth between mongo and redis in the snap yet due to the config seed changes. As such, I'm leaving this open for now as there's a little more work to left remaining.

[2020-04-16 22:11] #2272 closed

[2020-04-17 14:43] #2429 closed

[2020-04-17 16:40] #1811 closed

[2020-04-18 15:36] tonyespy commented on #1943
Branch pushed: https://github.com/tonyespy/edgex-go/tree/snap-postgres-passwd

[2020-04-18 19:31] tonyespy opened #2498 "[security-file-token-provider] specifies Logging.File"
All of the core-*, security-*, and support-* services have been updated to specify Logging.File="" as part of the deprecation of support-logging in the Geneva release.

It seems security-file-token-provider was missed as it's `configuration.toml` file is found in a non-standard directory under `cmd/security-secretstore-setup/res-file-token-provider` instead of `cmd/security-file-token-provider/res

[2020-04-20 14:16] tingyuz commented on #1539
This is being covered by https://github.com/edgexfoundry/docker-edgex-consul/pull/26

[2020-04-20 14:47] tingyuz commented on #1539
This issue was discussed in security wg meeting on April 15th ( meeting notes reflects the details ). Bryon suggested to move this configuration to internal since no customer seems interested in the feature for now. We will check with Tony and make decision.

[2020-04-20 15:48] #2498 closed

[2020-04-20 16:53] tonyespy commented on #1539
I'm not sure what _move this configuration to internal_ means?

[2020-04-20 19:40] andresrinivasan opened #2500 "Document in PR template to run make test"
# 🚀 Feature Request

### Relevant Package

 This feature request is to include in the PR template an additional instruction to invoke `make test`.

### Description
 A clear and concise description of the problem or missing capability...
Running `make test` before submitting the PR is useful so you don't get surprised by missing attributions (for example).

### Describe the solution you'd like
 If

[2020-04-20 19:49] jpwhitemn opened #2502 "Add License file to all docker images"
# 🚀 Feature Request

### Affected Services
All services created out of edgex-go

### Description
Per architect's meeting of 4/20/20, all artifacts (snaps, docker images, etc.) should include the LICENSE and Attribution.txt at the root directory of the image (same place that the binary is placed).

Note:  it appears the Attribution.txt file is in most of the core and supporting services.

[2020-04-20 22:58] andresrinivasan opened #2503 "Correct Redis secret setup per ADR for secret creation and distribution"
# 🚀 Feature Request

### Relevant Package

Update `security-secretstore-read` to use a) go-mod-bootstrap b) conform to [ADR for secret creation and distribution](https://github.com/edgexfoundry/edgex-docs/issues/132)

### Description

Currently `security-secretstore-read` config cannot be overridden using common EdgeX mechanisms. Furthermore, the secret is shared in a non-conforming way.

### Desc

[2020-04-20 22:59] andresrinivasan commented on #2503
Please assign to @andresrinivasan for Hanoi or a pre-Hanoi dot release.

[2020-04-20 23:56] lenny-intel opened #2504 "Upgrade to latest go-mod-bootstrap for allow uppercase env overrides"
# 🚀 Feature Request

### Relevant Package

 This feature request is for go.mod file

### Description
Upgrade to latest go-mod-bootstrap for allow uppercase env overrides

[2020-04-21 17:36] bnevis-i commented on #1943
@tonyespy are you planning to turn the above into an official PR?

[2020-04-21 21:13] #2504 closed

[2020-04-22 13:49] tingyuz commented on #1539
Instead of exposing the configuration through config file, Bryon's proposal is to make it as part of internal structure so customers won't be able to modify it.
I am OK to push it back to icebox for the future version as it is same as the point 1 in my previous comments.

[2020-04-22 14:49] AnthonyMBonafide opened #2508 "Update to use latest version of go-mod-messaging to be able to leverage the RedisStreams functionality"
# 🚀 Feature Request

### Relevant Package
Core services

### Description
New functionality has been added to `go-mod-messaging` which adds an implementation of the `MessageClient` which leverages RedisStreams as a broker. Even though this is not the default implementation we would like to use, we should bring in the functionality so it is an option.

### Describe the solution you'd like
Update to

[2020-04-22 15:07] AnthonyMBonafide opened #2509 "Update EdgeX to use one Redis Library Consistently."
# 🚀 Feature Request

### Relevant Package
Core services, and possibly other modules that use Redis and bring in their own Redis dependencies.

### Description
As part of the work to [add RedisStreams functionality to go-mod-messaging](https://github.com/edgexfoundry/go-mod-messaging/issues/35), a new Redis library was used `go-redis`. This differs from `edgex-go` which uses `redigo`. We should hav

[2020-04-22 15:41] tonyespy commented on #2495
So the SecretService vs. SecretStore difference was explained by @bnevis-i, thanks.

Regarding the config keys used for the root CA file path, @tingyuz said we couldn't fix this because it would break compatibility:

I questioned the statement that this would break compatibility because we made some other changes to config keys as part of Geneva. In fact see the following [commit 4ecacc7](https://

[2020-04-22 16:03] bnevis-i commented on #2495
It's technical debt.  I believe the original tool was called PKI-init, which did the named certs.  Then Jim and I wrote pkisetup to ride on top of it and do a bunch of file copies to stash the certs in the appropriate places.   This was our first contribution, and the feedback was to combine the two utilities into one -- security-secrets-setup -- because we were so late for Edinburgh(?) release we

[2020-04-22 16:04] tonyespy commented on #2495
Are they both used, or could we remove one of them?

[2020-04-22 17:20] #2508 closed

[2020-04-22 17:30] brandonforster commented on #2484
Discovered this issue is still present on an endpoint. Reopening.

https://github.com/edgexfoundry/blackbox-testing/pull/431/files/b28106e8499ac9f2e6985871b9d2d6232a065bc4#r412645290

[2020-04-22 18:00] bnevis-i commented on #2495
@jim-wang-intel Can you make a recommendation to Tony on how to get EdgeXFoundryCA.pem thrown away at the end of security-secrets-setup?

[2020-04-22 21:01] tonyespy opened #2513 "[core-*, security-*, support-*] Error message logged when remote disabled and no file specified"
We recently made a change to all the service configuration.toml files to ensure that all disable remote logging and do not specify Logging.File. This causes each of the services to simply write log messages to stdout. This works great, however every service on startup logs the following error:

level=ERROR ts=2020-04-22T20:35:46.660773509Z app=edgex-security-secretstore-setup source=logger.go:74 m

[2020-04-22 22:20] jim-wang-intel commented on #2495
@bnevis-i  the generated file `EdgeXFoundryCA.pem` should already be deleted at the end of generate command from security-secrets-setup: see this: https://github.com/edgexfoundry/edgex-go/blob/master/internal/security/secrets/command/generate/generate.go#L69-L70 line of code.

Not sure why there is a left-over there...

[2020-04-23 02:50] bnevis-i opened #2515 "Lint Dockerfiles"
### Suggestion

Adopt a tool such as hadolint (https://github.com/hadolint/hadolint) to lint Dockerfiles.

Possibly integrate into CI process.

[2020-04-23 07:34] jinlinGuan opened #2516 "[Redis] ERR Client sent AUTH, but no password is set"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
edgex-support-scheduler
edgex-device-virtual

### Is this a regression?

 -

### Description and Minimal Reproduction
1.  Download nightly-build [docker-compose-nexus-redis-no-secty.yml ](https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-build/compose-files/docker-compose-nexus-redis-no-secty.yml)
2. `doc

[2020-04-23 07:39] jinlinGuan commented on #2494
This issue is fixed. Closed this issue.

[2020-04-23 07:39] #2494 closed

[2020-04-23 10:56] novuscy opened #2518 "Unable to remove AutoEvents using API"
# 🐞 Bug Report

### Affected Services

core-metadata

### Is this a regression?
No.

### Description and Minimal Reproduction
AutoEvents can not be removed since added, sending device payload with
[code]
or
[code]
to /v1/device endpoint using PUT method is not working, perhaps the autoEvents payload is omitted by the omitempty tag?

the only way I found working is to send

{
...
"autoEvents":[{}]

[2020-04-23 21:45] andresrinivasan commented on #2516
Root cause is microservice is configured with a database password via `configuration.toml` and the Redis client code blindly sends the password even though EDGEX_SECURITY_SECRET_STORE=false. Redis (the DB) returns an error because it is not configured with a password and it is surprised to see the AUTH command.

Updating the Redis client code to not send the password when EDGEX_SECURITY_SECRET_STO

[2020-04-24 00:21] #2516 closed

[2020-04-24 14:44] #2484 closed

[2020-04-25 14:39] tonyespy commented on #2503
Just a note, one of the impact's of this bug is that configuration values in **cmd/security-secretstore-read**'s `configuration.toml` file cannot be overridden by environment variables.

[2020-04-25 16:45] bnevis-i commented on #2503
@tonyespy is this a release-blocking issue or were you able to work around it?

[2020-04-25 19:58] bnevis-i commented on #2509
Of the two, go-redis seems to be more actively maintained.

[2020-04-26 15:15] bnevis-i commented on #2449
There are no further outstanding PR's/tickets for redis integration. Closing for now; reopen if closing in error.

[2020-04-26 15:15] #2449 closed

[2020-04-26 15:18] bnevis-i commented on #631
Redis health check was introduced inhttps://github.com/edgexfoundry/docker-edgex-consul/pull/26

[2020-04-26 15:18] #631 closed

[2020-04-27 04:25] #2478 closed

[2020-04-27 08:18] novuscy opened #2520 "Removing a scheduler interval when a interval action still using it would crash the scheduler"
# 🐞 Bug Report

### Affected Services
support-scheduler

### Description and Minimal Reproduction
If I remove an interval when an interval action still using it, but leave the action untouched, the scheduler won't start any more next time. I had to manually delete keys associated with the action in the redis database to make the scheduler work again.

Is there a mechanism preventing an interval be

[2020-04-27 11:46] jinlinGuan opened #2521 "ARM64 Redis: event socket hang up on Jenkins blackbox-testing"
There are a few blackbox-testing testcases failed on arm64 with redis DB (rarely happens on amd64 with redis DB).

# 🐞 Bug Report

### Affected Services

 The issue is located in:
edgex-core-data

### Is this a regression?

 -

### Description and Minimal Reproduction
Using nightly-build redis arm64 [security-enabled](https://github.com/edgexfoundry/developer-scripts/blob/master/releases/nightly-b

[2020-04-27 15:16] cloudxxx8 commented on #2521
it sometimes happens in x86, too

[2020-04-27 16:32] michaelestrin opened #2522 "Remove Dead Code"
Delete [acceptance/sut.go](https://github.com/edgexfoundry/edgex-go/blob/6d4072662fd20448464d6b9f1b6b045ced6f2767/internal/pkg/acceptance/sut.go#L1); it was created in anticipation of #2277 acceptance.  The code is not being called and should be removed.

[2020-04-27 22:17] tonyespy opened #2524 "[core-metadata] continuously logs error if support-notifications isn't running"
# 🐞 Bug Report
By definition, the support-* services are optional, however if support-notifications is disabled, core-metadata continuously logs an error about a missing endpoint every 10-15s.

This was originally discovered in the snap (which disabled support-notifications by default) built from my latest snap development [branch](https://github.com/tonyespy/edgex-go/tree/snap-updates-latest).

I

[2020-04-27 23:59] #2522 closed

[2020-04-28 08:23] jinlinGuan opened #2526 "Query core-command device taking long time on first execution"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
core-command

### Description and Minimal Reproduction
`curl http://localhost:48082/api/v1/device` was stuck(https://github.com/edgexfoundry/edgex-go/issues/2399), and that issue is fixed. Now it can query properly, but it's taking long time(10+s) on first run, which always causes blackbox-testing failure because the response time is

[2020-04-28 13:48] tonyespy opened #2527 "[core-data] event endpoint return value grows rapidly and can lead to service failure"
# 🐞 Bug Report
The core-data endpoint /api/v1/event returns an array of Event objects, each of which in turn include an array of Reading objects.

On a running system, this data returned by this endpoint can grown rapidly and doesn't seem to be constrained in any way by core data. For instance, with the latest device-virtual service enabled, which has AutoEvents defined for multiple devices, inclu

[2020-04-28 14:50] AnthonyMBonafide commented on #2526
I think this is a known complex issue with how we are bootstrapping the system. We touched on this issue in PR #2450. The fix for this is something we would possibly want to tackle in the future since a true fix would require some rework in a couple of modules.

@brandonforster can you verify this is the same underlying issue we ran into in the past?

[2020-04-28 14:57] brandonforster commented on #2526
Yes, that's indeed the problem.

[2020-04-28 15:16] AnthonyMBonafide commented on #2521
I wonder if this is related to #2527 somehow

[2020-04-28 16:51] AnthonyMBonafide commented on #2527
Core-data looks like it is simply returning too much data. I think a short term fix for this is to decrease the `Service.MaxResultCount`. The default value is `50,000` which may be too high for the situation.

Long term, I think we can add more functionality for limiting the information returned when getting all events. Right now we are relying on the `Service.MaxResultCount` configuration to limi

[2020-04-28 20:21] andresrinivasan opened #2528 "Top level README.md has incorrect URL to Docker Compose file"
# 🐞 Bug Report

### Affected Services

 The issue is located in: README.md

### Is this a regression?

No

 Yes, the previous version in which this bug was not present was: ....

### Description and Minimal Reproduction

The README.md refers incorrectly (for Geneva) to https://raw.githubusercontent.com/edgexfoundry/developer-scripts/master/releases/nightly-build/compose-files/docker-compose-nexus.

[2020-04-28 21:42] akramtexas commented on #2520
@novuscy I am unable to recreate this issue. Can you please share more-detailed steps that you carried out when you saw this issue? Thanks.

[2020-04-28 22:55] lenny-intel opened #2530 "Vault token not generated for App Services shared DB credentials"
# 🐞 Bug Report

### Affected Services

 The issue is located in: Vault Worker

It is missing configuration to create token for App Services shared DB credentials

### Is this a regression?

Yes, in Fuji we have a shared vault token which worked

### Description and Minimal Reproduction

Add the following app service to secure mongo compose file:

[code]
## 🔥 Exception or Error
Run the compose and

[2020-04-29 00:28] novuscy commented on #2520
1. start a new edgex with core services and scheduler, the default config of scheduler contains midnight interval and 2 actions.
2. get the ID of the midnight interval.
3. delete the midnight interval by ID using DELETE method, it returned true and midnight interval was deleted.
4. restart edgex, message="scheduler could not find a interval with interval name : midnight" msg="problem adding suppor

[2020-04-29 00:32] bnevis-i commented on #2530
Edits:

[code]

[2020-04-29 00:36] novuscy commented on #2520
same thing happened when I used edgex-cli db purge to clean the database.

[2020-04-29 10:02] cloudxxx8 commented on #2521
but the blackbox test only generate a little data
this issue didn't exist before

[2020-04-29 10:33] cloudxxx8 opened #2532 "The Device schema in Core-Metadata API document needs to be updated"
# 📚 Docs or Wiki Bug Report

### Description

In the API document the Device still contains addressable.
https://app.swaggerhub.com/apis-docs/EdgeXFoundry1/core-metadata/1.1.0#/default/post_v1_device
We need to replace it with protocolproperties and add autoevent field.

### What's the affected URL?**
https://app.swaggerhub.com/apis-docs/EdgeXFoundry1/core-metadata

[2020-04-29 11:33] novuscy commented on #2520
And if I update a interval action with a new interval, the old interval seemed somehow still linked to the action, when I try to delete the old interval, an error says that the old one is still in use, and the old interval could not be deleted neither by ID nor by NAME.

[2020-04-29 11:42] akramtexas commented on #2520
@novuscy Your response to my query is much appreciated 👍 This helps - I'll investigate, and will follow up, thanks.

[2020-04-29 14:29] akramtexas commented on #2520
@novuscy I followed the steps, for example:
[code]
But after that, `support-scheduler` service starts just fine:
[code]

[2020-04-29 14:46] akramtexas commented on #2520
- Adding some details about getting the ID of the midnight interval, followed by deleting the midnight interval by ID, using `DEL` method that I mention and outline above:
[code]
And:
[code]

[2020-04-29 15:20] AnthonyMBonafide commented on #2518
After discussing this issue with @brandonforster, this seems to be more of a feature request since this is the intent of the API and is consistent with the other update/PUT HTTP APIs. The reasoning behind this is that updates only happen to fields of data structure that are explicitly mentioned. This is why you have to provide the explicit empty data structure in the array. To change this behavior

[2020-04-29 15:20] #2518 closed

[2020-04-29 15:28] akramtexas commented on #2518
@AnthonyMBonafide I saw the recent comment (above) just as I was about to investigate what's been reported in this issue. Making a note that it should be closed out, as it is _not_ a bug 👍

[2020-04-29 15:37] #2528 closed

[2020-04-29 15:37] akramtexas commented on #2524
Investigating this issue, starting with setting up `Snap` build, installed on `Ubuntu 16.04 Desktop` in a `Virtual Box`. Will report findings 👍

[2020-04-29 15:39] AnthonyMBonafide commented on #2526
@jinlinGuan , is this solution acceptable and if so would you like this introduced in the Blackbox tests or is this something you or the QA team will handle?

[2020-04-29 18:58] akramtexas commented on #2524
- The `Deployment Environment` was `Snap installed on Ubuntu 16.04 Desktop`, but after reaching out to @tonyespy, got it clarified that we are pretty sure that the bug has nothing to do with the snap.
- Focusing for now on running the latest `docker-compose.yaml` after commenting-out the entry for `support-notifications`.

[2020-04-29 19:20] tonyespy commented on #2527
@AnthonyMBonafide do really consider this low priority? This seems pretty serious to me (i.e. core-data quits responding to the endpoint and can actually crash as a result of this), although I haven't given it enough thought on how we could fix...

[2020-04-29 19:23] tonyespy commented on #2524
espy@xen$ pwd
~/edgexfoundry/developer-scripts/releases/nightly-build/compose-files
espy@xen$ git show HEAD
commit acba6e17684a167e6efd3a55305b0fcd364470a3
Merge: 9917225 6e0b15c
Author: Lenny Goodell <44779287+lenny-intel@users.noreply.github.com>
Date:  Tue Apr 28 09:20:11 2020 -0700
  Merge pull request #266 from lenny-intel/RemoveOverrides
  refact: Remove unneeded overrides for DB username &

[2020-04-29 21:19] #2530 closed

[2020-04-30 00:23] tonyespy commented on #2503
@bnevis-i I was able to work around it by just modifying the **configuration.toml** file which was the technique we used for all snap-specific config changes. Now almost all of these are modifications are handled via the env var overrides.

[2020-04-30 00:41] novuscy commented on #2520
Thanks for your investigation into this, but I was using REST API to delete the interval ,not the redis cli.

[2020-04-30 01:01] AnthonyMBonafide commented on #2521
The Blackbox test are not generating data explictly. However I see that device virtual is running and automatially generating Events once it is started:
[code]

and by time the GET Events Request is executed:
[code]

About 6 mins have lapsed. Device virtual generates Binary data which is very big. On my local machine, running Device Virtual for 1 min with an empty database, a GET Event Request res

[2020-04-30 01:25] lenny-intel opened #2535 "Update to use latest go-mod-bootstrap"
Use latest go-mod-bootstrap which addresses this issue https://github.com/edgexfoundry/go-mod-bootstrap/issues/72

[2020-04-30 02:47] #2535 closed

[2020-04-30 07:07] jinlinGuan commented on #2526
Adjusting the timeout is meaningless for the performance testing, so let the testcase keep failing until the fix is ready.

[2020-04-30 07:35] cloudxxx8 commented on #2521
we commented out the autoevent of binary data in device-virtual, and the blackbox test looks good now.  let's monitor it two more days and we might be able to close this issue.
Thanks for the analysis, @AnthonyMBonafide

[2020-04-30 11:58] akramtexas commented on #2520
@novuscy I will follow up, thanks.

[2020-04-30 15:21] brandonforster commented on #2526
This _is_ the fix. We expect the first request to a service to take significantly longer than all the rest, and this is what we are going to ship in Geneva.

[2020-04-30 18:42] AnthonyMBonafide commented on #2526
The true fix for this is to either:

1. Add functionality within `go-mod-bootstrap` to allow the `di` container to create entities both lazily and eagerly. By leveraging eager initialization, it will result in the Consul lookup, which is what is causing the issue you are running into, to happen during startup and by the time the application is ready to accept requests we would have the client init

[2020-04-30 18:48] akramtexas commented on #2524
Even with `support-notifications` not running, I see repeatedly that `core-metadata` stays up and not log the error message reported in this issue:
[code]

[2020-04-30 19:01] michaelestrin commented on #2526
Some thoughts.

The DI implementation already provides for both eager and lazy initialization.  In this particular use case, eager isn't possible unless you know the array of clients you'll be communicating with.  #2450

Test failure appears to be on ARM.  ARM is _s--l---o----w_.  Expecting to interject a Consul lookup in the first call on ARM will likely ALWAYS exceed the 800ms threshold.

Perfor

[2020-04-30 19:01] akramtexas commented on #2524
- Adding that `docker-compose` will evidently _not_ pull the new instances of the master images, so we must _first_ run the `docker-compose -f docker-compose.yml pull` command, which resolved the issue I had previously seen:
[code]
- The error message reported in this issue (i.e. ` )

 will occur when edgex-support-notifications hasn't registered with Consul before the dependent service (metadata)

[2020-04-30 19:12] akramtexas commented on #2524
So I do not see the issue when using `docker-compose-nexus-redis-no-secty.yml`. Similarly, I also do not see the issue when using `docker-compose-nexus-redis.yml` either:
[code]
@tonyespy Please feel free to close out this issue after you've reviewed my findings above and are satisfied 👍 Thanks!

[2020-04-30 19:23] tonyespy commented on #2524
@akramtexas so you're saying you if you comment out support-notifications in either of those compose files and then bring everything up you're **not** seeing the same log message that I see? In other words, you can't reproduce the issue?

[2020-04-30 19:26] akramtexas commented on #2524
Yes @tonyespy that is correct 👍

[2020-04-30 19:28] tonyespy commented on #2524
But did you disable support-notifications as part of your test?

[2020-04-30 19:32] AnthonyMBonafide commented on #2527
I was thinking this was lower based on how I was looking at the issue. As I see it, the issue is coming up due to Device Virtual creating big binary events (8MB each) and creating them at a really high rate(every 30s). I was thinking that the issue really resides with the configuration of Device Virtual, rather than being a problem with Core-data. I think that this is a problem, but I see it as be

[2020-04-30 19:32] tonyespy commented on #2524
OK, then we still have a mystery to solve... I'll look at this again later.

[2020-04-30 19:50] akramtexas commented on #2520
- Circling _right_ back as I was triaging another issue. Yes, I have recreated what you observed:
[code]
- Investigating 👍

[2020-04-30 22:15] bnevis-i opened #2537 "Secure Kong admin port using password"
Kong admin port is not currently secured against processes running on localhost.  In particular security-proxy-setup is able to perform Kong configuration without requiring an authentication credential.  Ensure that use of kong admin port requires authentication.

Related info: https://docs.konghq.com/2.0.x/secure-admin-api/#introduction

(What we want is the Kong API loopback approach.)

[2020-05-01 14:53] bnevis-i commented on #2509
@jamesrgregg good candidate for new vetting process

[2020-05-01 15:05] bnevis-i opened #2538 "Remove generation of mongodb passwords from security-services"
Monbodb is being removed in Hanoi release; remove generation of mongodb passwords from the following components:

- security-secretstore-setup
- security-file-token-provider (remove Vault ACLs for mongodb password)

[2020-05-01 17:34] bnevis-i commented on #1963
@tonyespy  is this being replanned for Hanoi?

[2020-05-02 03:37] cloudxxx8 commented on #2526
Thanks for all the investigations and explanation.  I suggest to do the following things to resolve this issue:
1. Make the test of this API twice.  The first call is with 45 seconds timeout as @brandonforster suggested, and the second call uses the original 800 ms timeout.  With this adjustment, we can make sure the behavior is as expected.
2. Add a statement to the document of core-command to re

[2020-05-02 03:41] brandonforster commented on #2526
@cloudxxx8 Yes, with one caveat: this is not just command, this is all services. The first call to any service should be expected to take a significantly longer amount of time than subsequent calls due to the Consul round trip.

[2020-05-02 04:08] cloudxxx8 commented on #2526
I see.  In this case, may we add this statement into the general service page?
@lenny-intel do you notice this issue and have plan to improve this part in the next release?

[2020-05-04 14:42] tsconn23 commented on #2527
We talked about this in release planning last week. My takeaway was that this is addressed in V2 with the pagination controls provided by the request types. Even there, the user will need to configure a sensible max page size in the Core to prevent an application from requesting a page size of 10,000 items per page. This behavior/setting has been in the code as long as I have been involved with th

[2020-05-04 15:02] tonyespy commented on #2527
@tsconn23 No argument that V2 pagination will solve this. Regarding someone setting a page size to 10k, I think the code needs some reasonable limits for max response size in addition to pagination.

@AnthonyMBonafide I disagree that this is a device-virtual issue. The fact that binary AutoEvents had been configured with a 30s timer just allowed me to hit this issue much quicker than without. If r

[2020-05-05 06:16] jinlinGuan commented on #2521
No failures on Jenkins blackbox-testing. Closing this issue.

[2020-05-05 06:16] #2521 closed

[2020-05-05 14:28] bnevis-i opened #2539 "security-secrets-setup has improperly formatted log message"
# 🐞 Bug Report

### Affected Services
security-secrets-setup

### Is this a regression?
No

### Description and Minimal Reproduction
[code]

Note missing fmt.Printf in
[code]

[2020-05-05 16:18] akramtexas commented on #2520
The root cause has two parts:
- The portion of the application which performs the delete does not first perform a check as to whether the Interval is in use.
- The REST handler does not understand and handle errors where the Interval is in use.

[2020-05-05 16:19] akramtexas commented on #2520
While working on a fix, and thanks to input from @AnthonyMBonafide, a possible race condition has been discovered _surrounding_ the area _related_ to this issue. That should be investigated at some point in time.

[2020-05-05 17:24] #2532 closed

[2020-05-05 23:25] jamesrgregg commented on #1947
_Crawl:_ Paper study (manual) as completed by @bnevis-i

_Walk:_ Automation of paper study to include all required data points  - scope includes automating the generation of the report (ad-hoc) + use of Community Bridge Advanced Snyk reporting AS-IS

_Slow Run:_ Combination of the automated paper study + Fossology (with generation of evidence collected / considered + use of Community Bridge Advanc

[2020-05-06 20:47] #1943 closed

[2020-05-07 08:43] mkbhanda opened #2540 "Notification OpenAPI inconsistent with router implementation"
# 📚 Docs or Wiki Bug Report

### Description

The OpenAPI spec does not list get with <id> but the router implementation supports it.
Please correct the OpenAPI spec. Auto generation of stubs would help to keep things consistent.

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://docs.edgexfoundry.org/...

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error

[2020-05-07 14:20] AnthonyMBonafide commented on #2540
To which URI or endpoint is the bug related?

[2020-05-07 14:55] tonyespy commented on #2524
Alright, I finally had some more cycles to look into this, and once again this was super easy to reproduce using any of the latest nightly-build docker-compose files. Here's how I reproduced:

 * install the docker snap on an Ubuntu 18.04 Desktop system
 * edit your docker-compose file of choice and disable support-notifications (my edited file can be found [here](https://github.com/tonyespy/devel

[2020-05-07 15:34] tsconn23 commented on #1990
Putting on hold pending Hanoi discussions around possible collapsing of Command/Metadata into one Core service.

[2020-05-07 15:37] tsconn23 commented on #1822
Closing following on work related to removal of config-seed and standardization of env variables.

[2020-05-07 15:37] #1822 closed

[2020-05-07 15:39] tsconn23 commented on #1903
Closing due to deprecation of support-logging in Geneva release.

[2020-05-07 15:39] #1903 closed

[2020-05-07 15:43] #2270 closed

[2020-05-07 15:44] tsconn23 commented on #1203
@andresrinivasan says we can close this.

[2020-05-07 15:44] #1203 closed

[2020-05-07 17:53] tonyespy commented on #2477
@bnevis-i I assume rebooting the system, or just all of EdgeX would also accomplish the same end result?

[2020-05-07 17:55] tonyespy commented on #1600
As push-config has been removed as of the Geneva release, I'm closing this issue out.

[2020-05-07 17:55] #1600 closed

[2020-05-07 17:58] tonyespy commented on #1227
A lot of these errors were cleaned up recently as part of https://github.com/edgexfoundry/edgex-go/pull/2534, however there are still some remaining warnings. They don't however warrant fixing for Geneva, so I'm removing the release milestone.

[2020-05-07 18:03] tonyespy commented on #1442
This didn't make it for Geneva, so removing milestone.

[2020-05-07 18:05] tonyespy commented on #959
Logic to switch back and forth was added in https://github.com/edgexfoundry/edgex-go/pull/2534, so closing this out.

[2020-05-07 18:05] #959 closed

[2020-05-07 18:06] lenny-intel opened #2542 "Redis startup race condition - Not setting up DB credentials"
# 🐞 Bug Report

### Affected Services

 The issue is located in: All services using the database

### Is this a regression?

 No, Redis was not used in secure mode for Fuji

### Description and Minimal Reproduction
On a system similar to HP MP9 (16GB RAM, 125.5 GB DISK, 125.5 GB, Intel Core I7 2.8GHZ x8) running Ubuntu 18.04.3 LTS

- Stop any EdgeX stack currently running
- Remove stopped containe

[2020-05-07 18:10] tonyespy commented on #1388
I'm closing this out, as it doesn't really fit into the current build approach used by the project.

[2020-05-07 18:10] #1388 closed

[2020-05-07 18:11] tonyespy commented on #518
This didn't make the Geneva train, so removing the milestone.

[2020-05-07 18:12] bnevis-i commented on #2477
@tonyespy rebooting will have the same effect.

[2020-05-07 18:30] tonyespy commented on #1490
As there's mongo is being deprecated as of Geneva, and this can be done via a single redis-cli command, I'm closing this.

**Note** - since redis authentication is enabled by default, the user needs to grab the redis password from the password file and specify on the command-line using the -a option or via the REDIS_AUTH environment variable (more secure).

[2020-05-07 18:30] #1490 closed

[2020-05-07 19:00] tonyespy commented on #1963
This should've been closed awhile ago as it was fixed in fuji. The steps to repeat actually only work with the edinburgh snap, as the security-api-gateway config option was removed in fuji.

I've verified that disabling security-secret-store disables Kong, and the associated services with the fuji and geneva (built from lastest master) snaps.

[2020-05-07 19:00] #1963 closed

[2020-05-07 23:14] andresrinivasan commented on #2542
@andresrinivasan

Follow issue in [developer-scripts](https://github.com/edgexfoundry/developer-scripts/issues/273).

[2020-05-08 10:12] jinlinGuan opened #2543 "[Mongo][Security] support-notification: 502 bad gateway"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
support-notification

### Is this a regression?

 fails on Jenkins x86 mongo security-enabled blackbox-testing since May 6

### Description and Minimal Reproduction
1. `docker-compose -f docker-compose-nexus-mongo.yml up -d`
Download nightly-build compose file from [edgexfoundry/developer-scripts](https://github.com/edgexfoundry/deve

[2020-05-08 12:08] AnthonyMBonafide commented on #2527
@tonyespy , good points. As per our discussion yesterday during the Core WG meeting. Core-data is persisting the binary reading values. I verified this using the Redis CLI to obtain one of the events which are associated with a big binary event and observed all the binary data. This is also obvious since issuing a `GET /events` request results in events with readings which have values, most notabl

[2020-05-08 12:09] AnthonyMBonafide commented on #2527
Is the fix here that we simply just do not persist the reading values or is there some other cleanup or affected area of the system that needs to be addressed as well?

[2020-05-08 12:33] akramtexas commented on #2520
- I have put together a fix for this bug, functionally tested the fix, and am currently working on wrapping up the newly-added unit test cases, following which a `PR` will be submitted ✅

[2020-05-08 17:19] AnthonyMBonafide commented on #2527
This issue depends on the completion of https://github.com/edgexfoundry/go-mod-core-contracts/pull/241.

[2020-05-08 17:30] AnthonyMBonafide commented on #2527
I have verified that this issue only resides with our Redis implementation since the Mongo implementation is converting `go-mod-core-contracts`'s Reading into a Mongo representation:
https://github.com/edgexfoundry/edgex-go/blob/6d4072662fd20448464d6b9f1b6b045ced6f2767/internal/pkg/db/mongo/models/reading.go#L68-L87

which is not copying over the `BinaryValue` information, so we are good there.

T

[2020-05-08 20:53] #2540 closed

[2020-05-08 22:32] lenny-intel opened #2545 "Lazy Redis DB connection refused causes services to fail in secure mode"
# 🐞 Bug Report

### Affected Services

 The issue is located in: All services that use DB when Redis is enabled

### Is this a regression?

 No, Redis was not used in secure mode for Fuji, which is causing the race condition

### Description and Minimal Reproduction

In secure mode Redis takes longer to start. The lazy Db connect occurs after the standard connect retry while bootstrapping, so the

[2020-05-09 00:01] jamesrgregg commented on #1947
I've now learned that the Linux Foundation may have an option via Nexus IQ.  Per our Linux Foundation release engineer…
“We currently offer Nexus IQ to projects, primarily for Java. However, it looks like it has Go support as well, so I think EdgeX can utilize this. Please take a look at what Nexus IQ supports, and let me know if the features cover what you need. Here's a couple links to get you s

[2020-05-09 00:19] #2545 closed

[2020-05-09 00:47] jpwhitemn commented on #1947
James - this looks promising.  Wonder if there would be a way for us to compare results on something like edgex-go to see if Nexus IQ appears to give us any benefits over our existing solution?jim white

    On Friday, May 8, 2020, 5:01:36 PM MST, jamesrgregg <notifications@github.com> wrote:

I've now learned that the Linux Foundation may have an option via Nexus IQ. Per our Linux Foundation rele

[2020-05-09 05:37] jamesrgregg commented on #1947
@jpwhitemn I ran the scan against edgex-go tonight.  The project would need to adopt the use of go.sum files to go along with go.modules. The Nexus IQ scans are based off what's in that file.
The sample project includes a good example of what is shown in the CI so this would definitely work.  I'm checking on cost now with LF.

Example CI (Travis CI build for a sample project)
https://travis-ci.org

[2020-05-09 21:12] tonyespy commented on #2542
@andresrinivasan I see your two commits were merged, but I don't see a root cause described in the issue. Here's what I think was happening:

_If someone deploys edgex-secure-redis via compose, then brings it all down and prunes the volumes, the redis server password file in /tmp is still present, so if someone then brings up a fresh instance, a new password is generated in security-secretstore-se

[2020-05-09 22:54] andresrinivasan commented on #2542
@tonyespy

Your description of the root cause is correct. My bad for not copying that into this issue.

Wrt `[ -s ]`, yes. I don't use any mechanism to guarantee that when the file inode becomes visible the content has already been writen.

The `exec` makes the redis process PID 1 in Docker instead of the shell process so Redis sees the SIGINT when the service is stopped gracefully (instead of the

[2020-05-10 17:37] tonyespy opened #2547 "[snap] PKI configuration is partially broken"
# 🐞 Bug Report

### Affected Services
kong & vault

### Is this a regression?
No, the same issue exists in the Fuji version of the snap, but wasn't noticed before Fuji was released.

### Description and Minimal Reproduction
This issue has been split out of issue #2495 which describes inconsistencies with the configuration of PKI across all of EdgeX. This issue doesn't actually cause any errors (i.

[2020-05-10 20:35] tonyespy opened #2549 "[security-proxy-cmd] Fix usability issues with Kong access token generation"
# 🐞 Bug Report

### Affected Services
The issue is located in: security-proxy-setup

There are several usability issues with the security-proxy-setup command used to generate kong access tokens (used to grant access to EdgeX REST endpoints via Kong).

1. There's no command-line option(s) to control where the resulting file is written. A configuration option `KongAuth.OutputPath` exists, but it's s

[2020-05-10 20:40] tonyespy commented on #2542
@andresrinivasan thanks for confirmation, and answers to my other questions.

Re: [ -s ], isn't it still possible for the the file to be partially written when this check is made? Wouldn't a semaphore file be safer?

[2020-05-10 21:16] tonyespy commented on #1926
@bnevis-i @tingyuz @mkbhanda I'd really like to see this scoped for Hanoi, as I spent a bunch of time this weekend trying to successfully hit EdgeX endpoints thru Kong from a different machine.

When the snap is built, the configuration of security-secrets-setup is updated to use localhost instead of edgex-kong for the TLS server. This results in TLS cert for Kong with O & CN both set t localhost:

[2020-05-10 22:43] andresrinivasan commented on #2542
Yes, in retrospect, the most correct implementation would have been to create the file under a temp name, fsync it, and then use a rename to make it visible. A semaphore file would work too.

Given the length of the password and the typical I/O buffer, it is unlikely for a partial write to occur.

When Geneva is released, I'm going to rewrite `security-secretstore-read` to eliminate the password f

[2020-05-11 02:08] novuscy opened #2550 "ValueDescriptors do not get removed along with DeviceProfile when EnableValueDescriptorManagement=true"
# 🐞 Bug Report

### Affected Services

 The issue is located in:
core-metadata core-data

### Is this a regression?

Not so sure.
### Description and Minimal Reproduction
1. Set EnableValueDescriptorManagement=true in core-metadata config file
2. Add a new DeviceProfile, the associated ValueDescriptors in the profile are added automatically
3. Remove the profile, but the associated ValueDescriptor

[2020-05-12 00:25] #2547 closed

[2020-05-12 06:16] cloudxxx8 commented on #2543
@tingyuz , @bnevis-i
could you please help take a look?  It's the only issue on blackbox test right now.

[2020-05-12 07:29] jinlinGuan opened #2553 "Post event with binary value returns "reading has no value""
# 🐞 Bug Report

### Affected Services

 The issue is located in:
core-data

### Is this a regression?

### Description and Minimal Reproduction
The error happens on x86 and arm64
1. `docker-compose -f docker-compose-nexus-redis-no-secty.yml up -d`
2.
[code]

## 🔥 Exception or Error
The status code is "500 Internal Server Error".
The response body is "reading has no value".
The log of core-data: `l

[2020-05-12 14:55] bnevis-i commented on #2543
Sure.  Will spin up the stack and take a look.

[2020-05-12 14:59] hutchic commented on #2543
The kong logs

[code]

[2020-05-12 15:07] bnevis-i commented on #2543
Upstream shouldn't be 127.0.0.1.  Should be a docker hostname.

[2020-05-12 15:10] tonyespy commented on #2553
This test looks wrong to me, as there's no `type` specified, yet `mediaType` is specified which implies that this is a binary reading. I would suggest re-testing with `type` added, and if the error goes away, close this issue as invalid.

[2020-05-12 15:11] bnevis-i commented on #2543
[code]

This seems to be related to the logging disable changes made by @lenny-intel .

Lenny, how do you suggest we proceed?

[2020-05-12 15:34] bnevis-i commented on #2543
The services that seem to know about notifications and would be affected by this are:

- proxy-setup
- system management agent
- core-metadata

Core metadata doesn't seem like it will talk to notifications service unless

[code]

Would uncommenting
[code]

and adding

[code]

be an appropriate fix?

[2020-05-12 16:20] AnthonyMBonafide opened #2554 "Delete an In Use Interval Puts System In An Invalid State"
# 🐞 Bug Report

### Affected Services
The issue is located in: support-scheduler

### Is this a regression?

No

### Description and Minimal Reproduction
Issuing a delete(`DELETE /interval/name/{name}`) of an `Interval` that is being referenced by an `Interval` action will cause the system to become in an inconsistent state. When issuing the request the first time, you will get the expected respon

[2020-05-12 16:21] AnthonyMBonafide commented on #2554
This issue was found during the work done in issue #2520 and PR #2552

[2020-05-12 16:33] bnevis-i commented on #2543
Upon further inspection, with the exception of mongo, all of the other Yaml files have:

[code]

(i.e. the commented out remapping isn't doing anything)

[2020-05-12 16:37] AnthonyMBonafide commented on #2554
This issue is dependent on the completion of #2520 so that we can apply the fix to both deleting by name and ID. As discussed in PR #2552, this issue is present when attempting to add the guard to protect against deleting `Interval`s that are in use when deleting by ID

[2020-05-12 16:38] cloudxxx8 commented on #2553
It works if I change the test command to
[code]

Thanks, @tonyespy
@jinlinGuan please help modify the test script

[2020-05-12 16:45] tonyespy commented on #2543
If support-notifications isn't being started, then I'm pretty sure that explains why you can't reach it thru kong...

[2020-05-12 16:49] bnevis-i commented on #2543
It was supposed to be `# Clients_Logging_Host` that was supposed to be commented out.  @lenny-intel  is working on PR now.

[2020-05-12 17:13] #2543 closed

[2020-05-12 17:18] bnevis-i commented on #2543
Added Clients_Notifications_Host to docker-compose-nexus-mongo.yml.  That was the only dockerfile from which it was missing.

[2020-05-12 17:40] AnthonyMBonafide commented on #2554
After having a meeting with @akramtexas, He has cleaned up the code which handles the deleting of `Interval`s in PR #2552 . By doing so he has fixed this issue. I am going to assign this issue to him and this should be resolved when he closes out PR #2552

[2020-05-13 04:16] jamesrgregg commented on #1947
Detail on proposed recommendation for consideration within the Security WG has been submitted for review [https://github.com/jamesrgregg/1947-explore](https://github.com/jamesrgregg/1947-explore)

[2020-05-13 04:39] #2553 closed

[2020-05-13 07:12] nbfhscl commented on #2554
The PR #2517 I opened last month is trying to solve this and several other related problems. Maybe you can take a look at it.

[2020-05-13 15:15] AnthonyMBonafide commented on #2554
That PR looks good and solves some other issues. However, as Trevor pointed out the target branch is incorrect, there is no issue related to the PR so we lose some tracking there, and there is a lot of fixes in that PR that are not mentioned in the commit message. If you can update the PR to address those issues then we can take a look at it and look at having it approved and merged into the code

[2020-05-13 15:19] AnthonyMBonafide commented on #2554
The issue here is what I expected in the original comment for this issue under the **Anything else relevant?**.

The workaround for this bug is to restart support-scheduler. This will cause the service to reload all `Interval`s and `IntervalAction`s into memory. Therefore, everything is back in-sync. Please note that this workaround is not a fix and you can still put the system into an invalid sta

[2020-05-13 15:52] akramtexas commented on #2520
- Referring to the previous comment (above), we decided that there’s a bit much work remaining (unit testing, etc.) for this fix to make it into the Geneva release.
- With that in mind, I am documenting here the workaround to this issue, noting that the impact of this bug is low (for anyone who might use the support-scheduler service).
- First, a recommendation for the user: Use the REST call to d

[2020-05-14 00:11] tonyespy commented on #2527
@AnthonyMBonafide while your fix greatly reduces the mean time til failure of this endpoint, it doesn't completely fix it. I would think as such, we'd want to keep this open for Hanoi. As @tsconn23 has pointed out, the real fix comes with V2.

I also think we want to recommend that people keep any eye on their database, and ensure that period cleaning of pushed events is always done as a best prac

[2020-05-14 03:21] nbfhscl commented on #2554
@AnthonyMBonafide  I was working on fuji branch when I found and fixed those bugs not long ago. Did you mean that pull requests on fuji branch is not welcomed and we should only focus on master?

By the way, I pulled the latest code of master branch but failed to recreate those bugs. So I‘ll give up updating that PR.