[2018-03-01 16:39] JPWKU opened #10 "Need to update the Makefile or build purposes"
The Makefile needs an update to build/test all of the services in the edgex-go repo and associated docker images.  This is the only way to ensure we have repo wide coverage.
In addition, if we ever add another service there will need to be a corresponding addition to the Makefile to build/test it.

[2018-03-01 16:41] feclare commented on #10
#7 will add core services to makefile

[2018-03-01 20:29] #10 closed

[2018-03-02 03:41] jpwhitemn opened #13 "Wrong content type for export services ping API"
Hitting the export client or servier PING API (192.168.99.100:48071/api/v1/ping) results in the browser asking if you want to save the response versus just display it. Check the content type returned - and see how core data does this.

[2018-03-02 17:19] #13 closed

[2018-03-02 18:52] rtmaster opened #19 "Retry registration to Consul"
Ideally, by performing a
_docker-compose up_
all microservices should come up in the correct manner, without the need to run a shell script delaying the startup because the Go services are "too fast" and come up before Consul.
Since there is no sleep mechanism in docker compose, this should be in the logic of the Go microservices which should retry at specific intervals (5 sec?) to locate Consul a

[2018-03-02 19:06] drasko opened #20 "Package import links error"
[code]

[2018-03-02 19:22] drasko commented on #20
Should be fixed by https://github.com/edgexfoundry/edgex-go/pull/21

[2018-03-02 19:26] drasko opened #22 "Make fails because of missing zmq lib"
[code]

[2018-03-02 19:47] drasko commented on #22
`sudo apt-get install libzmq3-dev` resolves the issue

[2018-03-02 19:47] #22 closed

[2018-03-02 20:56] drasko opened #25 "Prefix binaries with `edgex-`"
Currently our produced `edgex-go` binaries are like this:
[code]
I would propose that we prefix them with `edgex-` in order to find them easy when listing the active processes in the system (i suppose that they can/will be launched with something like `nohup <bin_name>&`)

[2018-03-02 21:20] drasko opened #26 "Core services read configuration from hard-coded file"
Core services currently read config file from hard-coded location: https://github.com/edgexfoundry/edgex-go/blob/master/cmd/core-command/main.go#L37

Go binaries should be portable, and probably end-up in `$GOBIN` (via `go install`). Also, very often `$GOBIN` is added to system path, so that these binaries are accessible system-wide.

Because they should be capable to start from different location

[2018-03-02 22:46] drasko commented on #25
Can be temproray overriden by starting service with `exec -a edgex-<service_name> <sevice_name> &`, as suggested in https://github.com/edgexfoundry/edgex-go/pull/27

[2018-03-02 23:08] #20 closed

[2018-03-07 14:57] tonyespy commented on #26
My vote would be for a command-line option, as environment variables can be set via a number of different ways, and thus can be hard to keep track of, whereas there's only one place a command-line argument can be specified, and it's easy to inspect the command-line options passed to a running process (at least it's easy on Linux, not sure about Windows).

[2018-03-07 15:47] tonyespy opened #35 "[core-data] configuration.json defines endpoint URLs"
The new core-data configuration.json file specifies URLs for the various REST endpoints it uses from other services.  IMHOP, the configuration should specify the host and port of any dependent services, whereas the actual endpoints and versions being used should be part of the code itself.

Reported as of commit: 74f6945

[2018-03-07 19:55] jpwhitemn commented on #26
Based on our Go project call yesterday, I have Trevor working on this for core-data.  We'll work on a few of these options and provide something for people to look at once we think we have something in place that we are satisfied with - and get everyone's opinion.  As we discussed yesterday, it would be nice to eventually replicate the type of escalating mechanism that Java has (property file, com

[2018-03-07 21:00] tonyespy opened #37 "Logging improvements"
A couple of suggestions for improving our new logging service:

 * it would be nice if we the service operated similar to Go's log package, which provide functions which provides versions of all the logging functions that take printf style strings (e.g. Debugf, Errorf, ...)

 * we should add a facility to allow log levels to be specified per logging client, ideally in such a manner that the level

[2018-03-07 22:17] drasko commented on #26
@tonyespy no need to open command line for passing just one single option: location of the file. this makes code more complicated - you are adding dependencies to parse command line options, send help to command line, etc - this SW will not be run by hand, it will be management service that will be running the services.

Using command line here in my opinion goes against programming principles of

[2018-03-07 22:30] drasko commented on #37
I would opt for JSON structured logs that can be easily parsed by a machine. this is why in `export` services we used Uber Zap: https://github.com/uber-go/zap

[2018-03-08 09:26] feclare commented on #35
+1

[2018-03-09 11:26] yanghua opened #43 "implement a support-scheduler-client"
Can I impelement a support-scheduler's go client ?

[2018-03-09 12:11] feclare opened #44 "Makefile improvements"
I have found a way to compile all the go code in the repository and to generate all the microservices. The only problem is that the executables are stored in $GOPATH/bin

[code]
So we will need to move them afterwards to other location.
We could use something like:
[code]
Removing the build_microservices target. Opinions?

[2018-03-09 12:32] drasko commented on #44
@feclare please refer to https://github.com/edgexfoundry/edgex-go/issues/26 and also https://github.com/edgexfoundry/edgex-go/issues/25 because I expect problems here with `go install`

[2018-03-10 01:45] jpwhitemn opened #46 "DeviceProfile upload issue on booleans"
When uploading device profiles, the LSB value of "true" or "false" causes errors (it is not interpreted as a boolean).  Setting it to true or false results in a null value for LSB.  There may be other properties that are not getting loaded correctly.

[2018-03-13 11:11] yanghua opened #50 "add test for support notifications client"

[2018-03-13 12:03] rtmaster commented on #37
In addition to zap, this is a good package to rotate logs https://godoc.org/gopkg.in/natefinch/lumberjack.v2

[2018-03-14 09:53] feclare opened #53 "Implement mongo backend in support_logging"
Support logging only have the 'file' backend, mongo still needs to be implemented.

[2018-03-14 11:29] chenchix commented on #53
@feclare could you assign this issue to me?

[2018-03-14 14:31] yanghua opened #55 "refactor support notifications client"

[2018-03-14 15:11] yanghua opened #57 "Implement support scheduler server"
assignee : @yanghua

[2018-03-14 15:18] yanghua commented on #55
finished most work, waiting for issue #50 's PR being merged to fuse together @tsconn23 .

[2018-03-15 11:55] SteveOss opened #59 "Inconsistent keys in configuration files"
In the various service configuration (json) files have inconsistent key capitalisation.
For example just looking at the Consul related keys there are:

Consulcheckaddress and ConsulCheckAddress
Consulhost and ConsulHost
Consulprofilesactive and ConsulProfilesActive
Consulport and ConsulPort

Looks like the core-data config files are those missing capitalisation.

[2018-03-15 14:56] #43 closed

[2018-03-15 14:57] #50 closed

[2018-03-15 15:04] yanghua opened #62 "move notification struct from support notification client to core domain models dir"
as a stipulative rule, seems like all models are defined into `core/domain/models` dir. The `Notification` should also be there just like `Schedule`.  @drasko do you approve this ?

[2018-03-15 15:09] drasko commented on #62
I can not tell for the core, @jpwhitemn @tsconn23 and @feclare are maintaining this part. But I do not like this dir structure - shared models should be pulled out of the `domain` dir and kept in the root dir

[2018-03-15 16:16] feclare commented on #62
@yanghua
In this case I think its place is where it is. Is a struct that only is used for functions in support/notifications-client
And in case of being moved, it should be support/domain
@drasko
I also prefer if we move the the core/domain files to core/ and support/domain to support/. If @jpwhitemn and @tsconn23 also agree I can do it.

[2018-03-15 16:25] yanghua commented on #62
@feclare OK, I create this issue is that `Schedule` and `ScheduleEvent` models are that dir. And these models from clients should follow same stipulative rule. Hope for getting consensus of opinion.

[2018-03-16 19:46] tsconn23 commented on #46
@jpwhitemn I tracked this down to the capitalization of the LSB field itself in the device profile. If the field in the YAML is capitalized, it will not map to the field as the mapping metadata in our application is looking for "lsb". All fields when we do mapping are lower-cased, which is why the other properties work.

[2018-03-16 19:57] #46 closed

[2018-03-17 08:54] yanghua opened #64 "[support][logging] fixed error content-type for ping request"
Now, in support/logging/server.go, when respone request `/ping`, the response header's `Content-Type` is `application/text`, this value is wrong. When use this value and send this request with browser, the behavior is donwload a file, not display a text `pong`. It should be `text/plain`.

[2018-03-17 08:59] chenchix commented on #64
Since you are modifying this, I think it is a good moment to change this value format by a json, something like {"value": "pong"}, to follow the format of values returned by edgex in any other REST.

Also, json is a common format and there are a lot of tools that only understand json

[2018-03-17 09:02] yanghua commented on #64
@chenchix good idea.  @drasko shall we change it to json format? Your opinion?

[2018-03-17 17:29] drasko commented on #64
I think that this whole ping-pong idea of health check is not needed. Health should be checked via logs and metrics, and there must be some orchestrator (Kubernetes?) that will do this.

But now that it exists and that we are using it - I would recommend JSON.

[2018-03-19 20:24] tonyespy commented on #64
Although this should be transparent to Consul's health check (it's currently configured to check HTTP response code only), please ensure you've tested with Consul to ensure that the changed content type doesn't impact the health check.

[2018-03-21 23:36] jpwhitemn opened #71 "Core data (in go) call of metadata to check device name/id not working"
Core data should allow a check of the existence of the device in any event to be checked in metadata.  Does not appear to be working.  This should also be a configurable option to turn or off the check based on level of trust the user has with data reported by device services (check at first and turn off later when the device is known to work well).

[2018-03-21 23:39] jpwhitemn commented on #57
On the roadmap to do - hopefully by California release.

[2018-03-21 23:40] jpwhitemn commented on #44
Makefile issues and changes to be discussed in 3/22 Core WG meeting.

[2018-03-22 00:07] yanghua commented on #57
Hi @Jim White please be assured that I am doing this job. Thanks. On 2018-03-22 07:39 , Jim White Wrote: On the roadmap to do - hopefully by California release. — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-25 01:06] tsconn23 commented on #26
PR https://github.com/edgexfoundry/edgex-go/pull/75 created. Feel free to comment/approve.

[2018-03-25 15:23] yanghua opened #76 "schedule time field between API document and code implementation are inconsistent"
hi @jpwhitemn and @drasko I'm testing the schedule microservice I have done. But I find the time fields' type (start/end) of `Schedule` model are inconsistent in two places.
The [API document](https://wiki.edgexfoundry.org/display/FA/APIs--Supporting+Services--Scheduling) says using _ISO 8601_.
However, the current [golang implementation](https://github.com/edgexfoundry/edgex-go/blob/master/core/m

[2018-03-25 15:45] yanghua commented on #37
hi all,
It seems the project has two log formats when I run multiple microservices. I am writing the scheduler microservice. The JSON format looks good. But who can tell me which one I should choose?

[2018-03-25 17:49] tsconn23 commented on #26
PR has been merged. If there are no follow-up comments/discussion in 24 hours, I'll close the issue as resolved.

[2018-03-26 09:39] feclare commented on #44
The only remaining issue is where should the executables be generated. I know @drasko likes to have them in a different directory like `edgex-go/build`. With the configuration files sharing the same filenames each microservice needs to be in a different directory, if we want to have this I should use something like:
[code]
Any other alternative?

[2018-03-26 21:45] tsconn23 commented on #26
During a call with @jpwhitemn @tonyespy  this afternoon, it was decided we would add command line support as well. For now the order of precedence will be as follows:

1.) cmd line
2.) environment variable
3.) hard-coded location

[2018-03-28 05:04] sivakatru opened #85 "device-mqtt integration with the California preview release"
As the core-edgeX (command/data/metadata) microservices are a drop-in GO replacements, I thought I will use the device-mqtt service from the Eclipse IDE in the developer mode refering to California preview release - which is throwing an HTTP 503 error. PFA log below.
[code]

[2018-03-28 10:30] chenchix commented on #85
I have faced a similar issue and. Please, check capitalization in your json in these fields:
  unlocked -> UNLOCKED
  enabled -> ENABLED

[2018-03-28 11:30] chenchix commented on #53
@feclare you can close this issue

[2018-03-28 11:30] sivakatru commented on #85
@chenchix Thanks, that clue helped. I had to pull/update my device-mqtt repo service.

[2018-03-28 11:30] #85 closed

[2018-03-28 11:44] chenchix commented on #53
[support-logging] Add mongodb support  #78 adds the feature.

[2018-03-28 11:56] drasko commented on #53
Thanks @chenchix

[2018-03-28 11:56] #53 closed

[2018-03-28 15:15] yanghua opened #86 "Support scheduler client improve and refactor scheduler client"
## improve:

* added three query methods about schedule and schedule event for the upcoming schedule microservice
* added three test methods for above three query methods to make sure it works well

## refactor:

* fixed some problems in readme document
* renamed `SendXXX` method to `AddXXX` , let it matches `UpdateXXX`, `RemoveXXX` convention
* some little changes

[2018-03-28 16:52] jpwhitemn commented on #57
Hi Yanghua - that would be great if you (and any team you have) would like to take the work to move the Scheduler service from Java to Go.  What would your time line be for this work?

[2018-03-28 17:00] tsconn23 commented on #59
Code change has been merged.

[2018-03-28 17:00] #59 closed

[2018-03-28 17:08] tsconn23 opened #89 "Rename AmqBroker Key to "ActiveMQBroker" for clarity"
In the configuration.toml files, make the above change.

[2018-03-28 20:58] drasko commented on #35
@tonyespy @tsconn23 any updates on this?

[2018-03-28 20:59] #25 closed

[2018-03-28 21:01] drasko commented on #19
@feclare what's the status of this one?

[2018-03-28 21:08] tsconn23 commented on #35
@drasko @tonyespy Yes, the work is done and I'm ready to PR. I'm waiting for the build issues to get resolved before submitting the PR.

[2018-03-28 21:09] drasko commented on #55
@yanghua can this one be closed?

[2018-03-28 21:10] tsconn23 commented on #35
@drasko Ignore previous comment if you saw it.

I haven't really looked closely at this yet due to other tasks.

[2018-03-28 21:10] #62 closed

[2018-03-28 22:06] drasko opened #90 "Implement support-notifications microservice in Go"
https://github.com/edgexfoundry/support-notifications has to be rewritten in Go.

[2018-03-28 22:18] drasko opened #91 "Define public API for duplicated microservice endpoints behind reverse proxy"
Some of the microservices have API endpoints with same REST path. Example: `/ping`.

When behind reverse proxy, a mapping is needed so that we can know which exactly service we address (i.e. are we hitting `export-client/ping` or `core-data/ping`).

Suggested mapping can be `/<service_name>/<api_ednpoint>` - for example `/export-client/ping`, but `Kong` (a reverse proxy and API gateway currently s

[2018-03-28 22:55] yanghua commented on #57
hi @jpwhitemn , As planned, this weekend I will open a PR about this issue, however it's a big PR, the code review may take a longer time. Hopefully, next weekend this issue could be closed.

[2018-03-28 23:04] yanghua commented on #55
hi @drasko , this issue links to PR #61 , I will handle the conflict soon.

[2018-03-28 23:19] yanghua commented on #57
@jpwhitemn  is this time plan suitable？

[2018-03-29 17:24] jpwhitemn opened #93 "more documentation around Metadata device profile"
More documentation is needed around the device profile (per Core WG meeting 3/29).  Specifically, what is the structure, what are the allowed elements, what is optional.  There is a block diagram of the design of the profile (and profile document) on the Wiki today (https://wiki.edgexfoundry.org/display/FA/Architecture--Device+Services--Device+Profile) but much more is needed.

[2018-03-29 17:30] jpwhitemn opened #94 "more documentation on configuration properties"
Per Core WG meeting of 3/29, more documentation is needed on the meaning and options of each of the services configuration properties.  Perhaps this is in the code or in a separate file (TBD) - but some guidance to developers is required.

[2018-03-29 22:11] drasko commented on #57
@yanghua if this issue is in progress, can you please move the card in "In Progress" state here: https://github.com/edgexfoundry/edgex-go/projects/2?add_cards_query=is%3Aopen

[2018-03-29 22:21] tsconn23 opened #96 "Add "help" argument support to core services"
Provide verbiage w/r/t supported command line flags and their usage via ./service --help

See
https://stackoverflow.com/questions/23725924/can-gos-flag-package-print-usage or this: https://github.com/MainfluxLabs/fluxmq/blob/master/main.go

[2018-03-29 22:58] #26 closed

[2018-03-30 01:38] yanghua commented on #57
@drasko I tried. But I don't konw how to do this operation?  Does this operation need some permission?

[2018-03-30 13:19] drasko commented on #57
@yanghua yes, probably. Np, I did it.

[2018-03-30 16:10] yanghua commented on #37
Hi all,
If no one can give a suggestion, I will agree with @drasko and @rtmaster to replace `logger.LoggingClient` with uber's zap in my #57 issue. I find the `logger.LoggingClient` can not print the real code line and define log output level like **log4j**.

[2018-03-30 20:23] tsconn23 commented on #37
@yanghua You need to be sure your logging solution is behind an interface. Properly speaking, logger.loggingClient IS an interface and it is used by all of the core services. You could potentially extend the loggingClient factory to instantiate your new type of logger similar to what has been done for the DBClient.

[2018-03-31 03:03] yanghua commented on #37
@tsconn23 I know `LoggingClient` client is a interface. But I think the system/framework kernal should provide a **unified** (a project just need one format) and **extendible** (could have multiple implementations, but should not let upper modules implement itself, they just need to use the abstract API) log framework. The unified and controllable log format would bring many advantages: collect, p

[2018-03-31 16:40] drasko commented on #96
@tsconn23 yes, probably the best golang CLI library. We are using it in Mainflux CLI: https://github.com/mainflux/bashflux - you can take a look here: https://github.com/mainflux/bashflux/blob/master/bashflux.go

But for this solution it would be an overkill :).

[2018-03-31 16:51] jpwhitemn opened #99 "Re-implement rules engine (or pick new) in Go or other language"
Re-implement the rules engine (currently written in Java using Drools) in Go.  Alternatively, pick a package and language implementation that offers the same or similar capability but in a smaller footprint (memory, CPU), smaller executable size, and starts up faster than current Java implementation.

[2018-03-31 16:58] jpwhitemn opened #100 "Azure IoT Hub export connector"
Duplicate functionality found in the Java export client and export distro services to allow for export to Azure IoT Hub

[2018-03-31 17:00] jpwhitemn opened #101 "Google IoT Core export connector"
Duplicate functionality found in the Java export client and export distro services to allow for export to Google IoT Core

[2018-03-31 17:01] jpwhitemn opened #102 "ZeroMQ export connector"
Duplicate functionality found in the Java export client and export distro services to allow for export to a ZeroMQ endpoint

[2018-03-31 17:05] jpwhitemn opened #103 "core-config-seed in Go"
Review and bring in Samsung initial config-seed in Go project.  Update and apply new config key standards.  Add profile bootstrap property to load only the necessary configuration.

[2018-03-31 18:05] drasko commented on #99
Current candidate: https://github.com/Comcast/rulio

If considering implementation, Mainflux rules engine can be a good start: https://github.com/MainfluxLabs/rules-engine

[2018-03-31 20:50] jpwhitemn commented on #90
I am working on this task.  Please contact me if you want to assist, but  don't start your own without consulting me.  You can find progress here:  https://github.com/jpwhitemn/edgex-go/tree/notifications

[2018-04-01 05:00] yanghua opened #104 "remove unnecessary config file const definition"
As the config file path would read from `config` package (LoadFromFile), so we could remove the unnecessary config file const definition in modules **core-command** and **core-metadata**

[2018-04-01 05:06] yanghua commented on #104
the code in master branch has been refactored, close this.

[2018-04-01 05:06] #104 closed

[2018-04-01 06:42] yanghua opened #105 "Export client need refactor configuration reading logic"
Now it used const hardcode, should read from config file. apply this ticket to fix.

[2018-04-01 06:45] yanghua opened #106 "Export distro refactor configuration reading logic"
Now it used const hardcode, should read from config file. Can I apply this ticket to fix?

[2018-04-01 06:46] yanghua opened #107 "Support logging should refactor configuration reading logic"
Now it used const hardcode, should read from config file. Can I apply this ticket to fix?

[2018-04-01 11:51] drasko commented on #105
Please mark issue relation to service layer (core, support, export, ...) via labels, not an issue title. Use first capital letter in the tiitle.

Closing this one - you do not need an issue for trivial fixes.

[2018-04-01 12:30] yanghua commented on #105
@drasko , I do not have permission to mark a issue with label. And there is no issue naming rule document, I remember I have given some suggestion in mailing list recently, but no one gave a reply. In Apache project community, there is a generic conventions: one PR one issue. The issue can create a discuss about a problem. And if the committer think the issue do not need fix or it's not a problem,

[2018-04-01 12:34] drasko commented on #105
@yanghua you probably got the point there... Let's reopen commits then.

[2018-04-01 12:42] yanghua commented on #105
I think the label is a very good practice. But I can not use. I don't know whether it need a setting about this function or not. Or we should consider let newbie know the rule as fast as possible.

[2018-04-01 12:46] yanghua commented on #105
@drasko thanks for your suggestion, I have changed these issues' title.

[2018-04-02 15:43] jpwhitemn opened #108 "Device Service SDK in Go"
Based on updated requirements, refactor the Device Service SDK in Go.

[2018-04-02 15:46] jpwhitemn opened #109 "Device Service SDK in C"
Based on updated requirements, refactor the Device Service SDK in C

[2018-04-02 15:48] jpwhitemn opened #110 "EdgeX Reverse Proxy"
As part of the initial security services, provide a reverse proxy (probably done via Kong open source) with supporting JWT authentication

[2018-04-02 15:49] jpwhitemn opened #111 "data protection services"
As part of the initial security services, provide data protection services service - probably completed with Hashicorp Vault

[2018-04-02 15:52] jpwhitemn opened #112 "Initial EdgeX system management capability"
Provide initial EdgeX system management features which include a system management API in each micro service and a system management agent to allow translation and EdgeX orchestration of system management operations (like stop, start, restart).  Per https://wiki.edgexfoundry.org/download/attachments/329501/EdgeX%20Foundry%20Micro%20Service%20System%20Management-v5.docx?version=1&modificationDate=1

[2018-04-02 15:58] jpwhitemn opened #113 "Support Notifications in Go"
Refactor support-notifications in Go lang (from Java).  Move into the new mono repo.  Apply the new config standards.

[2018-04-02 16:01] jpwhitemn opened #114 "Blackbox tests for support, export and device services"
Complete blackbox REST API tests for the remaining EdgeX micro services to include support-logging, support-notifications, support-scheduler, support-rulesengine, export-client, export-distro and the device services.

[2018-04-02 16:04] jpwhitemn opened #115 "Performance tests for EdgeX (Edinburgh Roadmap Item)"
Establish tests to meet performance targets, which include ability to run all of EdgeX (all the services to include the virtual device service) on a Raspberry Pi 3 (1 GB RAM, 64bit CPU, at least 32GB storage space, running Raspbian Linux distro).  Additional tests include ability to startup in 1 minute or less (post OS boot – from micro service start to all services up and available) and see throu

[2018-04-02 16:11] jpwhitemn opened #116 "Security Testing"
Test of any APIs and protection offered by the reverse proxy and data protection services.  We need to insure that they are actually performing as intended.  This is not a full penetration test.

[2018-04-02 16:13] jpwhitemn opened #117 "Service and code documentation moved to Github"
Move the EdgeX microservice, code and API documentation to Github.  Provide linkage between the Wiki site and Github documentation as necessary.  Remove the applicable documentation from the Wiki.

[2018-04-02 16:25] yanghua commented on #86
@drasko thanks! closed this.

[2018-04-02 16:25] #86 closed

[2018-04-02 16:53] drasko commented on #117
I would strongly advise here same approach like Hyperledger Fabric:
- All documentation is put into the Monorepo, under the directory `/doc`
- `ReadTheDocs` service is set-up to auto-generate all docs from this GitHub folder: https://hyperledger-fabric.readthedocs.io/en/release-1.1/

This way any PR sent to Monorepo `/doc` is automatically re-generated and visible on `ReadTheDocs`.

[2018-04-02 19:54] andyf1967 commented on #117
There are about 250 reStructuredText files, images and Sphinx build files in total. We were planning to put the EdgeX documentation in the Monorepo underneath /doc, but with the following structure below:
/doc
        /general
        /configuration
        /core
	        /command
	        /data
	        /metadata
        /device
	           /profile
	           /sdk
	           /virtual

[2018-04-02 21:06] drasko commented on #117
@andyf1967 yes... I forgot the images :(. Maybe in that case it is better to put everything in separate `edgex-doc` repo?

[2018-04-03 01:18] Jaewook-Jung commented on #103
Hi, it's Jaewook Jung from Samsung. I updated [core-config-seed-go](https://github.com/mgjeong/core-config-seed-go) repo to apply code file structure and how to build similar to the current edgex-go repo. Please check it.

[2018-04-03 12:46] andyf1967 commented on #117
@drasko @jpwhitemn I think that the because the migration to Go services and use of a Monorepo is the direction that we going I would lean towards putting the documentation in the same repository.

[2018-04-03 14:02] drasko commented on #117
@andyf1967 +1 for Monorepo.

Generally - introduction of monorepo helped us follow much closer of what is happening on the project, react on PRs and review then quickly IMHO. Also it "unifies" the code style, making it more consistent.

So - I would put in monorepo as much as we can. Additional convenience of having doc in Monorepo is that developer can update/correct the doc in the same PR for th

[2018-04-05 15:57] jpwhitemn opened #120 "Export services (client and distro) do not have an attribution file"
License and Attribution files are necessary to satisfying licensing agreements.  The Attribution.txt is missing from export-distro and export-client.  DevOps is working on way to automate the inclusion of these files in deployment artifacts like Docker images.

[2018-04-05 16:00] jpwhitemn commented on #106
This is getting address globally (see https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions#ArchitectureIssuesandDecisions-ServiceIdentifiers).  You can look at core services for the initial implementation.

[2018-04-10 14:12] tonyespy opened #128 "Readings pushed to Core Data trigger Invalid Object ID error messages from Core Metadata"
While testing my edgex core snap (version: 0.5.1+cali-20180322) on an Ubuntu 16.04 LTS Desktop system (amd64), I noticed the following error messages every time a new event is pushed from device-virtual to core-data output on the terminal used to start edgex:

_INFO: 2018/04/10 09:39:18 Posting Event: {"id":"","pushed":0,"device":"KMC.BAC-121036\
CE01","created":0,"modified":0,"origin":15233675580

[2018-04-10 14:30] tonyespy commented on #128
Also, the log message in Core Metadata should probably be DEBUG (if/when we get log level filtering).  It makes no sense for a lookup endpoint log normal query failures, these should be done by the client.

[2018-04-11 22:04] tsconn23 commented on #128
@tonyespy @jpwhitemn This is a duplicate of https://github.com/edgexfoundry/edgex-go/issues/71 but with a lot more descriptive information. I really don't like how the Device property is dual purposed. It's quite widespread.

[2018-04-12 16:01] yanghua opened #131 "Replacing the fmt.Println code with log framework api for the whole project."
If agree this ticket, I could fix it.

[2018-04-12 18:41] drasko commented on #131
OK for me, but let @jpwhitemn or @tsconn23 confirm.

[2018-04-14 14:40] tonyespy commented on #128
@tsconn23 Re: the Device property is dual-purposed, yes I agree. It would make sense to have these objects include explicit DeviceName or DeviceId (or both) fields.

[2018-04-14 21:25] jduranf opened #143 "Error while importing export-client.raml in Postman"
When trying to import file export-client.raml in Postman, I get the error "Error while importing RAML: mapping values are not allowed here"

I think the error is in line 129 in export-client.raml:
`description: Export Client registration property type. Valid types are: "algorithms", "compressions", "formats", and "destinations".`

The second `:` should be removed, so this line will be:
`descriptio

[2018-04-16 01:55] yanghua opened #144 "Refactor the same semantic configuration item with the unified key."
Just like @jduranf said in the PR #130 , the existed naming for the same semantic configuration key are confused in many sub modules. We should refactor them with unified key naming.
If it is worthy to be done, I want claim it.

[2018-04-17 04:41] yanghua commented on #55
@drasko closing this issue, thank you and all other contributors.

[2018-04-17 04:41] #55 closed

[2018-04-17 04:42] yanghua commented on #105
closing this issue, thanks!

[2018-04-17 04:42] #105 closed

[2018-04-17 04:46] yanghua commented on #144
closing this issue, thank you.

[2018-04-17 04:48] yanghua commented on #107
@drasko closing this issue, thank you and other reviewers.

[2018-04-17 04:48] #107 closed

[2018-04-17 15:05] yanghua commented on #131
@jpwhitemn and @tsconn23 , what's your opinion?

[2018-04-17 16:50] dylan-hantula commented on #143
I ran into the same issue and was able to resolve it by removing the second `:` in line 129.

[2018-04-17 21:18] tsconn23 commented on #131
Can you provide a specific example of the usage you want to replace and the specific proposed change? We may want to handle this as more of a style guideline with issues sent to the specific teams responsible for their portion of EdgeX.

[2018-04-17 22:23] tsconn23 opened #147 "Name for addressable can be 'null' and also stored"
I have verified this issue exists in the Go reference implementation as well. Original issue report below.

[Java core-metadata issue #31](https://github.com/edgexfoundry/core-metadata/issues/31)

[2018-04-18 02:30] yanghua commented on #106
thanks all of you, closing this issue

[2018-04-18 02:30] #106 closed

[2018-04-18 15:31] yanghua commented on #131
@tsconn23 there are many examples, such as [print error](https://github.com/edgexfoundry/edgex-go/blob/master/core/clients/metadataclients/metadata-clients.go#L169), [print debug](https://github.com/edgexfoundry/edgex-go/blob/master/core/clients/metadataclients/metadata-clients.go#L270), [print error](https://github.com/edgexfoundry/edgex-go/blob/master/core/data/init.go#L80), [print info](https:/

[2018-04-18 15:57] yanghua opened #149 "Remove the unexpected print log in start shell script"
in start shell script, such as `edgex-launch.sh` exists many [print log](https://github.com/edgexfoundry/edgex-go/blob/master/bin/edgex-launch.sh#L27), these log used to tell the user which microservice is launching.

Ideally, it should print like this (in sequence) :

[code]
Actually, the result is like this (unordered):
[code]

I would like to remove these print code and place them into the fron

[2018-04-19 07:45] #143 closed

[2018-04-19 16:07] yanghua opened #151 "Add git ignore items to filter some modules' log files from source code"
should filter log files from modules :

[code]
I want claim it.

[2018-04-19 16:27] tsconn23 commented on #131
@drasko Just to clarify, are you agreeing with me or with yanghua's approach to introduce the logger everywhere including packages where it may not be referenced yet?

[2018-04-19 16:31] tsconn23 commented on #147
Resolved for this particular issue. Other similar cases may exist and we need to review.

[2018-04-19 16:31] #147 closed

[2018-04-19 16:53] yanghua commented on #131
@tsconn23 consider a scenario, if a module which used `fmt.println` to print a error message to std out.  But the log framework configuration tends to log the message into a file. In this case, the system's log is incomplete and would stop developer making diagnosis about issues.

I think import a logger package is not the core problem. Maybe it do not need a logger (for example just print to std

[2018-04-19 16:54] drasko commented on #131
@tsconn23 - I would go tith @yanghua's proposition for now - looks simpler to me (pure change)

[2018-04-19 16:59] drasko commented on #131
@yanghua @tsconn23 yep, this "stdout logger" does not mean anything - in production logs would be sent directly from logger to `syslog`, some file or - most probably - a remote machine. This is why I insisted from the start on removing pritfs and using logging.

[2018-04-20 02:29] tsconn23 commented on #131
@drasko @yanghua And so the error gets logged from the metadataclient, thrown to the caller and then relogged again there? That's what will happen in the scenario I described above.

[2018-04-20 05:08] yanghua commented on #131
@tsconn23 for your scenario, if logs multiple times, that's the exists code's issue, if replaces with logger would log multiple times, the print to console would also print multiple times, because the logger just replaced the action of print. I think it could be split into two issue:

1) replace the exists log mode (from println to logger), this action would not change the original's semantic and

[2018-04-20 11:34] drasko commented on #131
@tsconn23 @yanghua this is what I though also - just to replace fmt prints as a first step. Then address architectural issues as a second step (separate issue)

[2018-04-22 03:29] yanghua commented on #149
@drasko what do you think about this?

[2018-04-22 15:24] drasko commented on #149
@yanghua in Mainflux every service has a line like thus upon the start: https://github.com/mainflux/mainflux/blob/master/cmd/manager/main.go#L96

Your proposition looks OK to me, but have in mind that `edgex-launch.sh` is not an actual production script - it is there just for the convenience of development.

In production some other and more robust way of starting services must be used, and if doc

[2018-04-23 03:40] yanghua commented on #151
closing this issue, thanks @tsconn23

[2018-04-23 21:51] drasko commented on #131
@yanghua any updates on this?

[2018-04-23 21:53] #151 closed

[2018-04-23 21:54] drasko commented on #44
@feclare I propose that we leave it for now as is. We'll see later.

If you are OK with this, please close this issue.

[2018-04-23 21:55] drasko commented on #64
Status?

[2018-04-23 21:55] drasko commented on #76
@jpwhitemn opinion?

[2018-04-23 21:58] drasko commented on #37
Status?

[2018-04-23 23:15] tsconn23 opened #160 "Dockerfile Changes to Support Version 0.5.2"
Jeremy created the 0.5.2 of the Go image containers.  Unfortunately, we’ll need to make a few adjustments to the dockerfile of the Go services given your changes for the new containers to work..

1)      The entrypoint for the docker containers specified in the Dockerfile for each Go service needs to specify the required command line parameters now (use consul, location of the local configuration,

[2018-04-23 23:56] yanghua commented on #131
I no more want to say. Does it mean you guys agree with this issue and I can start the work in this case?

[2018-04-24 04:44] yanghua commented on #149
I have no more to say. Does it mean you guys agree this issue and I could start my work?

[2018-04-24 04:47] yanghua commented on #64
@drasko this issue's PR has been merged, so it could be closed.

[2018-04-24 04:55] #44 closed

[2018-04-24 15:15] #160 closed

[2018-04-24 15:54] #96 closed

[2018-04-24 16:36] tsconn23 opened #164 "SchedulerClient Should Implement an Interface"
Follow the pattern used for the NotificationsClient to provide an interface for the SchedulerClient.

[2018-04-24 22:12] jpwhitemn opened #168 "export services are missing /res folder in Docker container and fail on startup"
When export client and export distro try to start in their Docker containers, both services are missing the /res folder.  The Dockerfile needs to be modified to contain the /res folder from cmd.

Jim@JimsXPS MINGW64 ~/GitRepos/edgexforks/developer-scripts/compose-files (master)
$ docker-compose -f docker-compose-california-0.5.2.yml logs -f --tail=100 export-client
Attaching to edgex-export-client

[2018-04-25 10:47] feclare commented on #168
I think it is being fixed in #159

[2018-04-25 22:17] tsconn23 opened #170 "Only One Service Registers Health Check in Consul"
If you run all microservices with the --consul cmd line argument and then go to the "Services" tab in Consul, you will see that only one of them actually registers a Health Check. The others register a "Serf Health Status" but all that does is check whether the Consul agent itself is reachable.

According to the [documentation](https://www.consul.io/docs/agent/checks.html) health check names withi

[2018-04-26 12:05] yanghua commented on #131
in process of this issue.

[2018-04-26 15:55] yanghua opened #173 "Refactor the go constant with the unified mixed caps"
suggested : `MaxLength`
Not suggested : `MAXLENGTH`, `MAX_LENGTH`
discuss refer to : [Go naming conventions for const
](https://stackoverflow.com/questions/22688906/go-naming-conventions-for-const)

claim it.

[2018-04-26 16:36] #170 closed

[2018-04-26 17:02] #168 closed

[2018-04-26 17:04] tsconn23 commented on #103
The core-config-seed-go repo has been brought over from holding to main. I'm going to close this issue as complete. Issues related to refactoring can be opened and assigned on the new [target repo](https://github.com/edgexfoundry/core-config-seed-go).

[2018-04-26 17:04] #103 closed

[2018-04-26 22:21] tsconn23 opened #175 "Need to Dispose of Mongo Session on Service Shutdown"
Currently, in those services that use Mongo, we do not dispose of the Session if the service shuts down. Affected services include:

- core-data
- core-metadata
- export-client

The mgo [documentation](https://godoc.org/labix.org/v2/mgo#Dial) says closing the Session when you're done using it is required. I'm unsure if this is due to resources left open on the server, or is more specific to ensuri

[2018-04-27 11:51] janko-isidorovic opened #179 "XMPP export connector"
Add support in export client and export distro services to allow for data export using XMPP protocol.

[2018-04-27 12:08] yanghua commented on #179
@drasko please assign to me, thanks!

[2018-04-27 12:15] yanghua commented on #179
@janko-isidorovic  it seems @drasko has the assignment permission.

[2018-04-27 12:48] drasko commented on #179
@yanghua for some reason you do not appear on the list of possible assignees here.

Please proceed with implementation, we know that you reserved this issue.

[2018-04-27 14:11] yanghua commented on #149
@drasko thanks, closing this issue

[2018-04-27 14:11] #149 closed

[2018-04-27 14:13] yanghua commented on #173
@drasko do you agree this?

[2018-04-27 14:14] yanghua commented on #131
except `support-logging` and `support-logging-client`, all others `fmt.Println` has been replaced. cc @drasko please review it.

[2018-04-27 23:51] yanghua commented on #173
@jpwhitemn @tsconn23 any idea?

[2018-04-28 01:52] yanghua opened #181 "Remove the dead code for the whole project"
there are some dead code segments such as :

[code]

they should be removed.

cc @drasko

[2018-04-28 01:56] drasko commented on #181
Yes.

[2018-04-28 01:56] drasko commented on #173
Yes.

[2018-04-28 17:34] tsconn23 opened #182 "Services Need to Ask Consul for Dependency Endpoints On Every Call"
Currently if a given service is integrated with Consul via the --consul cmd line parameter, it obtains information about the location of its dependent services from Consul during initialization and that's it.

For example, core-data uses the metadataclient to communicate with core-metadata. When core-data bootstraps, assuming --consul, it asks Consul for the location of the core-metadata service w

[2018-04-29 21:14] drasko commented on #131
Reviews done, please push PR

[2018-04-29 22:47] tsconn23 commented on #175
Completed for core-data / core-metadata. @drasko please assign someone to take care of this in export-client. Thx.

[2018-04-30 11:40] SteveOss commented on #182
Hi Trevor,

Am in complete agreement here. Adding automatic client re-resolution
behaviour for failed connects then
provides the basis for load balancing, fault tolerance and service
migration. All of which are "enterprise"
type features that we should be looking to support in the future.

Cheers Steve.

On 28 April 2018 at 18:34, Trevor Conn <notifications@github.com> wrote:

--
Technical Directo

[2018-05-02 23:27] drasko commented on #181
@yanghua  with pleasure ;)

[2018-05-02 23:27] drasko commented on #173
@yanghua here you go ;)

[2018-05-02 23:46] yanghua opened #183 "Refactor core data clients value descriptor test from integration testing to unit testing"
code here : [makes a real http request](https://github.com/edgexfoundry/edgex-go/blob/master/core/clients/coredataclients/valuedescriptor_test.go#L36)

if there is not a http server started before testing, it would return error.

claim it~

[2018-05-03 18:41] tsconn23 commented on #144
Closing this. There's no need to do this in the existing codebase due to upcoming general rework of configuration during coming weeks.

[2018-05-03 18:41] #144 closed

[2018-05-03 23:40] yanghua commented on #183
cc @drasko

[2018-05-03 23:42] yanghua commented on #181
status : ongoing

[2018-05-04 00:06] drasko commented on #37
If no objections, I will close this one due too inactivity.

[2018-05-04 02:50] jpwhitemn commented on #183
Hi Vino - I would ask that you work with the core development team (in particular @tsconn23 ) before claiming or working on this issue.  Issues like this really require some coordination with the main project leads to make sure they are consistent with the long term strategy and design of these services.

[2018-05-04 02:57] jpwhitemn commented on #131
All - thank you for your comments here and I thank each of your for your continued participation in the project.  On this issue, however, I believe we need to work through the core working group to discuss before trying to implement.  The comment section here allows us to get some initial ideas and conversation going, but clearly there are alternate options and opinions that really should be broug

[2018-05-04 03:14] yanghua commented on #131
@jpwhitemn OK, sounds good. actually, I think it's a generic specification, just like replacing `System.out.println` to log4j/slf4j framework.

[2018-05-04 05:54] john0576 opened #184 "Cannot detect VCS"
hi,
   when i run glide install, error comes out, and log as following, please help solve
[root@localhost edgex-go]# glide install
[INFO]	Loading mirrors from mirrors.yaml file
[INFO]	Lock file (glide.lock) does not exist. Performing update.
[INFO]	Loading mirrors from mirrors.yaml file
[INFO]	Downloading dependencies. Please wait...
[INFO]	--> Fetching updates for github.com/BurntSushi/toml
[INFO

[2018-05-04 11:47] yanghua commented on #179
hi @janko-isidorovic and @drasko I am going to start this task. I am finding the XMPP's golang client. Here is a  [searching result](https://godoc.org/?q=xmpp) , I tend to choose the first package. Any suggestion or other choice? thanks

[2018-05-04 15:23] jduranf opened #187 "Improve core-data add event performance"
In order to improve the add event performance in core-data, which should be called several times, there are different things which can be done:

1. As said in #128, why use Device property as dual purposed? I think should be better to only allow to use device name

[code]

2. If MetaDataCheck isn't enabled, why get Device name in metadata? This requires some time which should be avoided if MetaDat

[2018-05-04 16:06] tsconn23 opened #188 "Returning 503 Status is Incorrect"
It's pretty pervasive that services in all bounded contexts return 503 when they encounter some type of runtime exception. They should instead return 500 as 503 is specifically used for temporary conditions where the web server is too busy to respond.

I'm creating this issue right now to track it. Once we get past California, it might make sense to split it according to the bounded contexts (expo

[2018-05-04 16:14] drasko commented on #179
@yanghua this one looks OK: https://github.com/mattn/go-xmpp

BSD-3 license should be compatible with Apache-2.0, so this is OK also.

[2018-05-04 23:25] yanghua commented on #179
@drasko thanks, pick it~

[2018-05-05 23:50] tsconn23 commented on #184
Are you behind a proxy? If so, it could be blocking the fetch. I just deleted my local glide.lock and did a "glide install" from home, no problems. In any case this is a glide issue. Closing.

[2018-05-05 23:50] #184 closed

[2018-05-06 00:06] tsconn23 commented on #187
Regarding your points:

1.) Yes, need to finally get around to dealing with this. From talking to @tonyespy it sounds like name is the most reliable identifier for the device currently. This is on my plate.
2.) That Metadatacheck property only governs whether we actually throw an error if the device being asked for is not found. It's like a consistency flag. We have to attempt to go and get the de

[2018-05-06 19:36] jpwhitemn opened #189 "Device Service Callbacks From Metadata"
Per work on the DS SDK requirements, there needs to be metadata updates (/callback) specified in the RAML (currently incomplete).  More needs to be done with the design and API around what happens when Metadata is given changes and it needs to notify other services like Device Services with.  This is a post California issue.

[2018-05-06 19:42] jpwhitemn opened #190 "micro services POSIX support"
Our microservices need to support POSIX signal handling when running in Linux environment.  We'll first have to determine what supporting POSIX means for EdgeX microservices, and then incorporate in service APIs and possibly the proposed system management agent being proposed for Delhi.

[2018-05-07 08:56] jduranf commented on #187
Thanks for your reply @tsconn23. Some comments:
2. If we only use the device name and MetaDataCheck is disabled, which is the point to check the device name if we will continue anyway?
3. Yes, that's right

If you want, I can make some PR in order to do those optimizations. But it's not clear for me if I should do this PR in the main repository, in the holding area repository or wait until the cod

[2018-05-07 14:40] devFallingstar opened #192 "Is there any plans to translate with other languages?"
Hi, I'm a person who'll going to use the edgex foundry system for our own services.
I want to know if you guys have any plans about translating.

As Korean and as edgex user, I hope I can help you guys with documentation things.
As a result, I want to make the documentation pages(like git book) or manual with Korean version.

Is there any way to get the separated docs directories with specific lan

[2018-05-07 14:55] yanghua commented on #192
+1, I claim Chinese translation.

cc @jpwhitemn

[2018-05-07 14:57] yanghua commented on #179
status : ongoing

[2018-05-07 14:58] tsconn23 commented on #187
@jduranf It was decided to hold off on merging from holding to main until after California so if you create individual issues for these work items, you can issue PRs against the main repo.

[2018-05-07 14:59] tsconn23 commented on #192
@andyf1967

[2018-05-07 15:05] #175 closed

[2018-05-07 18:21] falkerson opened #193 "Standardized router"
Currently edgex-go uses couple of routers/dispatchers for building REST API:

* Gorilla Mux - https://github.com/edgexfoundry/edgex-go/blob/master/core/command/rest.go#L23

* Bone - https://github.com/edgexfoundry/edgex-go/blob/master/support/logging/server.go#L20

Need to run some benchmarks (maybe including some others https://github.com/julienschmidt/go-http-routing-benchmark) and select the on

[2018-05-07 18:43] andyf1967 commented on #192
@devFallingstar in the short term we didn't have any plans to translate into other languages. Mainly due to the fact that no one had volunteered. However, if you can help then we can think about how to make this happen.  We have created the new documentation set in reStructuredText and use Sphinx to generate HTML. I know that Sphinx has support for Internationalization (see http://www.sphinx-doc.o

[2018-05-08 00:31] drasko commented on #193
https://www.peterbe.com/plog/my-favorite-go-multiplexer

[2018-05-08 01:31] tsconn23 commented on #71
I'm going to close this one as a duplicate of #128

[2018-05-08 01:31] #71 closed

[2018-05-08 11:17] yanghua opened #194 "Refactor all the go file name with snake_case style"
refer to some discuss :
https://stackoverflow.com/questions/35694137/file-name-convention-for-compound-words?rq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

https://stackoverflow.com/questions/25161774/what-are-conventions-for-filenames-in-go?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

there are some file used '-' or mixed '-' && '_' esp

[2018-05-08 11:30] yanghua opened #195 "Consider use unified project folder naming style"
now the project's folders hava two naming style:

- no '-' link words in [this dir](https://github.com/edgexfoundry/edgex-go/tree/master/core/clients)
- use '-' link words in [this dir](https://github.com/edgexfoundry/edgex-go/tree/master/support)

I suggest use a unified naming style

cc @jpwhitemn @tsconn23 @drasko

[2018-05-08 15:59] yanghua opened #197 "Implement ZeroMQ sender for export distro"
currently, it's not supported [in here](https://github.com/edgexfoundry/edgex-go/blob/master/export/distro/registrations.go#L82)

cc @drasko

[2018-05-08 19:23] falkerson opened #198 "Standard project layout"
It's a good practice to have some standard project layout for go projects. With current approach all services stored in a root of project directory which could provide mess with time. Propose to take a look https://github.com/golang-standards/project-layout.

[2018-05-09 11:10] weichou1229 opened #201 "Returning 404 Status is Incorrect"
https://github.com/edgexfoundry/blackbox-testing/blob/master/bin/postman-test/collections/core-data.postman_collection.json#L361
https://github.com/edgexfoundry/blackbox-testing/blob/master/bin/postman-test/collections/core-data.postman_collection.json#L929
When I run these two **core-data** test script, it's expect return 409 http status ,
cause hummidity is non-existent value descriptor .

I hav

[2018-05-09 11:12] hyogrin opened #202 "Brightics IoT export connector"
We would like to implement another export-distro which will allow EdgeX to export device data (via export distro) to Brightics IoT which is an B2B targeted enterprise IoT platform. Since Brightics IoT supports MQTT protocols, we will contribute another Brightics IoT-MQTT-export-distro in Go so that our platform users allow to collect device data via EdgeX device services. The target release versio

[2018-05-09 11:16] hyogrin commented on #202
Please feel free to add any comments we are going to implement the export-distro starting next week.

[2018-05-09 11:26] yanghua commented on #201
cc @jpwhitemn @tsconn23

[2018-05-09 11:33] yanghua commented on #198
+1, looks good to me cc @drasko what's your opinion?

[2018-05-09 15:04] tsconn23 opened #204 "Core services do not have an attribution file"
License and Attribution files are necessary to satisfying licensing agreements. The Attribution.txt is missing from core-command, core-data, core-metadata. DevOps is working on way to automate the inclusion of these files in deployment artifacts like Docker images.

[2018-05-09 15:25] tsconn23 opened #205 "Drop attribution lines from core service files"
We will be dropping the attributions lines (example below) from the source files comprising the core services. These aren't maintained and just clutter things up. We have GitHub history for changes.

Example:
 * @microservice: core-clients-go library
 * @original author: Ryan Comer, Dell
 * @version: 0.5.0
 * updated for Kei Ohmura.  Kei made the original contribution in the core-clients-go repo

[2018-05-10 00:36] drasko commented on #198
My opinion is that premature optimization is the root of all evil.

[2018-05-10 01:02] jpwhitemn commented on #198
@tsconn23 - Trevor, please have a look at the above standard project layout.  How does this line up with our core service refactors?  Along with Drasko, I don't want to re-org if it does not offer some compelling assistance/improvements.  We need to understand how pervasive is this "standard" and is it adopted by many go projects and if it seems to fit/meet our needs.  If not, we need to close thi

[2018-05-10 01:04] jpwhitemn commented on #197
To be determined if additional export connectors are something we do before or after export service relook/refactor.  We need a more plug-in or SDK style of architecture to allow export services to scale to vast numbers of connectors over time - without necessarily bloating the code base when you only need a few connectors in a use case.

[2018-05-10 01:10] jpwhitemn commented on #194
Per issue #195, same comments apply.  Relooking as part of core refactor for Delhi

[2018-05-10 01:12] jpwhitemn commented on #193
@tsconn23 is refactoring core and supporting services to isolate the router and allow for more easily replacing the router.  Having said that, options should be looked at for selecting our "reference implementation".  This is part of refactor of core services that will be part of Delhi release.

[2018-05-10 01:17] jpwhitemn commented on #192
We are seeing an up-tick in following of the project in Asia Pacific & Japan (thanks in no short measure to people like @yanghua and others).  Will add this to the list of needs of the project.  Of course we welcome volunteers willing to provide the translation of documentation, but we will also look into what other open source projects have done and if there is the potential of finding additional

[2018-05-10 01:31] yanghua commented on #192
hi @jpwhitemn no need for funding, just for expanding Edgex's influence. If you can promote this thing, that would be better.

[2018-05-10 01:40] yanghua commented on #197
Does implement it firstly then transplant it to adapt the new architecture(mode) is a consider idea?
We could let the connector hold into holding repository or a feature branch, no matter implement it now or soon, the main business logic is similar (for example the `Send` method). Just a opinion, follow your plan.

[2018-05-10 01:46] yanghua commented on #198
@drasko seems it is not a optimization (mostly not change the code), it's refactor about the project's structure. Also we should consider whether the 'standard' is a popular convention or not just like jim said.

[2018-05-10 01:53] yanghua commented on #204
@tsconn23 can you assign this issue to me? Or you are fixing it?

[2018-05-10 01:55] yanghua commented on #205
@tsconn23 Are you doing this work?

[2018-05-10 02:09] devFallingstar commented on #192
hi @jpwhitemn
I don't need for funding too, also I want to expand edge's influence as @yanghua said.
And, plus, I claim Korean translation with our team members(total 3 members include me).

Thanks for your opinion.

[2018-05-10 04:14] falkerson opened #209 "Repository build status"
To provide more quick look into current build status for edgex-go repository we ca use https://plugins.jenkins.io/embeddable-build-status

[2018-05-10 10:29] falkerson commented on #198
@drasko @jpwhitemn it's not only about standard in that link. Project should have some well known layout. So it will be easy for every new contributor look through project structure and find interesting part. Example: for me as some new person without onboarding it was little not obviously to understand that directories in root related to services. If we won't such layout we need document somehow

[2018-05-10 16:19] tsconn23 commented on #128
@tonyespy When you have time, let me know if the above PR merge has addressed this issue. We do still have a dual-purposed property, however primacy is given to its usage as "name" rather than "id" which, in my testing, has greatly reduced the occurrence of these errors.

Subsequent refactoring will address the model itself, but that then spills over into RAML, docs, etc.

[2018-05-10 17:30] jpwhitemn commented on #192
@devFallingstar @yanghua and others with interest in multi-language documentation support... we discussed this topic in the Core Working Group today.  Your willingness to contribute the initial translation is really appreciated.  What thoughts do you have on how to keep the documentation up to date once the initial translation is complete?  Would this be something you continue to update?  Do you t

[2018-05-10 23:36] tsconn23 commented on #204
@yanghua That's fine if you'd like to submit a PR for this. It should be pretty simple. Look in the old, separate repos for the Go services. The Attribution.txt files should be there. For example:

https://github.com/edgexfoundry/core-command-go/blob/master/Attribution.txt

We'd need to do a quick audit to be sure they're still current and then put each one in its respective cmd directory. So the

[2018-05-10 23:39] tsconn23 commented on #205
@yanghua If you'd like to submit a PR for it, please do.

[2018-05-10 23:59] yanghua commented on #205
@tsconn23 ok, claim it~

[2018-05-11 00:00] yanghua commented on #204
claim it~

[2018-05-11 02:13] yanghua commented on #192
@jpwhitemn AFAIK, many Apache top level such as (Spark, Flink, Beam) they all have not official version for Chinese document. The PMC and community will keep update the official document which is a part of the project repository, for example [Flink doc](https://github.com/apache/flink/tree/master/docs) it will go forward with the whole project (if a contributor implements a new feature the committ

[2018-05-11 08:44] devFallingstar commented on #192
@jpwhitemn Actually, I think, there's many way to translate, repository by repository.
This project, edgex-go, is mixed project made with source code(go) and documents(some mark down based). So in my opinion, we need two track translation, one for code, and another for documents.

As I know, most of project I saw follow up the below steps.
1. choose the translation owner for each languages,
2. Any

[2018-05-11 15:09] weichou1229 opened #211 "Should return boolean indicating the successful"
when test on **core-command** , PUT api didn't return boolean value as raml file describe .
code snippet:
https://github.com/edgexfoundry/edgex-go/blob/master/core/command/restDevice.go#L56
https://github.com/edgexfoundry/edgex-go/blob/master/core/command/restDevice.go#L69
https://github.com/edgexfoundry/edgex-go/blob/master/core/command/restDevice.go#L81
https://github.com/edgexfoundry/edgex-go/b

[2018-05-11 17:13] tsconn23 commented on #211
Actually, I think it's the RAML that's out of date. The GoLang services return a 200 for a successful PUT which is more appropriate than a hardcoded "return true" as the Java services did.

[2018-05-11 17:37] tsconn23 commented on #201
It appears the statuses were changed during the initial conversion from Java to Go. Example:

https://github.com/edgexfoundry/core-data-go/blob/master/event.go#L249

To me 404 is more appropriate since we're aware that a value descriptor on the event is not found. By contrast, 409 is as follows:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/409

So again, I think the service logic is ap

[2018-05-11 17:37] tsconn23 commented on #211
@andyf1967

[2018-05-11 17:48] tsconn23 commented on #193
For the core refactor, there's a factory which allows a router to be swapped. If a customer decides to fork the edgex-go repo, they can use that abstraction to put any router they want in place. I don't see there being a standard router due to pros and cons of other possible features like tracing integration and so on which may/may not be appropriate for the target environment.

[2018-05-11 17:49] tsconn23 commented on #188
@andyf1967 Per the Core WG call yesterday, we pushed this to Delhi. When we make this change, it will affect any tests that are expecting 503 status. FYI.

[2018-05-11 21:42] jpwhitemn commented on #192
thanks Vino.  I have forward the issue along with your response up to the board for consideration.  
    On Thursday, May 10, 2018, 9:13:22 PM CDT, vinoyang <notifications@github.com> wrote:

@jpwhitemn AFAIK, many Apache top level such as (Spark, Flink, Beam) they all have not official version for Chinese document. The PMC and community will keep update the official document which is a part of th

[2018-05-12 07:18] yanghua opened #212 "Add license info for some test files in Core service"
there are two test files (validate_test.go and err-not-found.go) in core service has not license info, should be added.

 claim it.

cc @tsconn23 and @drasko

[2018-05-12 11:44] yanghua opened #216 "Drop attribution lines from support service files"
cc @tsconn23 :
shall we do this refactor like core service #213 ?
If need, I claim it.

[2018-05-12 12:29] andyf1967 commented on #188
@tsconn23 got it!

cc @weichou1229 @cloudxxx8

[2018-05-12 17:37] #205 closed

[2018-05-12 17:37] tsconn23 commented on #216
@yanghua Sure, go ahead.

[2018-05-12 23:11] #204 closed

[2018-05-13 04:54] yanghua commented on #212
thanks @tsconn23 closing this...

[2018-05-13 04:54] #212 closed

[2018-05-13 10:14] yanghua opened #218 "Drop attribution lines from export service files"

[2018-05-13 10:20] yanghua opened #220 "Drop attribution lines from files in cmd folders"

[2018-05-13 10:53] weichou1229 commented on #201
@tsconn23
this is data validation error , I think use 400 as bad request is more sensible,
https://tools.ietf.org/html/rfc7231#section-6.5.1

[2018-05-13 13:14] weichou1229 opened #222 "core-data scrub old event had performance problem"
when I compare below two method in java and go version ,
go version may cause performance issue ,
due to it will **select all** event data ,   it might replace with condition `bson.M{"created": bson.M{"$lt": expireDate}`

https://github.com/edgexfoundry/core-data/blob/master/src/main/java/org/edgexfoundry/dao/ScrubDao.java#L59
[code]
https://github.com/edgexfoundry/edgex-go/blob/master/core/data/c

[2018-05-13 13:50] weichou1229 opened #223 "Metadata /api/v1/command Put method error"
run `http://localhost:48081/api/v1/command` with put method will occur error

api request body
[code]
test data in mongo
[code]

error log
[code]

[2018-05-14 07:11] jduranf commented on #222
Talking about increase the performance, why we have to read all events (or partially) and then remove one by one?
Shouldn't be better to just remove the events directly from database? Maybe change EventsOlderThanAge to ScrubEventsOlderThanAge...

[2018-05-14 08:41] yanghua commented on #216
thanks @SteveOss closing this...

[2018-05-14 08:41] #216 closed

[2018-05-14 08:41] yanghua commented on #218
thanks @SteveOss closing this...

[2018-05-14 08:41] #218 closed

[2018-05-14 08:42] yanghua commented on #220
thanks @SteveOss closing...

[2018-05-14 08:42] #220 closed

[2018-05-14 15:03] yanghua commented on #183
hi @tsconn23 can I start this issue, replace the real http request to a mock server ?

[2018-05-14 16:28] tsconn23 commented on #193
@falkerson Routing factory usage is here
https://github.com/edgexfoundry-holding/core-data-refactor/blob/master/core/data/routers/factory.go

This isn't really a hot topic right now. We may have more time to look at this after the California release.

[2018-05-14 22:32] tsconn23 commented on #223
@weichou1229 Please be advised the JSON in the request and sample data is incorrect with regard to the response property. Format should be as follows:

Request
[code]

Sample data
[code]

"response" should be "responses" and its value is an array. "expectedValues" is also an array. These properties would not deserialize until I modified the JSON. You may want to review the commandDb.json file for

[2018-05-14 23:12] yanghua commented on #120
hi @janko-isidorovic if you are busy and have more import things to do, I can try to finish this work.

[2018-05-14 23:15] yanghua commented on #173
hi @jpwhitemn and @tsconn23 is issue will bring a big change, should it waiting for the refactor you are doing?

[2018-05-15 02:11] tsconn23 commented on #173
@yanghua Don't start on this yet please.

[2018-05-15 02:12] tsconn23 commented on #183
@yanghua OK

[2018-05-15 02:17] tsconn23 commented on #211
@andyf1967 @jpwhitemn Guys, my preference here is to leave the Go code as is and change the RAML. I don't see this as a bug. The current behavior is an improvement over the Java services IMHO. I would prefer not to fudge the Go services to make them do what the Java code did for the sake of California only to undo that after June. But, if we leave it and update the RAML, then the Java implementati

[2018-05-15 02:18] tsconn23 commented on #201
@andyf1967 @jpwhitemn Please chime in here. Same type of situation as #211

[2018-05-15 07:41] SteveOss commented on #211
@tsconn23 My preference would be to update RAML and fix Java, i.e. implement the correct behaviour. Is this a lot of work for the Java services?

[2018-05-15 10:02] hyogrin commented on #202
We will start the work from next month(Because of the another biz trip). Let's keep in touch on the rocketchat to talk about technical issues and share the architecture / design documents.

[2018-05-15 11:50] jduranf opened #225 "ThingsBoard IoT export connector"
We are starting to work in a export connector to allow EdgeX to export device data to [ThingsBoard](https://thingsboard.io/) using MQTT and a custom JSON format.
As MQTT is already implemented this connector will only imply add a new format to export-distro, maybe called FormatThingsBoardJSON.
If everything goes fine, we will have this connector implemented in just few days.
Please feel free to ad

[2018-05-15 12:02] drasko commented on #19
@feclare are we closing this one?

[2018-05-15 12:03] drasko commented on #37
Closed due to inactivity.

[2018-05-15 12:03] #37 closed

[2018-05-15 12:04] drasko commented on #76
@jpwhitemn ping

[2018-05-15 14:42] tsconn23 commented on #223
@weichou1229 Now that the PR has been merged, please try again. If you successfully confirm the fix, please close the issue.

[2018-05-15 14:46] tsconn23 commented on #211
@SteveOss It could be as easy as just removing the "return true" from the relevant controller methods.

[2018-05-15 14:50] tsconn23 commented on #19
@drasko I would leave this one open as it corresponds to requirements in the [service naming](https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions?preview=%2F7602423%2F12124315%2FServiceNameDesign.odt) document. I'll put a Delhi tag on it.

[2018-05-15 15:14] andyf1967 commented on #201
Looks to me as though 404 Not Found is the correct error.  I think if not too much work we should fix RAML and update Java code and tests.

[2018-05-15 15:58] tsconn23 commented on #198
FYI, I have a need when addressing Issue #182 whereby it would be useful to have the /internal directory with our current /pkg moved inside of that. The packages in /pkg are not intended for external use and so will be moved to /internal/pkg. See the following:
https://github.com/golang-standards/project-layout/tree/master/internal

Will be submitting PR shortly.

[2018-05-15 22:35] jpwhitemn commented on #76
@drasko - thanks for the ping.  Missed this one.  @yanghua - there does appear to be an inconsistency.  The Java code was using ISO 8601 formats (thus the API documentation).  The Go versions have appeared to abandoned that.  Most of the scheduling is done by frequency (versus start/end) which is why it probably hasn't been detected.  If we can, we should return to the original API documented vers

[2018-05-15 22:43] jpwhitemn commented on #201
Per sites like this one:  http://www.restapitutorial.com/httpstatuscodes.html, 404 would be the correct response as the resource is not found (The requested resource could not be found but may be available again in the future).  Agree with @tsconn23 .  Update the RAML to meet the current Go code.  We'll update the Java code if not too much lift- otherwise record as an issue against the Java servic

[2018-05-15 22:51] jpwhitemn commented on #225
This is great Joan.
 Going forward, we want to make the export distro more modular and scalable so that connectors like this will be easier to put together and also configurable for inclusion or exclusion at deployment time.  But for now, this helps extends EgdeX's reach to more cloud and enterprise platforms.

    On Tuesday, May 15, 2018, 6:50:43 AM CDT, Joan Duran <notifications@github.com> wro

[2018-05-16 19:16] tsconn23 opened #229 "Bug: Metadata/CheckForDevice() returning "Not Found" when device IS found"
Just like it says.

[2018-05-16 19:48] #229 closed

[2018-05-16 22:36] tsconn23 opened #231 "AdminState and OperatingState reported as incorrect if not in all caps"
Checks like these:

https://github.com/edgexfoundry/edgex-go/blob/master/core/domain/models/adminstate.go#L46
https://github.com/edgexfoundry/edgex-go/blob/master/core/domain/models/operatingstate.go#L46

fail when the string being matched to the enum value are not in all caps. For example, in the blackbox testing JSON, the values of these properties are defined like so:

"adminState": "unlocked",

[2018-05-16 23:44] #231 closed

[2018-05-17 01:42] yanghua commented on #183
thanks @tsconn23 , closing this...

[2018-05-17 01:42] #183 closed

[2018-05-17 04:00] jpwhitemn commented on #225
Putting this in the Delhi Milestone, but if it is available for California - more better

[2018-05-17 11:21] yanghua opened #233 "Split ValueDescriptorRestClient's URL property into host and port then hidden the URI path to user"
like support/notification-client

cc @tsconn23 and @drasko

claim it~

[2018-05-17 11:22] yanghua opened #234 "Add more ValueDescriptorRestClient unit test case"
cc @tsconn23 and @drasko

claim it~

[2018-05-17 11:50] yanghua opened #235 "Change device_test from integration test to unit test"
file location: core/clients/metadataclients/device_test.go

cc @tsconn23 and @drasko

claim it~

[2018-05-17 12:50] weichou1229 commented on #223
thx , test ok.

[2018-05-17 12:50] #223 closed

[2018-05-18 00:03] tsconn23 commented on #233
This will be addressed with work that's being done on #182.

[2018-05-18 00:03] #233 closed

[2018-05-18 00:08] tsconn23 commented on #211
@weichou1229 On the Core WG call this morning, we decided we would make a limited change in the Java services to address the above specific cases. That means for these specific cases, the RAML will be updated and the Go code left as is. Post-California, we will address this on a more comprehensive basis. Please adjust tests for the above calls accordingly.

Incidentally, I noticed in some of the m

[2018-05-18 12:16] weichou1229 commented on #211
@tsconn23 ok , I saw `status code indicating success` in RAML , then I will remove two assertion , application/json and boolean value

[2018-05-18 15:07] #211 closed

[2018-05-19 01:51] yanghua opened #241 "Add more device unit test case"
cc @tsconn23 and @drasko
claim it~

[2018-05-19 01:55] yanghua opened #242 "Add unit test for Addressable client"
cc @tsconn23
claim it~

[2018-05-19 01:57] yanghua opened #243 "Add unit test for Device service client"
cc @tsconn23
claim it~

[2018-05-19 01:58] yanghua opened #244 "Add unit test for Device Profile client"
cc @tsconn23
claim it~

[2018-05-19 16:32] tsconn23 commented on #242
https://github.com/edgexfoundry/edgex-go/pull/240#issuecomment-390415608

[2018-05-19 16:32] #242 closed

[2018-05-19 16:33] tsconn23 commented on #241
https://github.com/edgexfoundry/edgex-go/pull/240#issuecomment-390415608

[2018-05-19 16:33] #241 closed

[2018-05-19 16:33] tsconn23 commented on #243
https://github.com/edgexfoundry/edgex-go/pull/240#issuecomment-390415608

[2018-05-19 16:33] #243 closed

[2018-05-19 16:33] tsconn23 commented on #244
https://github.com/edgexfoundry/edgex-go/pull/240#issuecomment-390415608

[2018-05-19 16:33] #244 closed

[2018-05-20 17:43] tsconn23 opened #245 "Microservice Naming -- Format edgex-<layer>-<name>"
As found in the ServiceNameDesign document:

https://wiki.edgexfoundry.org/display/FA/Architecture+Issues+and+Decisions#ArchitectureIssuesandDecisions-ServiceIdentifiers

(Page 2)
b.	The proposed standard of the service API set name (aka service name) is edgex-<layer>-<name>. Examples:  edgex-core-data, edgex-device-modbus, etc.  TSC must govern the names of services (agreeing to the names of any

[2018-05-21 22:40] tsconn23 commented on #234
not at this time

[2018-05-21 22:40] #234 closed

[2018-05-21 22:40] tsconn23 commented on #235
not at this time

[2018-05-21 22:40] #235 closed

[2018-05-21 22:42] #201 closed

[2018-05-21 22:42] #131 closed

[2018-05-21 22:43] #173 closed

[2018-05-21 22:43] #128 closed

[2018-05-22 01:30] yanghua commented on #76
Have made sure the issue exists, so when support schedule module been reviewed and merged, I would fix it's time problem. Now closing it...

[2018-05-22 01:30] #76 closed

[2018-05-22 07:16] #225 closed

[2018-05-22 07:20] jduranf commented on #76
@yanghua any idea when the support schedule module will be merged?

[2018-05-22 09:30] yanghua commented on #76
hi @jduranf it seems we need to wait until core service refactor completely.

[2018-05-22 09:51] jduranf commented on #76
ok, thank you!

[2018-05-22 20:07] #245 closed

[2018-05-22 20:10] tsconn23 commented on #57
@jpwhitemn Should we move this tag out to "delhi"?

[2018-05-23 17:55] tsconn23 opened #252 "Refactor metadata-clients.go Into Respective Client Files"
All of the interfaces and implementations for the metadata clients are clumped together in one file. Separate them out for clarity in organization.

[2018-05-23 20:22] drasko opened #254 "Switch to go dep"
Go [dep](https://github.com/golang/dep) is an official Go vendoring tool tad became suitable for production use.

Switch from `glide` should be fairly easy.

[2018-05-23 20:22] drasko opened #255 "Switch to Go dep"
Go [dep](https://github.com/golang/dep) is an official Go vendoring tool tad became suitable for production use.

Switch from `glide` should be fairly easy.

[2018-05-24 05:31] falkerson commented on #255
@drasko minor note: it's not official yet but 'official experiment' https://github.com/golang/dep#dep.

From https://github.com/golang/dep/wiki/Roadmap:

`Please remember that finishing these issues does not guarantee dep will be accepted. No external code of this size or significance has ever been pulled into the Go toolchain before, so everyone's kind of playing it by ear.`

[2018-05-24 05:35] falkerson commented on #255
But Glide is suggesting users to migrate from Glide to dep: https://github.com/Masterminds/glide#golang-dep

[2018-05-26 19:38] #252 closed

[2018-05-28 15:05] yanghua opened #263 "Add metrics for Edgex to enhance the system monitor"
**Metrics** and **Log** are two basic parts of a stable system. For enhancing the EdgeX's stability we should consider to monitor it in the future. The monitor would need to be provided metrics. So we should introduce the metrics infrastructure for it.

There are a few scenario where we could add metrics:

* device data import count / rate;
* support notification count / schedule count (trigger co

[2018-05-28 19:04] drasko commented on #263
@yanghua good point here.

In Mainfllux we use metrics (and logs of course) for every service, something like this: https://github.com/mainflux/mainflux/blob/master/http/api/metrics.go, and those are then exported to Prometheus. We are using [go-kit metrics](https://godoc.org/github.com/go-kit/kit/metrics) because we are using go-`kit` in Mainfux, but `go-metrics` looks like a nice package and a g

[2018-05-29 15:25] yanghua commented on #263
@jpwhitemn if this idea been accepted, I will try to contribute a input plugin to [Telegraf (The plugin-driven server agent for collecting & reporting metrics)](https://github.com/influxdata/telegraf) for EdgeX. This work will promote EdgeX's connectivity with other ecosystem and make EdgeX easy to monitor.

[2018-05-29 16:00] cloudxxx8 opened #264 "core-domain the data type of attributes field in DeviceObject is not generic "object""
In the original data model design, the data type of attributes field in DeviceObject is a generic "object".
In the current source code, it is map[string]string, which restrict the extension capability of data model.
https://github.com/edgexfoundry/edgex-go/blob/master/core/domain/models/deviceobject.go

Different kinds of device resource might need different kinds of attributes.
map[string]string

[2018-05-29 16:36] dylanhantula opened #265 "Add clients to interact with core-data service"
There is currently a client for getting, posting, and updating value descriptors in the core-data service - it can be found at _edgex-go/core/clients/coredata/coredata-clients.go_. In my own projects, I have used this client when creating device service applications to make registering value descriptors easier. There are similar clients in core-metadata for interacting with addressables, commands,

[2018-05-30 16:10] tsconn23 commented on #265
As a follow-up, I acknowledge that we are handling external calls by deserializing raw JSON within EdgeX to our internal domain models today. For example:

_/edgex-go/core/metadata/rest_addressable.go_
[code]

This isn't really good practice.

[2018-05-30 20:40] tsconn23 commented on #264
@cloudxxx8 Is there a specific test case where you came across this issue? Golang doesn't have an object type in the same manner as Java. If you have a specific use case, we can look at it to try and devise a solution.

[2018-05-30 23:08] #255 closed

[2018-05-31 15:54] cloudxxx8 commented on #264
@tsconn23
We are using different kinds of devices and protocols, and they all have different attributes.  We need the capability to extend the domain model to fit the variety of IoT requirement.  The attribute might numeric type, an array, or another object.  I believe lots of users will encounter the same issue.
In order to set it as generic object in golong, we can simply use map[string]interfac

[2018-05-31 15:57] cloudxxx8 commented on #264
@tsconn23
In Device and DeviceProfile domain model, we have already used interface{} for location and objects field
https://github.com/edgexfoundry/edgex-go/blob/master/core/domain/models/device.go
https://github.com/edgexfoundry/edgex-go/blob/master/core/domain/models/deviceprofile.go

[2018-05-31 19:30] tsconn23 commented on #264
@cloudxxx8 Since you have an approach and know how to duplicate the error condition, do you want to make that code change, test it and then submit a PR? Sounds like a 1 line change.

[2018-05-31 20:40] jduranf commented on #187
All points done!

[2018-05-31 20:40] #187 closed

[2018-06-01 04:31] devFallingstar commented on #192
@jpwhitemn Can I know the current progress?

[2018-06-01 10:57] cloudxxx8 commented on #264
ok, please assign this issue to me.
I will run the unit test and black box test to make sure it works fine before creating the pull request

[2018-06-01 13:07] cloudxxx8 commented on #264
@tsconn23
please help review the change, thanks
https://github.com/edgexfoundry/edgex-go/pull/275

[2018-06-01 16:50] #222 closed

[2018-06-01 17:34] tsconn23 commented on #264
Merged. Thanks.

[2018-06-01 17:34] #264 closed

[2018-06-01 18:14] tsconn23 commented on #182
This should now be addressed for all service clients used internally by EdgeX

[2018-06-01 18:14] #182 closed

[2018-06-04 23:26] tsconn23 opened #278 "BUG: Reinstate Deleted Clients -- Command, Device Profile, Addressable"
@tonyespy Has made it explicitly clear to me that I've broken his hard work on the device services due to the removal of the above clients. Even though these clients aren't used internally by the EdgeX platform and thus their absence doesn't affect the operation of the microservices, the clients are used by external applications such as the Device Service.

We have discussed reinstating these clie

[2018-06-05 21:46] #278 closed

[2018-06-05 22:02] tsconn23 commented on #189
Per our Device Service meeting yesterday, I believe we have decided to deprecate this functionality in order to prevent more than one source of truth for device/schedule definitions. @jpwhitemn @tonyespy please correct me if I'm wrong.

[2018-06-05 23:11] tonyespy commented on #265
As mentioned yesterday during our devices f2f meeting, I'd actually started working on an Core Data events REST endpoint for my Go device SDK work, so it's great to find out that there's some existing code to handle this. @tsconn23 What needs to happen to land this code?

[2018-06-06 15:27] yanghua opened #280 "Integrate go report card service to give a check and add a badges for the project"
here is a report about edgex-go : https://goreportcard.com/report/github.com/edgexfoundry/edgex-go

cc @jpwhitemn @drasko

[2018-06-06 17:33] tsconn23 commented on #280
I don't particularly see an action item here. It's a nice tool that we can run on the fly but this looks to me like an FYI rather than an issue to be solved. Could be shared via EdgeX-GoLang mailing list or, alternatively, RocketChat.

[2018-06-06 17:49] drasko commented on #280
@yanghua @tsconn23 I would like that we add this badge to our GitHub README.

@yanghua we need too do the linting first and push this to A+.

[2018-06-06 20:46] tsconn23 commented on #280
I do not want a series of tiny code formatting changes interleaving with PRs to support the Delhi roadmap.

[2018-06-06 23:05] drasko commented on #280
@tsconn23 are you proposing that we whould reject this task and close the issue?

Our code is not linted: https://goreportcard.com/report/github.com/edgexfoundry/edgex-go#golint and having a badge on the GitHub page that shows A+ would be more attractive for contributors.

How do you propose that we do these code improvements, which are not big issues/milestones for Delhi? We just reject them and

[2018-06-06 23:16] tsconn23 commented on #280
@drasko Taking examples from #194 and #198 PRs have been submitted toward California goals which include refactoring that moves us toward the goals outlined in these recommendations. Why can't this issue be addressed the same way?

OR, if you like, why not close this umbrella topic (which I maintain would be more relevant as a topic on a mailing list or Rocket Chat) and create an issue for each fi

[2018-06-07 02:03] yanghua commented on #280
I think open a issue is also a way of discussing.

Most popular Go projects have this badge, such as :

* [openfaas](https://github.com/openfaas/faas)
* [influxdb](https://github.com/influxdata/influxdb)
* [beego](https://github.com/astaxie/beego)
* ....

Does this a disincentive problem need to be discussed? Actually, I think it is an obvious improvement for EdgeX.
As @drasko said, this is good f

[2018-06-07 04:15] tsconn23 commented on #280
@yanghua Well which one is it -- Add the badges or address the linting? The subject line of this issue covers both, but there's a new PR #281 that only adds a badge to the Readme. This illustrates what I'm saying. I request to close this issue and create one for the badge. Associate PR #281 to it. Then create an issue for each file in which you plan to address the linting defects.

[2018-06-07 04:52] yanghua commented on #280
hi @tsconn23 maybe my expression is poor. The issue's original goal is add a badge. the keyword "integrate" means use go report card's service to scan and give us a report. But the discuss between you and drasko mention the 'linting' so I was brought into it.

if the PR #281 be merged, I will close this issue. And then open another issue to discuss the linting , check tools and code quality. That

[2018-06-07 14:47] tsconn23 commented on #280
@yanghua @drasko Once PR #281 is merged, then please close this issue. Going forward, subsequent edits to address the linting should have their own issues. Thanks.

[2018-06-07 15:17] tsconn23 opened #282 "Remove All Heartbeat Logging Messages from Services"
It was decided during the Palo Alto F2F that we would remove the heartbeat logging messages from all services. Heartbeats are triggered in each service's main.go and implemented in internal/pkg/heartbeat.

[2018-06-07 15:19] tsconn23 opened #283 "Remove Unused Schedule Property from domain/models/event.go"
This property was added to the model by mistake during the Java --> Go conversion. It is handled and persisted to the DB but its value is always empty. It shouldn't be present on the event, so we need to remove it and any associated handling.

[2018-06-07 15:29] tsconn23 opened #284 "RAML Audit for Current Service Operations"
During the Java --> Go conversion, the definition and behavior of certain endpoints within the EdgeX microservices changed but the RAML spec was not updated. An audit needs to be performed in order to ensure the implementation conforms to the spec. Coordination with blackbox testing team will be necessary as tests are based on the RAML and, for example, some tests currently fail even though the AP

[2018-06-07 15:35] tsconn23 opened #285 "MongoDB Container XFS Warning Message"
During startup, the MongoDB Docker container produces the following warning:

2018-06-06T18:49:18.671+0000 I STORAGE  [initandlisten] ** WARNING: Using the XFS filesystem is strongly recommended with the WiredTiger storage engine
2018-06-06T18:49:18.671+0000 I STORAGE  [initandlisten] **          See http://dochub.mongodb.org/core/prodnotes-filesystem

This is largely harmless but could be concern

[2018-06-07 15:53] SteveOss commented on #285
As an alternative could configure Mongo to use the mmap backend storage system by
running the daemon with "--storageEngine mmapv1" Might be a better choice for non
XFS file systems?

[2018-06-07 16:21] yanghua opened #286 "Introduce Codeclimate to improve code quality"
hi @drasko and @tsconn23 ,

based on the discussion in issue #280 , I find a tool name [Codeclimate](https://docs.codeclimate.com/)  which may be suitable for us.

It contains many engines(plugins), [one](https://docs.codeclimate.com/docs/golint) of the plugins is [golint](https://github.com/golang/lint) .

I have two basic requirement :

* a CLI : can run and do local check before making a PR and

[2018-06-08 04:38] yanghua commented on #280
@drasko and @tsconn23 thanks, more discussion about code quality and code linting we can go into issue #286 , closing this issue mapping the merged PR #281

[2018-06-08 04:38] #280 closed

[2018-06-08 04:40] yanghua commented on #283
@tsconn23 can I claim this issue?

[2018-06-08 04:41] yanghua commented on #282
@tsconn23 can I claim this issue?

[2018-06-08 08:55] alcheagle opened #287 "docker compose not working"
The `docker-compose.yml` file is not working since it is trying to pull images with `latest` tag, but some of them doesn't have it.
I would suggest to push images on docker hub adding a `latest` tag.

A temporary workaround for whoever is facing my same issue is to specify the version for the images which doesn't have that tag:
[code]

[2018-06-08 13:21] tsconn23 commented on #287
@jpwhitemn @JPWKU

[2018-06-08 13:27] JPWKU commented on #287
@alcheagle Can you link me to the docker-compose.yml you are using?

[2018-06-08 13:30] JPWKU commented on #287
@alcheagle It is recommended to use this one https://github.com/edgexfoundry/developer-scripts/blob/master/compose-files/docker-compose-california-0.5.2.yml

[2018-06-08 16:29] tsconn23 commented on #286
Can we please move these kind of proposal discussions to the email list and use issues for discrete work items?
EdgeX-GoLang@lists.edgexfoundry.org

[2018-06-08 16:29] #286 closed

[2018-06-08 19:30] #265 closed

[2018-06-08 19:32] tsconn23 commented on #283
@yanghua Yes, that's fine.

[2018-06-08 21:56] jduranf opened #290 "Refactor database client in core-metadata"
Should be fine to refactor database client in core-metadata using an interface like it's done in core-data and in export-client.

If it's fine, I can do it.

[2018-06-08 22:38] jduranf opened #291 "Add lightweight alternative to MongoDB in core-data"
The actual databases in core-data are MongoDB, which doesn't work in arm 32 bits devices and also uses 1GB hard disk only to create all needed collections, and InfluxDB, which have a very low performance compared to MongoDB, specially in a device with few resources. So should be fine to add a lightweight alternative for devices with few resources.

After analyze and test different options (MongoDB

[2018-06-09 02:29] yanghua commented on #57
@tsconn23  I think it is not belongs California Milestone so you can mark as "delhi".

[2018-06-09 08:49] jduranf commented on #290
@feclare Great!
Please, let me know if I can help in anything.

[2018-06-09 17:19] jpwhitemn commented on #291
@jduranf - it was decided at this past week's face-to-face TSC meeting that EdgeX will indeed find a replacement for the current reference implementation using Mongo.  Work is ongoing to help provide more loose coupling in the Go code around resources like the database.  This will be done for Delhi.  We also made plans to  complete a research on options and alternatives with a decision to be made

[2018-06-09 18:02] alcheagle commented on #287
Thank you for the answer. I forgot to mention that the `docker-compose` I was using is: `docker/docker-compose.yml` in this repository. This "modified" version basically is that file with the version tag `0.2.1` specified in the images I put in the issue. As I said I would suggest to put the `latest` tag when pushing the images on docker hub.

[code]

[2018-06-09 21:29] jduranf commented on #291
@jpwhitemn thank you for your feedback!

My idea isn't to replace Mongo, I think Mongo is a valid option for a device with normal resources (although in the benchmarks I performed doesn't seems to have good results in some tests). I think should be fine to have two databases options, Mongo and another lightweight alternative.

Also my company can't wait for Edinburgh to have a Mongo replacement, s

[2018-06-10 09:30] drasko commented on #291
@jduranf a few questions:
- What made you discard PostgreSQL?
- Bolt vs Badger?
- Redis?

[2018-06-10 21:22] jduranf commented on #291
@drasko
- I also tried PostgreSQL, but have worst results compared with MariaDB, except when adding an event or reading:
![benchmark2](https://preview.ibb.co/i8hhHo/bench2.png)
- Badger is very similar to Bolt, and some benchmarks say it's faster when adding values, but Badger doesn't have buckets (is a kind of collections), and Badger doesn't work in arm 32 bits (I tried it).
- I didn't thought a

[2018-06-11 01:09] tsconn23 commented on #291
w/r/t Redis, members of their tech staff were at the F2F last week. They are interested in contributing a provider to the project. They plan to  start on that after the California release is out.

[2018-06-11 16:04] tsconn23 commented on #290
Closing this issue as per the email threads this morning, @feclare is well underway here.

[2018-06-11 16:05] #283 closed

[2018-06-11 16:05] tsconn23 commented on #282
@yanghua Go ahead.

[2018-06-11 16:07] tsconn23 commented on #263
Closing this issue per further discussion via Core WG and System Mgmt WG. There are several actionable items here which can be re-added to the issues list once we have decided on directions via the working groups.

[2018-06-11 16:07] #263 closed

[2018-06-11 16:08] tsconn23 commented on #198
Closing this issue as it isn't a specific actionable item, but has informed several PRs since its creation and will be taken under advisement during Delhi refactoring efforts.

[2018-06-11 16:08] #198 closed

[2018-06-11 16:10] tsconn23 commented on #195
Closing this issue as its recommendation is being incorporated into PRs going forward, not as a single repo-wide change.

[2018-06-11 16:10] #195 closed

[2018-06-11 16:11] tsconn23 commented on #194
Closing this issue as the recommendation is being applied to PRs going forward, and not as a single actionable change across the repo.

[2018-06-11 16:11] #194 closed

[2018-06-11 16:24] tsconn23 commented on #290
Actually, will assign to @feclare so that he can associate with the relevant PR when ready.

[2018-06-12 10:36] drasko commented on #291
@tsconn23 @jduranf this is exactly why I mentioned Redis :)

@jduranf maybe I understand something on your diagram, but Postgres show pretty good performance here, better than MariaDB and better than BoltDB.

I'd say that SQLite also shows pretty good performance.

Benefits of having Postgres comparing to Bolt is that Postgres is full SQL DB that can work in variety of deployments, and can do comp

[2018-06-12 10:36] drasko commented on #291
@tsconn23 @jduranf this is exactly why I mentioned Redis :)

@jduranf maybe I understand something on your diagram, but Postgres show pretty good performance here, better than MariaDB and better than BoltDB.

I'd say that SQLite also shows pretty good performance.

Benefits of having Postgres comparing to Bolt is that Postgres is full SQL DB that can work in variety of deployments, and can do comp

[2018-06-12 11:14] jduranf commented on #291
@drasko I think you understand wrong my diagram (or I didn't explain correctly), in the diagram you see the time to perform the operations (1000 times each one) in microseconds, so less time is better Also take in account is a logarithmic diagram. This are the values used to create the diagram:

  | MongoDB | InfluxDB | BoltDB | MariaDB | SQLite | PostgreeSQL
-- | -- | -- | -- | -- | -- | --
AddRe

[2018-06-12 14:48] drasko commented on #291
@jduranf thanks a lot for these clarifications and benchmarks - extremely useful.

Regarding Postgres - not everything is in pure performance, there is a lot in database functionality, as I said. It should be also noted that [Cockroach DB](https://www.cockroachlabs.com/) uses Postgres `pq` driver, so it can be in-place replacement when some more scalable deployments are needed (in the cloud). It i

[2018-06-12 14:51] SteveOss commented on #291
@jduranf Great stuff.

Would also be good to know image size and memory usage for each of the alternatives.

[2018-06-12 15:45] jduranf commented on #291
@drasko As you said, not everything is performance, and I'm sure lots of the benchmarks results can be improved (i.e. which is the point to read 1000 events, if there is a limit of 100 and everything is discarded?)
Also I confirm to you that MariaDB and SQLite have the same interface, and maybe SQLite is a good option for gateways, but SQLite requires CGO, and I think this should be avoided.

@Ste

[2018-06-12 15:58] yanghua opened #293 "Introduce topic from edgex-go repository"
Now, Github can mark topic for repository, see here : https://blog.github.com/2017-01-31-introducing-topics/

I suggest to mark some topics for this repository, to let more users search edgex-go.

Potential topics like 'IoT', 'Edge Computing', 'Golang', 'microservice' and so on. Choosing what you want to mark like this project : https://github.com/openfaas/faas

cc @jpwhitemn @drasko and @tsconn23

[2018-06-12 16:12] SteveOss commented on #291
@jduranf If the database image uses another base image (not Alpine) then this can add a fair bit of image size overhead.

[2018-06-12 16:37] tonyespy opened #294 "[export-client] Can't connect to database, service won't start"
I've been working on publishing an updated version of my edgexfoundry-core snap to the 'cali' track in the snap store.  Today I updated the edgex-go part in the snap to pull latest (I haven't pinned it to a commit yet):

https://github.com/tonyespy/edgex-core-snap/commit/aedccf3fcc0fbe71650ce5d74801702464513924

After rebuilding the snap, and installing locally on an Ubuntu 16.04 LTS amd64 machine

[2018-06-12 16:48] feclare commented on #294
Check the configuration file. There is a ```DBType = 'mongodb'```  in https://github.com/edgexfoundry/edgex-go/blob/master/cmd/export-client/res/configuration.toml that is needed.

[2018-06-12 17:10] tonyespy commented on #294
@feclare Thanks for the response! Shouldn't this setting have been imported into consul by core-config-seed, or maybe the issue is that Consul settings support in export-client/-distro isn't fully working yet?

[2018-06-12 17:43] feclare commented on #294
Probably it is missing. I don't know if someone is keeping track of the changes to the configuration files to update them in core-config-seed-go.
What I don't know is why core-config-seed-go lives in its own repo instead of edgex-go. It is harder to maintain this way.
@jpwhitemn @tsconn23 Any reason to have it in a different repo?

[2018-06-12 18:31] tonyespy commented on #294
@feclare It's been like this for awhile...  That said an effort is underway to move us to a new Go-based config-seed service which I understand will be part of the mono repo.  So let's leave this issue open for now and close it if/when we've verified that it works with the new Go config-seed.

In the meanwhile, I'll change my snap to use local configuration.

[2018-06-12 21:10] tsconn23 commented on #282
Audit anything that imports internal/pkg/heartbeat

[2018-06-12 21:11] jpwhitemn commented on #293
Hi Vino - as always thanks for your ideas and suggestions.  If you could please, submit this suggestion to the EdgeX email reflector lists and the appropriate EdgeX Rocket Chat channels.  Suggestions like this require more eyes to consider the idea and provide feedback.  GitHub issues should be used when there is a bug fix, required enhancement or approved feature that needs to be assigned and wor

[2018-06-12 21:11] #293 closed

[2018-06-12 21:11] tsconn23 commented on #294
@xmlviking for visibility

[2018-06-13 00:00] yanghua commented on #293
Hi @jpwhitemn some suggestion I did though forum. But seems the Edgex's forum can not ping someone and the discussion is few. And about Rocket Chat channels, many people did not login in.
I think this issue is an obvious suggestion and not about the edgex feature and code. It's just about the Github. And I thought it's a short and quick process. Drasko and  Tsconn are always online, so they can do

[2018-06-13 07:11] alcheagle commented on #287
Thank you for the answer. I forgot to mention that the `docker-compose` I was using is: `docker/docker-compose.yml` in this repository. This "modified" version basically is that file with the version tag `0.2.1` specified in the images I put in the issue. As I said I would suggest to put the `latest` tag when pushing the images on docker hub.

[code]

[2018-06-13 11:12] itamarhaber commented on #291
@jduranf amazing stuff :)

How can we go about adding Redis to your diagram and measurements? I'd be happy to implement the thing if you'll point me in the right direction.

[2018-06-13 11:37] SteveOss commented on #291
@itamarhaber Might be worth holding on this as I think the Redis guys themselves are planning to contribute a Redis port.

[2018-06-13 11:43] drasko commented on #291
@SteveOss actually @itamarhaber looks like Redis guy ;).

And I guess he demanded access to benchkmarking code from @jduranf so he can add Redis metrics.

[2018-06-13 12:05] itamarhaber commented on #291
Exactly what @drasko said, but demanded is too strong of a word IMO - I asked for help :)

My plan is to:
1. Get edgex-go up and running locally - done.
2. Implement redis-client - in progress.
3. Add it to @jduranf benchmark somehow.

Would appreciate any pointers WRT 2 and 3.

[2018-06-13 12:07] #101 closed

[2018-06-13 12:08] yanghua commented on #179
@tsconn23 this one can be closed, the PR #261 has been merged~

[2018-06-13 12:08] jduranf commented on #291
@itamarhaber should be great to add Redis in the benchmark!
In order to add Redis you should create an interface for Redis in /core/data/clients, like it's done with [Mongo](https://github.com/edgexfoundry/edgex-go/blob/master/core/data/clients/mongo-client.go), [Influx](https://github.com/edgexfoundry/edgex-go/blob/master/core/data/clients/influx-client.go) or [Memory](https://github.com/edgexfou

[2018-06-13 12:11] yanghua commented on #120
@janko-isidorovic if you are busy, I can take this one~

cc @jpwhitemn @drasko and @tsconn23

[2018-06-13 12:21] janko-isidorovic commented on #120
Thanks for your help @yanghua , please do so.

[2018-06-13 12:34] janko-isidorovic commented on #179
Done via  #261

[2018-06-13 12:34] #179 closed

[2018-06-13 13:39] itamarhaber commented on #291
@jduranf thanks!

I'm working along this path (i.e. I think I have createNewClient and maaaybe closeSession ;)) - I'll try to complete the musts based on the benchmark and share with you asap.

I'm itamar at redislabs dot com - can't seem to find yours.

[2018-06-13 17:34] jpwhitemn commented on #287
@alcheagle - appreciate your comments.  The docker-compose.yml file is referring to the latest Java artifacts in many cases.  As you may know, the project has been working on Go replacements.  Until we get the California release out, many of the "latest" services are not even in Docker Hub yet.  So unfortunately, you have caught the project between Java and Go where "latest" has some different mea

[2018-06-13 17:35] jpwhitemn commented on #287
I am leaving this issue open for now, but claim it and will address it once we have California out and the appropriate docker compose files can be updated and/or (re)created

[2018-06-13 17:40] jpwhitemn commented on #192
Still waiting word from the board level on this @devFallingstar.  I will report as soon as I have feedback and direction.

[2018-06-13 17:46] jpwhitemn commented on #197
Yes - this a duplicate to #102.  Annotating and closing as such.  For what it is worth, we did decide at latest F2F to design new application services for Delhi with implementation scheduled for Edinburgh release.  Whether we add ZeroMQ into current export services (or only do as part of application services) would depend on needs and availability of resources.

[2018-06-13 17:46] #197 closed

[2018-06-13 22:41] #282 closed

[2018-06-13 22:46] tsconn23 opened #300 "Incorrect ReadLimit Key in Core-Command Configuration TOML"
The configuration files for cmd/core-command have an incorrect key "ReadLimit". This should be "ReadMaxLimit". The effect is that the ReadMaxLimit property value on the ConfigurationStruct is always zero.

[2018-06-14 14:52] tsconn23 commented on #291
@itamarhaber Before you start in earnest on this, I request that you review the work done in PR #298. This PR will go in after the California release. @feclare reorganized the package structure w/r/t database providers, clarified interface definitions and reworked how package-specific factories initialized DB providers. You will want your Redis client to fit into this structure. Core-data and core

[2018-06-14 14:56] itamarhaber commented on #291
@tsconn23 thanks for the tip - I'm working with the current unstable just so we can do a quick benchmark. Once things are sort-of-working, I'll refactor according to the new structure.

[2018-06-14 15:38] yanghua commented on #300
hi @tsconn23 if you are busy, I can take this one~

[2018-06-14 22:37] #100 closed

[2018-06-14 23:07] tsconn23 commented on #300
@yanghua OK

[2018-06-15 16:10] tsconn23 opened #303 "Display code coverage percentage during "make test""
Please add display of code coverage percentage for each package covered by "make test"

[2018-06-17 00:00] #303 closed

[2018-06-17 00:00] tsconn23 commented on #300
@yanghua We'll be cutting the California branch soon. Will you be able to take care of this by Monday?

[2018-06-17 00:36] yanghua commented on #300
Yes. I will fix it soon.

[2018-06-17 14:28] yanghua commented on #120
@tsconn23 this issue can be closed~

[2018-06-17 15:28] #120 closed

[2018-06-17 15:28] #300 closed

[2018-06-19 14:55] brandonforster opened #308 "export-distro fails to start and fills log with parsing failure message"
Running the services locally with a local MongoDB on Ubuntu 18.04 LTS, I receive this message (repeated forever) when starting `export-distro`:

`{"level":"warn","ts":1529418445.5104675,"caller":"distro/client.go:44","msg":"Could not parse json","error":"invalid character 'o' in literal null (expecting 'u')"}
{"level":"info","ts":1529418445.5105236,"caller":"distro/registrations.go:242","msg":"Wai

[2018-06-19 15:44] yanghua commented on #112
@jpwhitemn if you are busy, I can help to implement it~

[2018-06-19 17:02] tsconn23 commented on #308
@brandonforster Did you run the init_mongo.js script found here?

https://github.com/edgexfoundry/developer-scripts/blob/master/init_mongo.js

cd into developer-scripts. Assuming mongo is on your path, type "mongo init_mongo.js" then try to start the service again.

[2018-06-19 17:13] akramtexas commented on #112
Making a note of this TODO, thanks! @tsconn23 @jpwhitemn

[2018-06-19 17:37] brandonforster commented on #308
@tsconn23 Yes. I ran the init script without authentication, shutdown the DB, then restarted it with authentication as the instructions directed me to.

[2018-06-19 19:04] tsconn23 opened #310 "Remove "From Scratch" from edgex-support-logging Docker file"
Right now, one can't open a shell into the edgex-support-logging container when it's running. This seems to be because of the `FROM scratch` definition in the Docker file.

https://github.com/moby/moby/issues/17896

We will remove it. If that fixes the issue, then we should eliminate this line from any other Dockerfiles.

[2018-06-20 05:55] feclare commented on #308
@brandonforster You can also try to use the mongo docker. In edgex-go/docker you can run the command:
```docker-compose up -d mongo```

[2018-06-20 11:09] yanghua opened #313 "Use Consul Watches to support configuration change awareness"
Consul Watches API : https://www.consul.io/docs/agent/watches.html
We should support the microservice aware the configuration dynamic change.

This can be a part of Delhi version. I can claim it.

cc @tsconn23 and @drasko

[2018-06-20 13:51] brandonforster commented on #308
Right, and I will to get up and going, but isn't running the MongoDB
natively a supported configuration?

On Wed, Jun 20, 2018 at 1:55 AM Fede Claramonte <notifications@github.com>
wrote:

[2018-06-20 17:15] jpwhitemn commented on #308
Brandon, while you are correct that we should be able to run MongoDB natively or in Docker form, let's see what happens if MongoDB is running in Docker form and we point all services to Dockerized Mongo.  That would help eliminate something in the service as the issue if it works and narrow it to something in your local Mongo setup.  If it still doesn't work, then we know is something in the servi

[2018-06-21 15:00] tonyespy opened #314 "Improve core/domain/models JSON encoding"
We recently made a change to the return value of device-service command REST endpoints, which now return Events and Readings instead of ResponseObject(s). The current JSON encoding of our core/domain/models struct is generating JSON which includes all members of a struct vs. only including required members and members with non-zero (for the type) values.

e.g.

`{"id":"","pushed":0,"device":"XDK01

[2018-06-21 17:49] davidmsh opened #315 "export distro won't mark an event as pushed after it's sent to its destination"
export distro in Go won't mark an event as pushed after it's sent to its destination as its Java counterpart does. We had some client need this pushed time for some benchmarking purposes. I think we should probably add it in go version of edgex. Also we probably want to make this feature configurable to avoid unnecessary service invocation and database updates when pushed are not really useful in

[2018-06-21 18:14] davidmsh opened #316 "PUT requests to /api/v1/event/id/{id} will only update pushed timestamp for event not its readings"
Put method of /api/v1/event/id/{id} behave differently than its Java counterpart  in that it won't update pushed timestamp for readings belong to an event, only the ts on the event itself will be updated.
markPushed() method in src/main/java/org/edgexfoundry/controller/impl/EventControllerImpl.java will iterate through each reading and update its pushed ts.
From core-data.raml, it states "Update t

[2018-06-22 11:28] yanghua commented on #316
@tsconn23  Can I claim it? Did the California version's branch been cutting?

[2018-06-22 11:32] yanghua commented on #310
if you are busy, I can take this~ cc @tsconn23

[2018-06-23 02:32] yanghua opened #318 "Logging submodule under support module missed a Attribution.txt file"
will add soon~

[2018-06-23 03:18] yanghua opened #320 "Rename notificationsHttpClient to notificationsRestClient"
cc @tsconn23

[2018-06-23 03:26] yanghua opened #321 "Add a test for core/clients/command/command.go client"
cc @tsconn23

[2018-06-23 03:28] yanghua opened #322 "Add a test for addressable client under core/clients/metadata"
cc @tsconn23

[2018-06-23 03:29] yanghua opened #323 "Add a test for device profile client under core/clients/metadata"
cc @tsconn23

[2018-06-23 09:55] jduranf opened #324 "Add more methods in device profile client"
Device service need more device profile client methods (core/clients/metadata/device_profile.go), specially query device profiles. Currently only Add method is implemented.
If there is no problem, I will work on it

[2018-06-23 09:57] jduranf commented on #323
@yanghua I will working in add more methods in device profile (#324), so maybe should be better if I implement this PR

[2018-06-23 11:08] yanghua commented on #323
@jduranf OK, you got it. Go ahead~

[2018-06-24 08:24] yanghua opened #325 "Support notifications-client README document should be updated"
the notification client's implementation has been refactored, but the readme file has not been updated.

I claim it~ cc @tsconn23

[2018-06-24 08:25] yanghua opened #326 "Support scheduler-client README document should be updated"
the same reason like issue #325

cc @tsconn23

[2018-06-25 15:28] tsconn23 commented on #324
@jduranf Can you please make the title of this issue more specific? Also, can you enumerate the methods you plan to add and provide a summary of what they're for?

[2018-06-25 20:47] jduranf commented on #324
@tsconn23 I'm helping @tonyespy in gxds. When the device service starts, it needs to retrieve the device profiles used by the devices which use the device service. So the idea it's to modify the device profile in order to have those methods:
[code]

[2018-06-25 21:24] tonyespy opened #328 "export-* services don't support standard log settings"
The export services in the California release use a different logging package (go.uber.org/zap)
than all the other services, therefore it's not possible to configure their logging behavior via consul or local configuration settings.

The snap build configures all of the service to write out log files to a **$SNAP_COMMON** (a write-able directory shared by all versions of the snap), but since the e

[2018-06-26 19:44] tonyespy opened #334 "export-client and export-distro are missing Attribution.txt"
Both export-client and export-distro are missing third party Attribution.txt files containing third party package names and licenses.  These files are included in all the core services.

This being reported against commit: e2f3f75

[2018-06-26 19:51] tsconn23 commented on #310
As discussed during Core WG call on 21-Jun-2018 this isn't a bug, but a feature. Decision was made to relook at writing to a directory linked to a location on a common volume.

[2018-06-26 19:51] #310 closed

[2018-06-26 19:53] tsconn23 commented on #308
@brandonforster Is this still a problem or can it be closed?

[2018-06-26 19:54] tsconn23 commented on #189
Closing since no feedback to the contrary.

[2018-06-26 19:54] #189 closed

[2018-06-26 22:27] carmelomigliore opened #335 "core-command metadata command client uses wrong URL"
Hi, I noticed that the core-command metadata command client utilizes the wrong URL. In particular, it uses the metadata device URL and this leads to an error, because it looks for commands in the device collection of the metadata DB. In order to fix this issue it should be sufficient to set the right URL in the "params" variable in the init.go file of core-command, before the initialization of the

[2018-06-27 06:40] jduranf commented on #335
You are right @carmelomigliore, I have sent the PR #337 to fix the issue

[2018-06-27 10:16] jduranf commented on #335
Fix done #337
Can someone close this issue?

[2018-06-27 10:28] #335 closed

[2018-06-27 15:15] cloudxxx8 opened #338 "the RAML API document description is conflicted on /registration/name/{name} GET method"
https://github.com/edgexfoundry/edgex-go/blob/master/export/client/raml/export-client.raml

The description of /registration/name/{name} GET method states:

`description: Fetch a client export registration by unique name. Response will be null if no export registration matches on name. Return ServiceException (HTTP 503) for unknown or unanticipated issues.`

Also, the API states:

[code]

They are

[2018-06-27 16:22] tsconn23 commented on #338
@cloudxxx8 Assigned @janko-isidorovic @drasko. To me a 404 sounds more correct since the client registration is not found, and that's what 404 means. We didn't even include the Java version of export-client in the California release branch, so I don't think we should try to make this backward compatible.

[2018-06-28 19:58] #324 closed

[2018-06-29 16:19] cloudxxx8 commented on #316
it's the real issue and the behavior is not accordance with RAML
event is not totally immutable.  event contains some field for marking.
the immutable one is reading value.  Please reopen this issue.

[2018-06-29 16:20] cloudxxx8 commented on #316
If the Event will be changed to immutable, the fields like modified and pushed should be removed as well as all the update API

[2018-06-30 02:19] yanghua commented on #334
hi @tonyespy it seems the Attribution.txt file exists in export-client and export-distro modules in master branch, what did you mean?

[2018-07-02 22:42] #290 closed

[2018-07-02 22:46] tsconn23 opened #347 "Standardize DBClient package level variable declaration"
In core-data, var dbc is declared and initialized in init.go
In core-metadata, var dbClient is declared in const.go and initialized in init.go

I personally think the name dbClient is preferable, being more explicit, and I like core-data’s methodology better since the variable isn't really a constant. I'm open to discussing another approach, but we need to standardize what the var is called, where

[2018-07-02 22:52] tsconn23 opened #348 "Lower-case package level interfaces/DBClient"
This was brought up during the reviews for #298. The idea is that since the DBClient interface defined by both core-data and core-metadata are used internally by those packages, their names should not be capitalized thus maintaining proper encapsulation.

@feclare wrote in response:
"The data and metadata interfaces are used in core/db/test. There are functions used in the tests of the db implemen

[2018-07-02 23:14] #308 closed

[2018-07-02 23:16] dylanhantula opened #349 "Add CouchDB implementation to core-metadata"
Given that Mongo is licensed under the AGPL license, we want to use CouchDB in core-metadata (not core-data, which has an InfluxDB interface). CouchDB is document store similar to Mongo, but is licensed under the Apache license. This will involve creating CouchDB-specific implementations of the already existing database interfaces.

[2018-07-02 23:38] dylanhantula opened #350 "Add CouchDB implementation to export-client"
Given that Mongo is licensed under the AGPL license, we want to use CouchDB in export-client. CouchDB is document store similar to Mongo, but is licensed under the Apache license. This will involve creating CouchDB-specific implementations of the already existing database interface.

[2018-07-02 23:43] dylanhantula opened #351 "Add CouchDB implementation to support-logging"
Given that Mongo is licensed under the AGPL license, we want to use CouchDB in support-logging. CouchDB is a document store similar to Mongo, but is licensed under the Apache license. This will involve creating a CouchDB-specific implementation of the already existing database interface.

[2018-07-03 06:52] feclare commented on #347
I agree both on variable name and where it should be declared.

[2018-07-03 06:57] jduranf opened #352 "Fix all fmt issues"
Before starting with the big modifications, should be fine to fix all fmt issues:
https://goreportcard.com/report/github.com/edgexfoundry/edgex-go#gofmt

[2018-07-03 08:59] jduranf commented on #347
Also should be fine to standardize the database enumeration. Data uses core/data/interfaces/db.go, and metadata uses core/domain/enums/database.go. I think the best place should be in core/db/db.go. What do you think?

If you want, I can work in this issue

[2018-07-03 09:37] feclare commented on #347
@jduranf Yes, I had that in my todo list. Also adding db selection to metadata and standardize how it is done with data.
Feel free to work on it.

[2018-07-03 13:57] feclare commented on #348
In this case it is clear to me that we need to use the same interface in the other package to have an unified way to test the db backends. And it needs to be the same interface because it is what core-data will use.
I understand the idea of decoupling the interface and packages implementing it. And I like it, but not to the point of making the software more complex that needed.
I would suggest to

[2018-07-03 15:43] tsconn23 commented on #348
"And it needs to be the same interface because it is what core-data will use."

See, I think this is where the OO programming we've been used to fights with the Go-preferred way of doing things. I totally get where you're coming from.

I'm just going to leave this issue out here for discussion and so we can think about it some more.

[2018-07-03 16:44] #352 closed

[2018-07-03 16:50] jduranf commented on #352
Now we have an A+ in go report card!
https://goreportcard.com/report/github.com/edgexfoundry/edgex-go

[2018-07-03 23:25] tonyespy opened #355 "Core Metadata should use shorter strings, or possibly enums for callback to other services"
When Core Metadata calls a device service to indicate that an object in Core Metadata has changed, it indicates which type of object changed by using full strings such as:

 * "Device"
 * "DeviceProfile"
 * "ProvisionWatcher"
 * "Schedule"

One of the review comments for the California Device Services requirements (>= v7) was that it would make sense for these string constants to be changed to JSO

[2018-07-04 06:06] feclare commented on #347
Thanks

[2018-07-04 06:06] #347 closed

[2018-07-05 18:39] brandonforster opened #361 "support-logging does not report its port number during startup"

[2018-07-05 22:50] #318 closed

[2018-07-05 23:08] tsconn23 commented on #287
Currently working on a PR related to this issue whereby `make run_docker` can be used to pull the latest official compose file and then bring up the containers. The current docker-compose in edgex-go is way out of date and we aren't maintaining it. Therefore if we want to continue to use make, we need a way to pull in the latest.

[2018-07-06 06:21] jduranf opened #365 "Clarify delete methods in core-metadata"
Delete methods in core-metadata only use the ID in order to remove the object. Should be more clear if only it's used the ID in those methods, as already it's done in core-data or in export-client.

For example, all deleted methods will be changed from:
`DeleteSchedule(s models.Schedule) error`
to:
`DeleteScheduleById(id string) error`

The PR is #360

[2018-07-06 13:08] jduranf opened #366 "core-metadata doesn't handle properly the not found error"
In core-metadata, MongoDB  uses `mgo.ErrNotFound` for not found error, while MemoryDB uses `db.ErrNotFound`. The best option should be to use `db.ErrNotFound`

[2018-07-06 19:12] tsconn23 opened #368 "Refactoring to strictly delineate internal code vs. externally usable code."
**The Problem**
Currently the EdgeX GoLang implementation has no separation between its internal domain model and the models used to pass data out of the system. They are one and the same. Likewise, there is no visibility as to which service client is used by an external application versus solely used internal to the EdgeX platform. This means we are at risk of making changes to either our data mo

[2018-07-06 19:12] #366 closed

[2018-07-06 19:13] #365 closed

[2018-07-06 21:39] jduranf commented on #368
Maybe will be also fine to change all `Id bson.ObjectId` in domain/models to `ID string`. The change from Id to ID is a linter recommendation. The change from `bson.ObjectId` to `string` will make the code less dependent from MongoDB, and also will simplify the code (there are lots of conversions from `ObjectId` to `string` and viceversa).

[2018-07-06 22:07] tsconn23 commented on #368
@jduranf Yes, I agree something like that will need to happen. I probably won't address it as part of this issue as I have the requirement from the Device Service group to keep the external domain model the same. But with their cooperation once this is merged, I'm sure we can make our domain model DB provider agnostic, as it should be.

[2018-07-07 16:29] tsconn23 commented on #314
FYI -- https://golang.org/pkg/encoding/json/

The "omitempty" option specifies that the field should be omitted from the encoding if the field has an empty value, defined as false, 0, a nil pointer, a nil interface value, and any empty array, slice, map, or string.

As found [here](https://github.com/edgexfoundry/edgex-go/blob/california/core/domain/models/action.go):
[code]

[2018-07-07 16:30] tsconn23 commented on #314
@cloudxxx8 @andyf1967 What effect, if any, will this have on blackbox testing?

[2018-07-07 17:58] tsconn23 commented on #368
I'm about to submit the first PR for this issue in which the majority of the delineated code has been moved to its new location. I'm adding this comment to record my thoughts at this point on what the end goal is going to look like. There will be a couple more subsequent PRs I think.

- edgex-go/core to be renamed to edgex-go/external
        All code importable by 3rd party applications wishing t

[2018-07-07 20:56] jduranf commented on #316
@tsconn23 I think it's very important to know if an event have been pushed or not. If an event haven't been pushed (maybe there is a connectivity error), then can be requested later. Also we have the Pushed attribute in the Event structure, which is used for this purpose, and there are several functions in core-data, defined in the RAML and already implemented (PUT in `api/v1/event/id/{id}` or DEL

[2018-07-08 01:45] cloudxxx8 commented on #314
@tsconn23 this change should not impact blackbox testing.  if it causes any failed test case, we could modify the script to make it work, because this change is useful and reasonable.
However, the value 0 or false might not be a real empty value.  They might be something meaningful.  I thought we should not add "omitempty" to bool or numerical type fields.
@andyf1967 and @weichou1229, please corre

[2018-07-08 09:46] weichou1229 opened #371 "support-logging API response content-type error"
According to https://github.com/edgexfoundry/edgex-go/blob/master/support/logging/raml/support-logging.raml , expect all query API return json/application as content-type ,but it's return text/plain now .

[2018-07-08 14:52] weichou1229 opened #372 "support-logging API json filed error"
According to RML https://github.com/edgexfoundry/edgex-go/blob/master/support/logging/raml/support-logging.raml#L27
json:"loglevel" should be json:"logLevel" in
https://github.com/edgexfoundry/edgex-go/blob/master/support/domain/domain.go#L18

but now it's return
[code]

[2018-07-08 14:56] weichou1229 opened #373 "support-logging API do not work"
Below GET and DELETE API do not work
  * /api/v1/logs/originServices/{{loggingService}}/{{start}}/{{end}}/{{limit}}
  * /api/v1/logs/logLevels/{{loggingLevel}}/{{start}}/{{end}}/{{limit}}
  * /api/v1/logs/logLevels/{{loggingLevel}}/originServices/{{loggingService}}/{{start}}/{{end}}/{{limit}}
  * /api/v1/logs/logLevels/{{loggingLevel}}/originServices/{{loggingService}}/labels/{{loggingLabel}}/{{st

[2018-07-08 14:57] weichou1229 commented on #373
I think query criteria doesn't match logEntry domain at
https://github.com/edgexfoundry/edgex-go/blob/master/support/logging/mongo.go#L65
[code]

[2018-07-08 15:02] weichou1229 opened #374 "support-logging API do not check record limit"
According to RAML  https://github.com/edgexfoundry/edgex-go/blob/master/support/logging/raml/support-logging.raml#L71 , /api/v1/logs/{{limit}} should check record limit .

eg. the default limit is 100. When the {{limit}} path parameter is 101 and there are more than 101 records in db, the service should return http status 413
However, the current implementation returns 200 ok for this case

[2018-07-09 09:08] cloudxxx8 commented on #316
@tsconn23 , we are not asking to add a new feature to mark the pushed timestamp via REST API.  This is the current design, and this API exists right now with defect.  We are asking to fix the defect of this API.  Core WG could discuss whether we should remove this API and other event update API in the next API version, such as /api/v2/...., but we had better make the current and existing API work

[2018-07-09 12:14] weichou1229 opened #377 "support-rulesengine delete rule by an inexistent name should return http status 503"
According RAML https://github.com/edgexfoundry/support-rulesengine/blob/master/raml/support-rulesengine.raml#L44 , expect **delete rule by an inexistent name should return http status 503** ,
actually it' return 200 .

[2018-07-09 13:04] weichou1229 opened #378 "export-client configuration.toml use the wrong db"
In https://github.com/edgexfoundry/edgex-go/blob/master/cmd/export-client/res/configuration-docker.toml is use exportclient DB ,
but in https://github.com/edgexfoundry/edgex-go/blob/master/cmd/export-client/res/configuration-docker.toml is use coredata DB

[2018-07-09 16:45] #361 closed

[2018-07-09 16:50] andyf1967 opened #379 "Documentation formatting problems in Ch-GettingStartedUsers.rst"
Recent changes to Ch-GettingStartedUsers.rst have broken the formatting of a number of headings in the generated HTML.  For example see section 3.1.3.2. in https://nexus.edgexfoundry.org/content/sites/docs/staging/master/docs/_build/html/Ch-GettingStartedUsers.html and compare it to an equivalent heading level in https://nexus.edgexfoundry.org/content/sites/docs/staging/master/docs/_build/html/Ch-

[2018-07-09 17:28] andresrinivasan opened #380 "Add Redis as lightweight alternative to MongoDB in Core Data"
Given the requirements for a fast small footprint database for Core Data, Redis OSS looks to be a good alternative to MongoDB. We will add Redis as an option.

[2018-07-09 21:19] jduranf commented on #368
@tsconn23, as pointed by Stella and recommended by [golang-standards](https://github.com/golang-standards/project-layout) maybe instead of "external/" we can use "api/" and "pkg/". In "/pkg" we can put all clients, and in "api/" the json models and the RAML files.
Also, maybe "snap/" and "docker/" should be moved inside of "build/".

[2018-07-09 21:23] jduranf commented on #380
@andresrinivasan I guess you already know it, but @itamarhaber is already working in this implementation. Also should be fine to add Redis in this comparative #291

[2018-07-09 22:39] andresrinivasan commented on #380
Ok. I thought we needed a separate issue. I'll close this one and we'll use #291 as you suggest.

[2018-07-10 06:06] jduranf commented on #380
@andresrinivasan I think you misunderstood me, I think it's fine to have this issue, but I wasn't sure that you already know that @itamarhaber is working in the same issue, and I just wanted to avoid to have two different people working in the same issue.

[2018-07-10 07:42] andyf1967 commented on #379
@jpwhitemn no problem, I'll sort it.

[2018-07-10 17:57] jpwhitemn commented on #117
@andyf1967 - I recommend we close this issue and open new ones for any remaining work items.

[2018-07-10 21:02] tsconn23 commented on #313
This is on the roadmap but I'm closing this issue because it's dependent upon pending efforts to restructure the configuration entries. After the restructuring, this can be taken up.

[2018-07-10 21:02] #313 closed

[2018-07-10 21:13] tsconn23 commented on #314
@brandonforster To verify no adverse testing effects on a small subset of service calls.

[2018-07-10 21:16] tsconn23 commented on #294
@tonyespy Is this still an issue? If not, please close.

[2018-07-10 21:19] #287 closed

[2018-07-10 21:22] #110 closed

[2018-07-10 22:16] tsconn23 commented on #368
@jduranf Working on it now. I'm going to hold off on moving the deployables to "build/" until I get feedback from @SteveOss @anonymouse64 @tonyespy

[2018-07-11 00:12] tsconn23 opened #384 "High Processor Utilization in core-command, core-data"
Incorrectly implemented monitor loop in core/clients/types/endpoint.go causes busy wait when it should sleep.

This issue is to track the addition of the fix in PR #383 to the California branch for inclusion in the 0.6.1 release update.

[2018-07-11 00:40] #384 closed

[2018-07-11 02:32] jpwhitemn commented on #192
Expect board response tomorrow (7/11/18)

[2018-07-11 03:11] jpwhitemn commented on #99
In addition to those above, also looking at https://github.com/hopkinsth/go-ruler, https://github.com/huttotw/grules, https://github.com/myntra/roulette, https://github.com/zhouzhuojie/conditions, https://github.com/utk1369/infer-go.  May expand to other languages with small footprint, and option to use something like NodeRed

[2018-07-11 03:15] jpwhitemn commented on #111
done with CA release

[2018-07-11 03:15] #111 closed

[2018-07-11 07:58] jduranf commented on #368
@tsconn23 good work in #369!
I guess export/ and support/ will be moved inside of internal/ in the second part.
Also I want to comment that maybe the configuration files should be moved in configs/, but this doesn't seems to be an easy thing to do.

[2018-07-11 11:36] andyf1967 commented on #117
@jpwhitemn I agree.

[2018-07-11 11:36] #117 closed

[2018-07-11 12:42] tsconn23 opened #386 "sending data using HTTPS to northbound devices"
Moved issue to correct repo on behalf of user @Ajit-T.
Original issue is here -- https://github.com/edgexfoundry/export-distro/issues/43

I am using export services to send my data to northbound end points, HTTP works correctly, but for HTTPS, the log says "x509: failed to load system roots and no roots provided", has anyone ran into this earlier?.......I believe this is something to do with the e

[2018-07-11 12:43] tsconn23 commented on #386
Most likely certificates need to be added to Docker file from Alpine package manager

[2018-07-11 13:39] tsconn23 commented on #368
@jduranf Yes, export/ and support/ will be in part 2. As to the configs, our Delhi workload is going to see a major rework of how we handle configuration, so I'm not including those in this work. They'll most likely be moved, but not sure where yet.

[2018-07-11 13:42] tsconn23 commented on #316
Changes have been requested on PR #370. Re-opening issue until PR is merged.

[2018-07-11 14:30] tingyuz commented on #91
yes this can be closed as we are using the name of micro service as part of the url if the end user is requesting to access the resources, the approach is similar to what Drasko proposed in the previous comments.  E.g,  we need to use https://reverse_proxy:port/coredata/v1/api/ping to access the ping endpoint for core data.

[2018-07-11 20:57] QKaseman commented on #287
This fix hasn't made it to the `california` branch. It is still using the checked-in `docker-compose.yml` at version `0.5.0` and running `make run_docker` results in the same error of a number of images missing the `latest` tag.

As `tsconn23/issue_287` has a lot of commits not in `california` I went ahead and cherry picked the commits @tsconn23 made (`b45e041` and `6a0bde1`) and submitted a new p

[2018-07-12 08:17] feclare commented on #368
@tsconn23 what about moving the models and enums to edgex-go/external/ instead of edgex-go/external/models.
In export we followed this approach, having the shared types in edgex-go/export instead of edgex-go/export/domain and it looked cleaner to me.

[2018-07-12 08:49] feclare opened #389 "memorydb returns null instead of empty array"
memorydb in core and export-client returns null instead of an empty array when there hasn't been any inserts in the table.

Fixed by PR #356

[2018-07-12 13:34] #389 closed

[2018-07-12 14:16] tsconn23 commented on #368
Since external is akin to a top-level package, I wanted to keep it as clean as possible -- thus "clients/" and "models/" plus other things that may come in the future.

[2018-07-13 00:06] #378 closed

[2018-07-13 00:10] drasko commented on #338
@cloudxxx8 what do you mean "we need to modify RAML"? It is stating that `404` should be returned - what modification do you need?

[2018-07-13 00:13] drasko commented on #328
Export services were the first ones written, ment to serve as a blueprint for other services. Not all propositions from this blueprint were respected, so Export services diverged.

This should be fixed with the PR and Export services should be aligned to other services.

[2018-07-13 08:09] badboy-huaqiao opened #392 "Can't use "docker exec -it xx /bin/sh" command go into some container ,like cmd,metadata etc."

[2018-07-13 08:17] drasko commented on #392
These are `FROM scratch` containers and do not have shell inside.

Please do not open issues before:
- Doing yourself an investigation (for example reading yourself Dockerfiles)
- Asking on mailing lists
- Asking on IRC

Issues are used primarily for tracking bugs and tasks, not for asking questions.

[2018-07-13 08:17] #392 closed

[2018-07-13 09:12] cloudxxx8 commented on #338
@drasko
We should modify the description of this API:
`description: Fetch a client export registration by unique name. **Response will be null if no export registration matches on name.** Return ServiceException (HTTP 503) for unknown or unanticipated issues.`

If 404 is the expected behavior, client will not receive any response body.  Also, null is the language specific term.  In the old impleme

[2018-07-13 16:14] #114 closed

[2018-07-13 17:46] anonymouse64 commented on #368
Re: moving `snap` and `docker` inside of build I disagree, as firstly it makes it harder to build the project as a snap when the `snapcraft.yaml` file isn't either in `$GIT_ROOT/snapcraft.yaml` or `$GIT_ROOT/snap/snapcraft.yaml`. So at least the snap and docker folders should remain in the root folder.

[2018-07-13 18:48] jpwhitemn commented on #192
After the recent governing board meeting, the feeling was that EdgeX should always encourage contributions when possible and unless they are counter to the architecture or direction of the project, accept code, documentation, demos, etc. whenever presented and after a proper vetting review.
This same approach applies to the issue of alternate language documentation.  In general, EdgeX will accept

[2018-07-13 18:48] #192 closed

[2018-07-15 08:12] cloudxxx8 commented on #338
fixed by https://github.com/edgexfoundry/edgex-go/pull/396
I also corrected the API definition of registration id not found situation

[2018-07-15 17:20] JPWKU opened #397 "Need for aarch64 docker imags"
Currently there are no defined Dockerfile.aarch64.  The arm builds run the docker build against the currently defined Dockerfiles, which do build.  Not sure if this is an issue.

[2018-07-16 13:34] feclare commented on #397
Until now there is no need to have different dockerfiles for pc and aarch64. And it will be good if we can keep using the same dockerfile for both archs as long as possible.

[2018-07-16 20:10] tsconn23 commented on #338
#396 has been merged. Closing.

[2018-07-16 20:10] #338 closed

[2018-07-16 20:35] tsconn23 opened #399 "GET methods in support-logging service -- incorrect content-type"
All GET methods in the support-logging service should set the content-type = "application/json". Currently, they are setting content-type = "text/plain".

Found during verification of corresponding blackbox-tests added for support-logging
https://github.com/edgexfoundry/blackbox-testing/pull/35

[2018-07-16 22:57] jpwhitemn commented on #334
Closing as these services do have Attribution.txt.

[2018-07-16 22:57] #334 closed

[2018-07-16 23:04] jpwhitemn commented on #91
Per Tingyu comment - closing

[2018-07-16 23:04] #91 closed

[2018-07-17 10:36] #399 closed

[2018-07-17 13:23] tsconn23 commented on #377
@weichou1229 Why should it return anything other than a 200? The user asked to delete a resource. The resource isn't there. Why throw an error? Should be 500 anyway. We are getting rid of these 503 responses.

[2018-07-17 13:24] tsconn23 commented on #371
Already fixed #399

[2018-07-17 13:24] #371 closed

[2018-07-17 13:38] tsconn23 commented on #374
Cannot duplicate this issue outside of a test run. Populate the Mongo DB from the logEntryDb.Json file provided in the PR below and then call the endpoint by itself, not as part of a test, and it will work.

https://github.com/edgexfoundry/blackbox-testing/pull/35

[2018-07-17 13:39] tsconn23 commented on #373
See my email

[2018-07-17 16:10] cloudxxx8 commented on #373
the URL of the logging service mongo.go is changed:
https://github.com/edgexfoundry/edgex-go/blob/master/internal/support/logging/mongo.go#L65

[2018-07-17 16:29] weichou1229 commented on #377
@tsconn23 Maybe use 404 ? ,
I saw coreData's RAML https://github.com/edgexfoundry/edgex-go/blob/master/api/raml/core-data.raml#L113 , it return 404 when the entity cannot be found by id.

[2018-07-18 11:55] SteveOss opened #403 "Documentation not building"
Documentation build system needs updating to reflect new locations of raml files and generally requires a clean up.

[2018-07-18 16:51] cloudxxx8 commented on #374
Recreate steps of this issue:

1. start up support-logging service
2. add log entry more than 100 records
3. query log by the API  /api/v1/logs/{{limit}}, and assign a value more than 100 to {{limit}}, such as  /api/v1/logs/101
4. see the http status code in the response header

Actual Result:
HTTP Status Code 200 OK

Expected Result:
HTTP Status Code 413 Payload Too Large

[2018-07-18 20:38] tsconn23 commented on #373
Fixed with above PR merge

[2018-07-18 20:38] #373 closed

[2018-07-19 03:40] jpwhitemn commented on #326
Fixed with PR #405

[2018-07-19 03:40] #326 closed

[2018-07-19 03:40] jpwhitemn commented on #325
Fixed with PR #405

[2018-07-19 03:40] #325 closed

[2018-07-19 14:46] Ajit-T commented on #386
@tsconn23 , thanks for your help, I added the certificates from Alpine package manager and got the data going to northbound devices using https.

[2018-07-19 15:20] cloudxxx8 commented on #377
@tsconn23 I've reviewed the source code of core-data and core-metadata.
core-metadata returns 404 when invoking deleteByID API with an in-existent id, because it checks getByID before deletion:
https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/metadata/rest_device.go#L743
https://github.com/edgexfoundry/edgex-go/blob/master/internal/core/metadata/rest_deviceservice.go#L435

core-d

[2018-07-19 23:59] brandonforster commented on #403
Jumping on to this issue, I noticed two problems in `Ch-ExamplesAPIDemo.rst`:

First, when constructing a new device profile, it references a YAML file to upload that doesn't seem to exist.

Second, when registering a new client for the Rules Engine, the provided JSON is malformed. The `encryption` key that describes the object is missing its semicolon.

[2018-07-20 16:56] itamarhaber commented on #291
Here are the methodology and benchmark results for my experimentations with Redis: https://gist.github.com/itamarhaber/086dcb35692745ad0f1ff492676b47c7

Summary of results
| Benchmark | MongoDB (micro/op) | RedisDB_Embedded (micro/op) | RedisDB_TCP (micro/op) | RedisDB_UDS (micro/op) |
|-|-|-|-|-|
| AddEvent | 352 | 193 | 201 | 189 |
| AddReading | 146 | 35 | 76 | 69 |
| EventById | 553 | 15 | 146

[2018-07-20 19:47] tsconn23 opened #407 "HTTP 503 -> 500 in core-data service"
Refactor core-data API implementation and associated RAML so that all cases where HTTP 503 (Service Unavailable) is returned are replaced with the more appropriate HTTP 500 (Internal Server Error).

[2018-07-20 19:47] tsconn23 commented on #407
Associated with #284

[2018-07-20 19:48] tsconn23 opened #408 "HTTP 503 -> 500 in core-command service"
Refactor core-command API implementation and associated RAML so that all cases where HTTP 503 (Service Unavailable) is returned are replaced with the more appropriate HTTP 500 (Internal Server Error).

[2018-07-20 19:48] tsconn23 commented on #408
Associated with #284

[2018-07-20 19:49] tsconn23 opened #409 "HTTP 503 -> 500 in core-metadata service"
Refactor core-metadata API implementation and associated RAML so that all cases where HTTP 503 (Service Unavailable) is returned are replaced with the more appropriate HTTP 500 (Internal Server Error).

[2018-07-20 19:49] tsconn23 commented on #409
Associated with #284

[2018-07-20 19:50] tsconn23 opened #410 "HTTP 503 -> 500 in support-logging service"
Refactor support-logging API implementation and associated RAML so that all cases where HTTP 503 (Service Unavailable) is returned are replaced with the more appropriate HTTP 500 (Internal Server Error).

[2018-07-20 19:50] tsconn23 commented on #410
Associated with #284

[2018-07-20 19:57] tsconn23 opened #411 "Add HTTP 400 Response to Core-Data Service"
Operations that verify the content of a given request, whether a GET/DELETE parameter or a POST/PUT body payload, should return an HTTP Status 400 (Bad Request) instead of HTTP Status 503 (Service Unavailable). Example from internal/core/data/event.go:

[code]

Failure to deserialize the incoming JSON should result in a 400 (BadRequest) and not 503 (ServiceUnavailable)

The RAML should be updated

[2018-07-20 19:57] tsconn23 commented on #411
Associated with #284

[2018-07-20 20:03] tsconn23 opened #412 "HTTP 403 -> 400 in core-command"
Operations that attempt to load a specified entry from the database and do not find any results currently return HTTP 403 (Status Forbidden). These should simply be 404 (Not Found). Example from internal/core/command/device.go:

[code]

[2018-07-20 20:03] tsconn23 commented on #412
Associated with #284

[2018-07-20 20:08] tsconn23 opened #413 "Add HTTP 400 Response to Core-Metadata Service"
Operations that verify the content of a given request, whether a GET/DELETE parameter or a POST/PUT body payload, should return an HTTP Status 400 (Bad Request) instead of HTTP Status 503 (Service Unavailable). Example from internal/core/metadata/rest_device.go:

[code]

[2018-07-20 20:08] tsconn23 commented on #413
Associated with #284

[2018-07-20 23:45] jpwhitemn commented on #102
Moved this back to Delhi, but it could get moved back even further.

[2018-07-20 23:49] jpwhitemn commented on #90
Duplicate of #113.  Closing and attributing to California Dot Release.  Work near completion

[2018-07-20 23:49] #90 closed

[2018-07-20 23:52] jpwhitemn commented on #285
Moving this out to Delhi

[2018-07-21 02:09] cloudxxx8 commented on #377
@weichou1229 since the RAML API document doesn't state the in-existent id should return 404, please close this issue as invalid issue and remove the test case from blackbox test

[2018-07-21 03:33] angelyc opened #414 "core-data and support-logging failed to start for the first time"
## problem
After initialize docker environment, I tried to start edgex by command "docker-compose pull" and "docker-compose up -d" using the docker-compose.yml file with version 0.6.0.
finally, I noticed that edgex-core-data and edgex-support-logging were not working.

1. In edgex-core-data's log, I got some info like:
[code]
2. In  edgex-support-logging' log, I got that
[code]
3. In edgex-mongo'

[2018-07-21 03:35] weichou1229 commented on #377
Close issue and remove test case by https://github.com/edgexfoundry/blackbox-testing/pull/38

[2018-07-21 03:35] #377 closed

[2018-07-21 07:52] cloudxxx8 commented on #372
@weichou1229 this issue has been fixed by #402
please close this issue

[2018-07-21 08:10] weichou1229 commented on #372
close fixed issue

[2018-07-21 08:10] #372 closed

[2018-07-21 21:47] jduranf commented on #291
@itamarhaber I will not be able to test Redis implementation until end of August (I will be on vacations).
Anyway, I'm curious to know it there is persistence using Redis or not (I'm not a Redis expert), specially with embedded implementation.

[2018-07-22 11:42] itamarhaber commented on #291
@jduranf enjoy your vacations (plural, I envy you :))!

I installed both Mongo and Redis using the defaults. I don't know about Mongo, but Redis' defaults are such that the data is persisted to disk so it is durable and survives failures. Redis can be configured as a pure in-memory database (and thus provide even better performance in some cases), but I don't think that's appropriate in this use c

[2018-07-23 18:32] tsconn23 opened #416 "Retry Service Dependencies on Startup -- Metadata"
This issue is for making changes to the core-metadata service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start core-metadata independently of other services, and expect that it will start correctly. Upon startup, core-metadata should retry its connection attempts to other dependencies such as Mongo and Consul rather than exit ri

[2018-07-24 01:24] JaehoonHyun opened #419 "update rbranch of california"
go get github.com/edgexfoundry/edgex-go
above command, It pull out master branch.
please, you check if pull out california branch source code.

[2018-07-25 18:14] tsconn23 commented on #419
https://stackoverflow.com/questions/42761820/how-to-get-another-branch-instead-of-default-branch-with-go-get

[2018-07-25 18:14] #419 closed

[2018-07-25 18:15] #416 closed

[2018-07-25 18:17] tsconn23 opened #422 "Retry Service Dependencies on Startup -- CoreData"
This issue is for making changes to the core-data service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start core-data independently of other services, and expect that it will start correctly. Upon startup, core-data should retry its connection attempts to other dependencies such as Mongo and Consul rather than exit right away if

[2018-07-26 14:28] akansal1 opened #424 "Edgex on Raspberry Pi 3"
I am trying to run edgeX on raspberry pi via docker route, but not being able to do so. I wanted to know:

* If, it is possible to run it on Raspberry Pi 3 (OS raspbian) ?
* If Yes, then is there a guide that, I can refer ?

Thank you

[2018-07-27 15:31] Kumarasamy opened #426 "Error while making docker image ?"
Error Message:
kumarasamy@Kumarasamy-PC:~/go/src/github.com/edgexfoundry/edgex-go$ sudo make docker
docker build \
	-f docker/Dockerfile.export-client \
	--label "git_sha=dc76c0d" \
	-t edgexfoundry/docker-export-client-go:dc76c0d \
	-t edgexfoundry/docker-export-client-go:0.5.2-dev \
	.
Sending build context to Docker daemon  290.1MB
Step 1/12 : FROM golang:1.9-alpine AS builder
 ---> e2d4d570adf

[2018-07-27 15:40] Kumarasamy opened #427 "Error in while run the command ./edgex-docker-launch.sh ?"
Error Message:

Pulling latest compose file...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9724  100  9724    0     0   9724      0  0:00:01 --:--:--  0:00:01 24069
Starting mongo
ERROR: Version in "./../docker/docker-compose.yml" is unsupported. You might be seeing this error bec

[2018-07-30 14:15] tsconn23 opened #430 "California branch -- Set 0.6.1 version"
In preparation for the California dot release, please set 0.6.1 in the VERSION file in order to begin tagging build outputs.

[2018-07-30 14:25] tsconn23 opened #432 "master branch -- Set 0.7.0 version"
Development for Delhi release is occurring in the master branch. The Delhi release train will start at version 0.7.0 .Please set 0.7.0 in the VERSION file(s) in order to begin tagging build outputs.

[2018-07-30 15:27] tsconn23 opened #434 "Retry Service Dependencies on Startup -- CoreCommand"
This issue is for making changes to the core-command service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start core-command independently of other services, and expect that it will start correctly. Upon startup, core-command should retry its connection attempts to other dependencies such as Consul rather than exit right away if t

[2018-07-30 15:30] #422 closed

[2018-07-30 16:34] akramtexas opened #435 "Java "support-notifications" will not pass new Blackbox (Integration) tests."
- This is a heads up that "support-notifications" (Java) will **not** pass new Blackbox (Integration) tests.
- The relevant PR is: [PR #428](https://github.com/edgexfoundry/edgex-go/pull/428)
- According to the Java RAML, for both "/transmission" and for "/notification", the path each for querying records (collections) by creation timestamp between start date and end date, with limited returned re

[2018-07-30 17:33] tsconn23 commented on #435
@akramtexas Can you please move this to the Java support-notifications repo issues list?

https://github.com/edgexfoundry/support-notifications

[2018-07-30 17:36] tsconn23 opened #437 "Retry Service Dependencies on Startup -- SupportLogging"
This issue is for making changes to the support-logging service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start support-logging independently of other services, and expect that it will start correctly. Upon startup, support-logging should retry its connection attempts to other dependencies such as MongoDB rather than exit right

[2018-07-30 18:18] akramtexas commented on #435
@tsconn23 Yep, done. I've created [Issue #21](https://github.com/edgexfoundry/support-notifications/issues/21) to the Java support-notifications repo issues list. I reckon the next step is for me to delete the issue as [originally created here...](https://github.com/edgexfoundry/edgex-go/issues)

[2018-07-30 18:41] #430 closed

[2018-07-30 18:41] #432 closed

[2018-07-30 18:46] #435 closed

[2018-07-31 14:20] #434 closed, assigned to tsconn23

[2018-07-31 18:58] tsconn23 opened #439 "0.6.1 Support Notifications -- Docker LoggingFile Config Value is Incorrect"
In the docker config file for support-notifications, the value for LoggingFile is incorrect.

Currently, it is set to
`LoggingFile = './logs/edgex-support-notifications.log'`

It should be set to
`LoggingFile = '/edgex/logs/edgex-support-notifications.log'`

This is because the latter will write to the shared docker volume as opposed to the local container file-system.

https://github.com/edgexfou

[2018-07-31 19:40] akramtexas commented on #439
Thanks for the catch @tsconn23 - Update has been made and [PR #440](https://github.com/edgexfoundry/edgex-go/pull/440) submitted.

[2018-07-31 22:13] tsconn23 opened #441 "Retry Service Dependencies on Startup -- ExportClient"
This issue is for making changes to the export-client service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start export-client independently of other services, and expect that it will start correctly. Upon startup, export-client should retry its connection attempts to other dependencies such as MongoDB and Consul rather than exit

[2018-07-31 22:14] tsconn23 opened #442 "Retry Service Dependencies on Startup -- ExportDistro"
This issue is for making changes to the export-distro service so that it doesn't rely so much on an explicit start order when deployed to an environment. We should be able to start export-distro independently of other services, and expect that it will start correctly. Upon startup, export-distro should retry its connection attempts to other dependencies such as MongoDB and Consul rather than exit

[2018-08-01 01:31] drasko commented on #441
@tsconn23 I did not like this approach - it is not the service logic where you want to put orchestration and deployment strategy. If service do not find an infrastructure prepared and ready it should die loudly. And orchestrator - for example `docker-compose` should be capable to restart the Docker container until it is up and running - here is an example of how this is handled in Mainflux: https:

[2018-08-01 01:53] drasko commented on #441
Some references:
- https://blog.risingstack.com/designing-microservices-architecture-for-failure/
- https://www.infoworld.com/article/3254777/application-development/3-common-pitfalls-of-microservices-integrationand-how-to-avoid-them.html
- https://github.com/katopz/best-practices/blob/master/best-practices-for-building-a-microservice-architecture.md#connection-pools

[2018-08-01 22:50] #437 closed

[2018-08-02 15:52] tsconn23 opened #449 "California -- Incorrect Init Service Keys. Change CleanupDefaultAge Data Type"
Fix init.go (for notifications service) to use internal.SupportNotificationsServiceKey instead of conf.ServiceName. Modify CleanupDefaultAge (in ConfigurationStruct for notifications and elsewhere) from type int64 to int. Separately, and unrelated to preceding items, remove an unwarranted check (in subscriptionHandler()) for whether max limit or results-returned has been exceeded, which would othe

[2018-08-02 16:39] akramtexas commented on #449
Fixed submitted and PR created: [PR #448](https://github.com/edgexfoundry/edgex-go/pull/448)

[2018-08-02 16:45] brandonforster commented on #411
Closing this issue as the PR has been merged.

[2018-08-02 16:45] #411 closed

[2018-08-02 16:45] brandonforster commented on #410
Closing this issue as the PR has been merged.

[2018-08-02 16:45] #410 closed

[2018-08-02 18:29] #449 closed

[2018-08-02 18:45] #408 closed

[2018-08-02 19:05] tsconn23 commented on #441
@drasko "If service do not find an infrastructure prepared and ready it should die loudly. And orchestrator - for example docker-compose should be capable to restart the Docker container until it is up and running"

OK, but this isn't the requirement I was given. The scenario as it was presented to me was more of a timing issue in that there had been problems where Go service containers came up mo

[2018-08-02 19:45] #407 closed

[2018-08-03 18:03] anonymouse64 commented on #424
Unfortunately, to run on a Raspberry Pi 3, which is architecture armhf, you would have to build mongodb for ARM yourself on the Raspberry Pi (or cross compile it), which isn't supported officially. Because it's not officially supported, the project doesn't provide a docker build or a snap build that runs on ARM at the moment.
There are discussions to replace mongodb with something else, but it may

[2018-08-03 18:17] anonymouse64 commented on #441
Just to comment on behalf of the snap here which doesn't use docker and instead runs services natively, something that's important for the snap to become more easily deployed with Delhi is to implement something like this.

In the snap, we currently just do like the docker file and include `sleep`'s in the startup script, which is ugly and undesirable. If the independent services were able to hand

[2018-08-04 03:32] drasko commented on #441
I do not see problem in this - service will fail but will be restarted by an orchestrator over and over again until first service (prerequisite) has finished "initializing" itself and then second service will succeed.

Whatever orchestrator and/or watchdog timer you use this scenario should work, and is better and more safe than having cascading timeouts with unpredictable backoff IMHO.

[2018-08-04 05:54] akansal1 commented on #424
Understood, thanks

[2018-08-04 05:54] #424 closed

[2018-08-06 18:06] andresrinivasan commented on #380
Re-opening in preparation for @itamarhaber's PR.

[2018-08-06 20:37] tsconn23 opened #456 "Add Support-Notifications to "make run""
When executing the `make run` command line, the support-notifications service is not currently started along with the other services. We need to make this so.

Please also ensure that the `make run_docker` command starts the relevant container.

[2018-08-06 20:47] akramtexas commented on #456
- @tsconn23 My (initial) impression of `support-notifications service` was as a standalone service... But making this service start _along_ with the other services makes sense.
- I will make this happen, along with noted point on the `make run_docker` command.

[2018-08-06 20:58] tsconn23 commented on #456
@akramtexas Well, it is a stand-alone service in the sense that it's a deployable unit. Wouldn't the service need to participate in the overall eco-system in any case? If so, something needs to start it.

[2018-08-06 21:02] tsconn23 opened #457 "Increase unit test coverage -- core/data/event"
Current unit test coverage for the core/data/event package stands at

`edgex-go/internal/core/data	0.020s	coverage: 9.6% of statements`

We need to increase this coverage. In order to do so, it will be necessary to decouple the MUX Router code from the relevant business logic. The business logic should be unit testable independently of infrastructure dependencies. Right now, it is not.

I'm going

[2018-08-06 21:10] tsconn23 opened #458 "core-data: Correct small issues in main.go"
Two things to correct in core-data/main.go

1.) line 53: Call to logBeforInit() needs to use internal.CoreDataServiceKey
2.) Remove unused setLoggingTarget() function

[2018-08-06 21:17] akramtexas commented on #456
@tsconn23 Agreed: It is a service which needs to _participate_ in the overall ecosystem. You're right: Having it start _along_ with the other services is the way to manage it's lifecycle 💯

[2018-08-07 13:29] akramtexas commented on #456
@tsconn23 The following PR has been submitted to address this: [PR #460](https://github.com/edgexfoundry/edgex-go/pull/460) - Good catch, thanks!

[2018-08-07 13:43] anonymouse64 opened #461 "All of the `snap` folder is staged into the snap"
Currently, because we put all the config files, scripts, etc. that the project needs to be built as a snap inside the `snap` folder, snapcraft stages all of this into the snap itself under the `snap` folder. This is undesirable, as we already stage files that we need from there into the snap in other, more usable places and so these files end up being duplicated inside the snap, thus bloating the

[2018-08-07 13:53] #458 closed

[2018-08-07 17:30] mkhuluf opened #462 "Broken Link in Device Service Documentation"
Hello,

I was reading through the Device Service Documentation for EdgeX from this Google Drive Link
 (https://docs.google.com/document/d/1aMIQ0kb46VE5eeCpDlaTg8PP29-DBSBTlgeWrv6LuYk/edit#)
and in the ValueDescriptors section, there's a broken link that directs the user to the core-data raml file in edgex-go repo

Broken Link: https://github.com/edgexfoundry/edgex-go/blob/master/core/data/raml/cor

[2018-08-07 17:35] mkhuluf commented on #462
I forgot to add that it's also in the Data Transformation section as well

[2018-08-07 17:50] #456 closed

[2018-08-07 18:04] mhall119 commented on #462
There are also broken links to these files in:
docs/api/Ch-APICoreMetadata.rst
docs/api/Ch-ExamplesAPIDemo.rst

[2018-08-07 23:12] #462 closed

[2018-08-08 11:55] unanao opened #465 "core-data's api “/event/scrub” block long time when delete events's item more 200000+"
software:
california

Enviromnet:
The mongo have more 200000+ events ane 200000+ readmings

Get all events costs about 3 minutes
Execute more than 30 minutes only delete 100000+ events and related readings.
CPU is more than 40%
![cpu](https://user-images.githubusercontent.com/2163628/43835482-b20068e8-9b44-11e8-81c5-6f32e669beea.png)

[2018-08-08 14:15] #397 closed

[2018-08-09 14:57] tonyespy commented on #441
@drasko Do you really think sleeps in a docker-compose file are a good idea?  ;)-

As @anonymouse64 pointed out, the edgex snap currently also has to rely on sleeps in a start shell script instead of the preferred approach of making all of the services in the snap daemons, which in turn would let systemd manage them.  If/when we make this change to the snap, an edgex instance would start automatic

[2018-08-10 14:12] tsconn23 opened #471 "Notifications service reports incorrect database type on Docker startup"
When starting up in a Docker context, the notifications service will fail due to the following error:

[code]

[2018-08-10 15:38] tsconn23 opened #473 "Adjust ConsulProfilesActive value in configuration-docker.toml for all services"
In the configuration-docker.toml for all edgex-go services, the value of ConsulProfilesActive should be "docker" and not "go;docker"

Please test locally via docker-compose before creating PR.

[2018-08-10 15:45] tsconn23 commented on #471
#473 related

[2018-08-10 20:27] andresrinivasan opened #474 "Compile error in export/distro/format.go"
[code]

[2018-08-10 21:10] andresrinivasan commented on #474
PICNIC!

Used dep rather than glide.

[2018-08-10 21:14] drasko commented on #474
@andresrinivasan at one point we (Mainflux team) added `dep`, PR was rejected. Let me try again, maybe we'll be better luck.

[2018-08-13 13:12] cloudxxx8 commented on #315
@davidmsh the PRs are merged.  Please close this issue.

[2018-08-13 13:13] cloudxxx8 commented on #315
https://github.com/edgexfoundry/edgex-go/pull/421
https://github.com/edgexfoundry/edgex-go/pull/454

[2018-08-13 18:07] #315 closed

[2018-08-13 19:08] brandonforster commented on #188
@tsconn23 should we close this issue as it has been addressed by sub issues?

[2018-08-13 20:25] #412 closed

[2018-08-13 21:24] jpwhitemn opened #477 "Replace Glide versioning with modues (formely vgo) package management (Edinburgh Roadmap Item)"
Relook use of Glide and replace with vgo when generally available or at least semi-stable.  The other alternative is dep at this point; but waiting for Google recommended vgo to come out.  Do this for Edinburgh release.

[2018-08-14 14:19] anonymouse64 opened #478 "Remove base64 from snap and use binary from the core snap"
In snapd 2.35, the default apparmor profile will allow base64 access from the core snap:
https://github.com/snapcore/snapd/pull/5642/files#diff-a34e166c5b3016c122430c5884f41e9bR110

Once 2.35 is promoted to stable, we can stop staging the base64 binary in the snap and use it from the core snap.

[2018-08-14 14:22] anonymouse64 opened #479 "Remove shell plugin for snap packaging"
Now that snapcraft.yaml supports `override-build` for all plugins, we can stop using the custom shell plugin and use that instead. This will mainly reduce complexity and maintenance burden for the snap in the snapcraft.yaml and also slightly decrease build times.

[2018-08-14 17:28] anonymouse64 opened #480 "Add support for systemd-notify to snap services"
Using systemd-notify for snap services would allow us to properly support EdgeX micro-services as actual services in the snap. The current problem with doing this is that after a given service is started there's some amount of "initialization time" before the service is "ready" for it's dependent services to run.
If we were able to use systemd-notify inside the micro-services, then we could specif

[2018-08-14 17:33] tsconn23 opened #481 "Test failure -- Metadata/provisionwatcher AssertionError"
Test failure reported as follows:
[code]

Full Jenkins log here:
https://jenkins.edgexfoundry.org/view/blackbox-testing/job/blackbox-testing-centos7-blackbox-4c-2g-california/61/consoleFull

[2018-08-15 03:16] tsconn23 commented on #188
Agreed. Handled by #407 #408 #409 #410

[2018-08-15 03:16] #188 closed

[2018-08-15 09:59] weichou1229 commented on #481
@tsconn23

In below picture, script assert response time is less than 400 and test result is 312ms. Assertion should be passed, but it didn’t.
![image](https://user-images.githubusercontent.com/11187505/44143008-9fe45816-a0b4-11e8-85cf-3998f659c233.png)

Because the script is inconsistent at https://github.com/edgexfoundry/blackbox-testing/blob/master/bin/postman-test/collections/core-metadata.pos

[2018-08-15 15:15] #413 closed

[2018-08-15 15:15] #284 closed

[2018-08-16 00:55] unanao opened #484 "Log level control in configuration file feature lost"
The edgex go project lost the capability of configuring log level  in configurationg file。

For example,
In core-data's  configuration.toml,  should have a configuration item just like java's application.yml（(logging.level.org.edgexfoundry=INFO)。

[2018-08-16 15:09] anonymouse64 opened #485 "Convert services to daemons in snap"
We want to convert all of the services to daemons so that the snap is able to start up on boot automatically and systemd can manage services going down and coming back up, etc. which currently the snap does not do at all.

[2018-08-16 15:09] anonymouse64 commented on #480
Related, possibly prerequisite: #485

[2018-08-16 15:17] anonymouse64 opened #486 "Change log files for support + mongo services during install hook for snap"
Currently, to set the log files locations in services for the snap, we apply sed at build time to use `/var/snap/edgex/common/...`, but this assumes that `$SNAP_COMMON` is indeed the same as `/var/snap/edgex/common` which it may not always be. For instance on Arch Linux it is somewhere else. A better strategy is to change this during the install hook, where we have the full path that `$SNAP_COMMON

[2018-08-16 18:00] anonymouse64 opened #488 "Install edgex-services-env file during install hook in snap"
Currently the snap only copied the edgex env file controlling which services startup after the start-edgex.sh script is run once, which means that to change it you either have to manually copy it into $SNAP_DATA and modify it, or run start-edgex then stop-edgex and modify the file and re-run start-edgex.

Also note that this may become somewhat of a moot point with #485 as this environment file wi

[2018-08-16 19:57] anonymouse64 opened #489 "master snap builds are failing due to config-seed file locations"
The master branch snap builds are all failing (for example: )https://jenkins.edgexfoundry.org/view/Snap/job/edgex-go-snap-master-stage-snap/64/console) due to config seed file locations being changed, so for example this line of code fails to find the config file from the repo: https://github.com/edgexfoundry/edgex-go/blob/master/snap/snapcraft.yaml#L193

The install lines such as
[code]
needs to

[2018-08-20 19:59] mhall119 opened #491 "Command call not being logged after following API Walkthrough"
Following the API calls in this walkthrough document, the PUT command is supposed to return a 503: Service Unavailable error (which is correct, as we're mocking the device in the walkthrough). But in reality it returns a 502: Bad Gateway error.

https://github.com/mhall119/edgex-go/blob/new-walkthrough/docs/walk-through/Ch-WalkthroughCommands.rst#execute-a-command

The command following this is a

[2018-08-20 20:19] mhall119 opened #492 "Rules Engine not showing in list of registered export clients"
Following the API walkthrough when I got to the step of checking on registered export clients, it returned an empty array when it should have at least had the Rules Engine listed.

https://github.com/mhall119/edgex-go/blob/new-walkthrough/docs/walk-through/Ch-WalkthroughExporting.rst#export-clients

When following the next step, to manually add another export client, it returns a 400 error with th

[2018-08-20 21:01] jpwhitemn commented on #492
This is fixed with California 0.6.1 release.

[2018-08-20 21:01] #492 closed

[2018-08-20 21:23] mhall119 commented on #492
Is the docker-compose-california-0.6.0.yml going to be updated to point to new images with this fix, or will there be a -0.6.1.yaml added?

[2018-08-21 18:38] mhall119 commented on #492
Confirming that this works with the 0.6.1 docker-compose file

[2018-08-21 18:51] mhall119 opened #493 "Unable to register export client when following the API Walkthrough"
https://github.com/mhall119/edgex-go/blob/new-walkthrough/docs/walk-through/Ch-WalkthroughExporting.rst#export-clients

When following the step to manually add another export client, it returns a 400 error with the message: Could not validate json fields

The JSON I'm POSTing is:
`{"name":"MyMQTTTopic","addressable":{"name":"MyMQTTBroker","protocol":"TCP","address":"tcp://m10.cloudmqtt.com","port"

[2018-08-21 19:09] feclare commented on #493
when trying to use your json I got the following trace in export-client:
{"level":"error","ts":1534878320.3670533,"caller":"client/registration.go:122","msg":"Failed to validate registrations fields","data":"{\"name\":\"MyMQTTTopic\",\"addressable\":{\"name\":\"MyMQTTBroker\",\"protocol\":\"TCP\",\"address\":\"tcp://m10.cloudmqtt.com\",\"port\":15421,\"publisher\":\"EdgeXExportPublisher\",\"user\"

[2018-08-21 23:53] mhall119 commented on #493
That did the trick! Thanks @feclare

[2018-08-21 23:53] #493 closed

[2018-08-22 07:10] drasko commented on #350
@dylanhantula out of curiosity - do you plan to change database code or link something to it, so AGPL license is dealbreaker, or is there some other motivation?

[2018-08-22 12:31] greenrobot opened #495 "Inconsistent use of ID: plain vs. Hex"
IDs sometimes require calling `Hex()` on them before actually using it. IMHO that should be transparent for users of the API. E.g. if I get an ID from 'AddReading', I expect the same ID to work on `ReadingById`. However, this does not work. One needs to call `id.Hex()` before using it sometimes. Example: https://github.com/edgexfoundry/edgex-go/blob/2af597a7a995ebe648009c2b42962d0dff3455a2/interna

[2018-08-22 12:50] jduranf commented on #495
@greenrobot, this issue was commented in this one #368, it should be fixed

[2018-08-22 17:23] tonyespy opened #496 "[snap/cali] Sometime security-start.sh fails with permission denied errors (Ubuntu 16.04)"
The california edgexfoundry snap sometimes fails at startup in the **security-start.sh** shell script with the following error:
[code]

This is an intermittent problem, and appears to be the result of a race condition, as I can stop/start EdgeX multiple times without issue (I just did 7 in a row with no problem).

I'm running snap version **0.6.0-20180822+67e0af0 (16)** installed from the **califo

[2018-08-22 17:38] anonymouse64 commented on #496
One way to fix this is to delete the kong_env file when we run the `stop-edgex` script, this ensures it doesn't exist when start-edgex is run.

[2018-08-22 19:29] jpwhitemn commented on #491
I just went through the walkthrough and confirmed that the code change did occur to return a 502 versus original 503 error response in command. According to HTTP documentation, 503 is suppose to suggest a "temporary state" on service unavailable so these were changed to 502 errors in some refactoring recently. So the system is working correctly, but the Walkthrough documentation should be update t

[2018-08-22 19:29] #491 closed

[2018-08-22 20:36] akramtexas opened #497 "Bring the new System Management Agent functionality into master."
- As part of bringing the new System Management Agent functionality into master, the refactoring done to split business logic from INFRA concerns is included therein.
- Details regarding the former can be [found here](https://wiki.edgexfoundry.org/display/FA/Phase+1%2C+System+Management+Delhi+Release)
- And details regarding the latter can be [found here](https://github.com/edgexfoundry/edgex-go/i

[2018-08-22 23:26] tsconn23 commented on #495
@greenrobot The issue stems from an unnecessary coupling to Mongo native types that can be found with varying layers of severity at all layers of the stack. As @mhall119 pointed out when you raised the issue via RocketChat, this is one of the reasons we're having the Persistence working group in order to determine a viable replacement for Mongo in a reference implementation for EdgeX.

Practical s

[2018-08-24 07:17] jduranf opened #501 "Check gofmt in all pull requests"
In the last commits, several code have been pushed which fails in gofmt check. One month ago, gofmt check was 100% and now is 94%, as can be seen in [edgex-go report card](https://goreportcard.com/report/github.com/edgexfoundry/edgex-go).

Maybe should be a good idea to modify [edgex-go-master-verify](https://jenkins.edgexfoundry.org/job/edgex-go-master-verify-go/) in order to check if the PR pass

[2018-08-24 07:34] feclare commented on #501
I agree
Adding it to make test will make it easy for people to test locally.

[2018-08-24 12:25] davidmsh opened #503 "Add support for AWS IoT in export"
To support  exporting device readings to AWS IoT things

[2018-08-24 15:27] jpwhitemn opened #505 "Log queries not working in containerized environment"
Issue when I try to query the log service.  I am not seeing errors and indeed log entries are making it to the database, but several queries I am making on the log API seem to not return results.  Blackbox tests seem to be working fine and the queries work fine when the service run outside of Docker.

As an example, if you go through the API Walkthrough, we have the command service attempt to call

[2018-08-24 19:10] anonymouse64 commented on #496
PR open: #508

[2018-08-24 19:16] anonymouse64 opened #509 "security services fail to start in snap due to popd permission denied"
From @tonyespy, when starting the snap up on a Ubuntu 16.04 classic system with security enabled and all interfaces connected for the snap:

[code]

I haven't been able to reproduce this one myself, but I think an easy fix for this would be to just at the top of the script do `cd $SNAP_DATA` and then the popd will go back to that directory which the snap should always have access to.

[2018-08-24 21:36] tsconn23 commented on #501
@JPWKU Thoughts?

[2018-08-27 12:10] jduranf opened #512 "It's not possible to modify the Enable parameter in the Registration"
Currently it's not possible to modify the Enable parameter in the Registration (export-client).
The code in registration.go is:
[code]

So, the Enable parameter isn't updated.

[2018-08-27 16:33] tsconn23 commented on #457
Assigned to @brandonforster for completion

[2018-08-27 17:27] tsconn23 opened #514 "Include version numbers in glide.yaml"
Include version numbers in the glide.yaml for build consistency in the Delhi release.

[2018-08-27 19:41] anonymouse64 commented on #509
I was able to reproduce this on a xenial classic install with encrypted home filesystem, and not able to reproduce this on a xenial classic system without an encrypted home filesystem, so I think the issue is definitely with using an encrypted filesystem.

[2018-08-27 19:46] anonymouse64 opened #515 "security denial for opening original working directory from start-edgex.sh"
I didn't notice this denial earlier, but this happens when running strictly confined either on a 16.04 classic system or on a 18.04 classic system. I haven't tested a UC16 system yet. If you run the `edgexfoundry.start-edgex` script as sudo from say your (non-root) normal user's $HOME directory like follows:

[code]

You will see the following denial show up in the system logs:

[code]

I was able

[2018-08-27 19:46] anonymouse64 commented on #515
Also note that this doesn't stop the snap from running at all, so it's a low priority bug

[2018-08-28 17:33] tsconn23 commented on #19
Closing. Duplicates of #182, #441, #442

[2018-08-28 17:33] #19 closed

[2018-08-28 17:40] tsconn23 opened #517 "Merge core-config-seed-go into the edgex-go repo"
In preparation for the upcoming ConfigV2 enhancements, we discussed during the 23-Aug-18 Core WG call the idea of merging the core-config-seed-go repo into the edgex-go repo. There was no emphatic opposition to doing this, so I'm creating this issue to initiate the effort.

- Initial migration should cover current functionality
- Java application.properties files should be in their own folder (sup

[2018-08-28 23:31] tonyespy opened #518 "Add snap config setting to control consul usage"
The snap currently always enables Consul and starts each service with the bootstrap parameter `--registry`. Also as of Edinburgh, the Consul is bound to the port 8500 via an environment variable which is set in snapcraft.yaml, so its technically not possible to change Consul's port without rebuilding the snap.

For Fuji, the snap should add a configure hook which supports a new key called **regist

[2018-08-28 23:34] tonyespy opened #519 "[snap] Config hook support for enabling/disabling individual services"
The California snap start & stop scripts read a file called **$SNAP_DATA/edgex-service-env** to determine which services to start/stop.  In Dehli, the snap instead should provide configure hook settings for each service, with a single setting controlling whether or not the security services should be started.

**Note** - this should probably be done at the same time we get rid of the start/stop sc

[2018-08-30 06:43] jduranf commented on #291
Closing this issue as there is the [Data Persistence Group](https://wiki.edgexfoundry.org/display/FA/Data+Persistence+Project+Group) working on it.

[2018-08-30 06:43] #291 closed

[2018-08-30 10:51] maxiwu opened #521 "GNUTLS error when I run "go get""
trying to run native on Ubuntu.
"go get ..." step gives me gnutls error (-9)

Could be git tool bug or github bug.
Does anyone else encounter this problem?
do I wait for git update to fix it? or do I use another OS to work around the problem?

having same tls error with git clone on Windows 7 too.

error on Ubuntu 16.04 detail, github version 2.7.4
error: RPC failed; curl 56 GnuTLS recv error (-9)

[2018-08-30 15:12] adrianmo opened #522 "Add support for basic authentication to HTTP export client"
Other export client implementations already allow authentication and I was thinking it would be interesting to add support for basic authentication in the HTTP client as well.

I'll submit a PR to address this.

[2018-08-31 01:56] #521 closed

[2018-08-31 05:12] maxiwu opened #525 "cannot find package error Makefile:61"
I think glide is trying to resolve the dependency but fail.

detail
Error scanning golang.org/x/net/internal/socks: cannot find package "."

I am following the guide to run native on Ubuntu. this error occur at step "make prepare".
Is there a way to work around?

[2018-08-31 07:09] maxiwu commented on #525
should be a glide bug. after a glide update, make prepare is done without error

[2018-08-31 07:09] #525 closed

[2018-08-31 07:54] maxiwu opened #526 "make build error, package not find and internal package package not allowed"
After successfully run "make prepare". then I run "make build".
it still complains about missing package like BurntSushi/toml and such. from both $GOROOT and $GOPATH
including go-zoo/bone, hashicorp/consul/api, go.uber.org/zap, gopkg.in/mgo.v2, gopkg.in/mgo.v2/bson

I try to fix it by running "go get ...", then come up a new exceptions
github.com/edgexfoundry/edgex-go/internal not allowed
github.c

[2018-08-31 12:35] jduranf opened #527 "Remove unused notify associate devices"
When a new addressable or device profile it's added in core-metadata, there is no sense to try to notify the device services which are using the addressable or device profile, because it's new and no one is using it.
In a similar way, there is no sense to try to notify when an addressable or device profile it's removed, because they can only be removed if they are not in use.

[2018-08-31 20:27] drasko commented on #522
Which clients and where?

[2018-08-31 20:33] #512 closed

[2018-09-01 00:14] drasko opened #529 "Core config should use default empty Mongo user/pass"
Currently some of the core services use different `username` and `password` for MongoDB. This prevents script to easily launch services on the local machine (not in docker) during the dev phase, without modification of `.toml` files.

[2018-09-03 03:52] maxiwu commented on #526
I think I run "go get github.com/edgexfoundry/edgex-go", but it does not show any message. No success or fail. Then I run git clone https://github.com/edgexfoundry/edgex-go

I install Glide using apt-get install glide. But then I updated it by "go get -u github.com/Masterminds/glide" to fix the package "." bug.

[2018-09-03 13:19] #527 closed

[2018-09-04 01:33] maxiwu commented on #526
clean up and retry.

apt get install for glide and git.
go get edgex-go
curl | sh for zeroMQ
This time, no error.

[2018-09-04 01:33] #526 closed

[2018-09-04 05:57] maxiwu commented on #529
Indeed very confusing. I am trying to install and deploy natively.
follow steps from official doc and mongo db configuration is not mentioned.
a lot of error just pop up when I start edgex services.

[2018-09-04 07:02] maxiwu opened #533 "rulesengine, logging and consul registry does not start"
I am still trying to run edgex natively. here is my steps:
1. successfully run make build with no errors
2. make run
3. only core command response to ping pong
4. install mongodb and fix configuration.toml (s)
5. create mongodb collections manually. coredata, exportclient, logEntry, logging
6. rulesengine, logging still does not response to ping
7. consul registry still 404 error

The error messag

[2018-09-04 09:09] adrianmo commented on #522
@drasko for example, [MQTT](https://github.com/edgexfoundry/edgex-go/blob/master/export/distro/mqtt.go), [XMPP](https://github.com/edgexfoundry/edgex-go/blob/master/export/distro/xmpp.go), [IoTCore](https://github.com/edgexfoundry/edgex-go/blob/master/export/distro/iotcore.go), or [InfluxDB](https://github.com/edgexfoundry/edgex-go/blob/master/export/distro/influxdb.go) export distro services supp

[2018-09-04 13:36] drasko commented on #526
https://medium.com/mainflux-iot-platform/edgex-in-anger-part-1-installation-5468c52be4d1

[2018-09-04 15:41] drasko commented on #529
@maxiwu sure - this is why [this](https://github.com/edgexfoundry/edgex-go/pull/530) PR is for.

Also, you can follow my blog on building and running EdgeX natively: https://medium.com/mainflux-iot-platform/edgex-in-anger-part-1-installation-5468c52be4d1

[2018-09-04 17:02] tsconn23 commented on #533
Did you run the init_mongo script?
https://github.com/edgexfoundry/developer-scripts/blob/master/init_mongo.js

That script creates all of the required collections and credentials in your local Mongo instance. The service credentials match those in this script.

[2018-09-04 17:26] drasko commented on #522
Needs spec and configurable implementation.

[2018-09-04 23:49] #514 closed

[2018-09-05 05:33] maxiwu commented on #533
ok, there is a script. I think you guys are trying to work this out. I have two questions

1. why javascript? we are doing things in GoLang, right? try to run a .js feel out of place. I need to install Node.JS just because I need to run this script? I would rather choose a manual create collections and user/password document over .js
2. this .js script is not mention in the .md. should update that

[2018-09-05 08:40] #529 closed

[2018-09-05 08:55] adrianmo commented on #522
ok, I'll work on it and update the PR.

[2018-09-05 19:38] tsconn23 commented on #533
@maxiwu Mongo has a native client for javascript. If you have Mongo running, you just type `mongo init_mongo.js`

[2018-09-05 21:19] #517 closed

[2018-09-06 01:54] maxiwu commented on #533
After running the script with init_mongo.js
"make run" do not have any exception.
I can see listening on port: 48082, 48090, 48061, 48081, 48060, 48080.

However, 48070, 48071, 48075 are all missing.
http://127.0.0.1:8500/ui also fail.
I try to ping every services, :48075 does not response.

[2018-09-06 15:36] tonyespy opened #535 "pkg/clients, pkg/models - Cleanup naming inconsistencies with complex names"
As a project, it'd be nice to come to some agreement on how we handle naming Go source files which contain single types with compound names (eg. DeviceProfile). Many of the files in edgex-go originally were ported from Java, hence the convention of putting struct types in separate files with matching filenames. As the code in pkg/clients and pkg/models is meant for external client consumption, we

[2018-09-06 15:46] drasko commented on #535
I thought that we did this already on one of the previous meetings, and conclusion was `snake_case`.

[2018-09-07 11:52] jduranf opened #536 "MongoDB test doesn't work"
After PR #494, MongoDB test doesn't work. This is the output console:

[code]

If it's fine, I will fix it.

Could be possible to perform `go test -tags mongoRunning` in `edgex-go-master-verify` to avoid this kind of issue happen again?

[2018-09-07 11:58] feclare commented on #536
It is not that easy. We need a mongo server running in localhost to be able to run that tests. I thought of creating a docker with mongo and run the tests inside. But I didn't had the time to build it.

This same idea could be used to test any other database supported.

[2018-09-07 13:13] mhall119 commented on #533
port 8500 is the Consul service, which isn't part of the edgex-go repo, so it wouldn't be something managed by `make run`

Ports 48070 and 48071 belong to the export-distro and export-client services respectively, and those look like they've started. Try calling the `/api/v1/ping` API on both and see if they return a `pong` response.

Port 48075 is used by the support-rulesengine microservice, whi

[2018-09-07 13:46] tsconn23 commented on #536
@jduranf Looks like you're running tests via some other means than `make test`. It looks like you're running tests within the pkg/db/mongo directory itself. Help me understand the approach. I'm not familiar with the `-tags` flag.

[2018-09-07 13:50] feclare commented on #536
The tests requiring some infrastructure running to be able to execute the test are protected by a build tag. This way we can have some tests that can be manually executed to test the mongo db backend.

@jduranf suggest that if it could be run in CI it will help to catch errors like this before getting them to master.

Example of how to use build flags:
https://github.com/edgexfoundry/edgex-go/blob

[2018-09-07 14:03] tsconn23 opened #538 "Config V2 -- core-command"
Changes to support config V2 in the core-command service:

1.) Reorganize configuration file using hierarchical TOML
2.) Hydrate TOML hierarchy into composable structs rather than one flattened struct
3.) Allow for re-use of individual configuration structs by other services
4. ) When passing configuration information into initialization functions, only pass the relevant struct
5.) When full URLs

[2018-09-07 14:11] tsconn23 commented on #536
Thanks @feclare

I changed the `make test` target locally to the following and I see the mongo error. Maybe we should just put this in the makefile to always run the tests this way.

[code]

[2018-09-07 14:16] feclare commented on #536
I don't like the idea of require having a running mongo(and probably influx) in the development machine to be able to run the tests. It makes setting up an developer environment harder than it is, and we need to simplify it, not make it even more complicated.

My idea to do it without requiring have them running locally and being easy to execute the test was to create a docker that was able to run

[2018-09-07 18:31] #536 closed

[2018-09-07 23:39] tonyespy commented on #496
I just ran a dozen start/stop cycles in a row on a Dell GW 3000 running Ubuntu Core 16 and using version 0.6.1~pre1-20180907+fb544b5 of the snap from the california/candidate channel. All the starts worked just fine, so I really think this issue is related to my home dir encryption on my classic Ubuntu Desktop system.

[2018-09-08 21:13] itamarhaber opened #539 "internal/export/distro/format.go:123:18: multiple-value uuid.NewV4() in single-value context"
Getting this after meging from master and running tests. Tending to blame @brandonforster wrt 02202ba32ee093c8ee38ead485d5d4925fd8d6f8 :)

[code]

[2018-09-08 21:52] andresrinivasan commented on #539
Try updating your glide.lock with

[code]

[2018-09-08 21:58] itamarhaber commented on #539
Or just removing the lock file entirely #panicstoosoon #facepalm

[2018-09-08 21:58] #539 closed

[2018-09-09 19:46] jpwhitemn commented on #505
This issue closed on the master branch with #373 .  This is a bug on the California branch.

That's the code in master:
https://github.com/edgexfoundry/edgex-go/blob/master/internal/support/logging/mongo.go#L90-L96
The code in california branch:
https://github.com/edgexfoundry/edgex-go/blob/california/support/logging/mongo.go#L81-L87

[2018-09-09 19:46] #505 closed

[2018-09-10 05:45] maxiwu commented on #533
thank you @mhall119 , I miss understand the relationship between docker build and -go.

[2018-09-10 05:45] #533 closed

[2018-09-10 06:27] jduranf commented on #503
Done via #504

[2018-09-10 06:27] #503 closed

[2018-09-10 06:30] jduranf commented on #113
Added support-notifications via #428 and #455

[2018-09-10 06:30] #113 closed

[2018-09-10 06:32] jduranf commented on #202
@hyogrin still working in this issue or we can close it?

[2018-09-10 06:34] jduranf commented on #294
Closing the issue, @tonyespy if it's still an issue, please open again

[2018-09-10 06:34] #294 closed

[2018-09-10 06:42] hyogrin commented on #202
I have been testing some of test cases right now but it is ok. you can close it.

[2018-09-10 06:46] jduranf commented on #316
Only event pushed time is updated via PUT in /api/v1/event/id/{id}.
Closing the issue as this have been fixed in #370

[2018-09-10 06:46] #316 closed

[2018-09-10 06:51] jduranf commented on #368
Done via #369, #390 and #494
@tsconn23 and @brandonforster, please open again if there are more to do

[2018-09-10 06:51] #368 closed

[2018-09-10 06:52] hyogrin commented on #202
@jduranf Still need some time. I have been testing some testcases right now. Would you give me a couple of weeks?

[2018-09-10 06:53] jduranf commented on #409
Done via #470

[2018-09-10 06:53] #409 closed

[2018-09-10 06:57] jduranf commented on #474
Related with #539

[2018-09-10 06:57] #474 closed

[2018-09-10 07:00] jduranf commented on #497
Closing via #498
Also related with #112

[2018-09-10 07:00] #497 closed

[2018-09-10 07:01] jduranf commented on #501
@JPWKU any news about this suggestion?

[2018-09-10 07:04] jduranf commented on #202
@hyogrin sure, I just want to know if this issue is still alive or not

[2018-09-10 08:15] cloudxxx8 commented on #316
@jduranf @tsconn23  please noticed that #370 fixed another issue, not this one.  the pushed field readings belonging to the event will still not be updated.  do you need me to fix it or just treat this issue as not-fix-issue, and the pushed field of reading object will be always null.

[2018-09-10 08:51] jduranf commented on #316
@cloudxxx8 I agree #370 didn't fix this issue, only it's related.
As have been said by @davidmsh, there is no really need to update the readings pushed time, and I think this issue was created only to comment if there is a really need to do such thing or not. And I think there is no real need.
Anyway, if you think there is a real need to implement such modification, we can reopen this issue.

[2018-09-10 09:10] jduranf opened #542 "Remove InfluxDB support in core-data"
Currently there is a buggy implementation of InfluxDB core-data, which doesn't pass the DB tests. It was [decided](https://wiki.edgexfoundry.org/display/FA/Core+Working+Group?preview=/329472/18907459/CoreWG-MeetingNotes-8-30-2018.pdf) that for Edinburgh release EdgeX will only support MongoDB and Redis as a reference DB, other DBs can be added latter as a plugins.
So should be fine to remove the c

[2018-09-10 15:49] jpwhitemn opened #544 "don't call device service call back with address is absent in metadata"
Don't issue callback to Device Service and get 404 error when the device service callback hasn't been provided.  See:  https://github.com/edgexfoundry/edgex-go/blob/eedc9eb0a22020749f2a2a4d87fc2a2b8f2f8a12/internal/core/metadata/rest_device.go#L1193

[2018-09-10 16:09] anonymouse64 opened #545 "support-logging logfile doesn't follow convention with other services"
The current support-logging logfile that is specified in the configuration.toml here: https://github.com/edgexfoundry/edgex-go/blob/335486c1d6d1d9e1ca23778dab0a15cd460a6520/cmd/support-logging/res/configuration.toml#L4
doesn't match the rest of the services which prefix the name of the service with `edgex-`.

This isn't a big deal, but changes things slightly for the snap, i.e. see the difference

[2018-09-10 23:45] #542 closed

[2018-09-11 14:22] tsconn23 opened #547 "Config V2 -- core-data"
Changes to support config V2 in the core-data service are listed below. Note that the config-seed has been modified in order to populate Consul with the necessary configuration to support core-data while preserving functionality for the other services.

1.) Reorganize configuration files using hierarchical TOML
2.) Create composable configuration structs that can be used to write/read to and from

[2018-09-11 15:14] anonymouse64 opened #548 "config-seed fails to run if some configuration.toml files aren't present"
This is an issue that affects the snap, because we don't want to stage all of the go service's configuration.toml files into the snap yet. For example, we haven't tested the go implementation of support-notificiations yet, and so are still using the Java version, which means that the configuration.toml for support-notifications isn't in the config folder, so when we invoke the new config-seed bina

[2018-09-11 15:15] anonymouse64 commented on #548
Note the correct thing is that config-seed should log that it failed to load the service's configuration.toml and move on to the other services without dying.

[2018-09-11 15:32] tsconn23 commented on #548
@anonymouse64 Please try again with the latest commit into master from this morning. I am unable to replicate using the latest master commit.

I renamed the support-notifications folder to simulate a delete. See below. The service reports "no such file or directory" and continues.
[code]

[2018-09-11 19:12] anonymouse64 commented on #548
Ah yes, now it works:
[code]

Thanks!

[2018-09-11 19:12] #548 closed

[2018-09-12 08:57] cloudxxx8 opened #551 "Addressable object should be extended"
So far, the design of Addressable is more HTTP friendly.  We encountered several issues about the insufficient fields of Addressable on different protocols.  For example:

1. There is no field for Modbus RTU, so the current Modbus Device Service (Java) borrow the address and path field.
https://wiki.edgexfoundry.org/display/FA/Modbus+-+Adding+a+device+to+EdgeX
2. There is no field to put key and c

[2018-09-12 12:49] davidmsh commented on #551
This is coming from my work for AWS export distro support. AWS (as with Google Core IoT, sometime MQTT) requires cert/key pair for connection but we do not have such properties in Addressable today. Current workaround is to define a export distro wide of cert/key in configuration.toml. The downside is obviously that we can only have one set of cert/key within an instance of export distro. I ever t

[2018-09-12 22:44] tonyespy opened #552 "[snap] Missing support-rulesengine"
While running the blackbox tests against the latest California candidate snap (**0.6.1~pre1-20180907+fb544b5 / 31**), I discovered that we'd never added **support-rulesengine** to the snap.

I've started this work [here](https://github.com/tonyespy/edgex-go/tree/cali-add-rulesengine), however there's an issue with the service not finding its template directory which is causing it to crash:

[2018-09-14 01:08] #328 closed

[2018-09-14 10:10] AhaEdgar opened #554 "Logging api couldn't return results in User Model"
1. `GET http://192.168.254.130:48061/api/v1/logs/0/9000000000000/1000`
[code]
However,

2.

3.

ps:
In `https://docs.edgexfoundry.org/support-logging.html`

could return results;

the rests all return null like [].

[2018-09-14 11:32] cloudxxx8 opened #555 "The error type returned by the HTTP client in pkg/clients package should be ErrServiceClient"
We created a error struct for HTTP client, but only part of the client leverage this struct.
The HTTP status code is important for error handling, so we need make all the client return ErrServiceClient instead of default error with error message.

[code]

The expected code:

[code]

Some current code we should change:

[code]